<div id="onboarding-finish">
  <div class="bg-body-color py-3"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="card border-0 text-center">
          <div class="card-body px-5">
            <div class="w-25 mx-auto">
              <%= image_pack_tag 'media/images/logo.png', class: 'w-100' %>
            </div>
            <div class="w-50 mx-auto my-5">
              <%= image_pack_tag 'media/images/thank-wizard.png', class: 'w-100' %>
            </div>
            <h1 class="text-dark font-30 text-black text-capitalize">setting up your account</h1>
            <p class="font-13 w-75 mx-auto font-400 mt-3 mb-5 text-black font-xxl-14">we are generating your organisation structure and dashboards. Bare with us, this might take a few minutes.
            </p>
            <div class="d-flex justify-content-center pb-5">
              <i class="fa fa-spinner fa-spin font-40 text-light-grey"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
