<%= form_for organisational_unit, url: regional_step_organisation_journeys_path, remote: true do |f| %>
  <h2>Name of Organisation</h2>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "Next" %>
  </div>
<% end %>
