<div class="row">
  <div class="col-md-12">
    <div class="card border-0 text-center">
      <div class="card-body px-sm-5 px-3 pt-5">
        <%= image_pack_tag 'media/images/onboarding.png', class: 'w-40' %>
        <h1 class="text-dark font-40 font-sm-25 font-400 text-black mt-4">Welcome To OpRes</h1>
        <p class="font-13 w-sm-75 w-100 mx-auto font-500 my-4 text-black font-xxl-14">In order to create the best experience for you, we need to ask a few simple questions. This will allow us to configure the application and data model, so that it fits your business and operational resilience targets.
        </p>
        <%= link_to "Let's get started", organisation_journey_path('organisation'), class: 'text-capitalize dark-btn btn font-500 font-14 w-sm-50 w-100 rounded-40 shadow-none py-2 mb-5 wait-loader' %>
      </div>
      <div class="horizondatl-eclipse pb-5">
        <span class="active-circle"><i class="fa fa-circle font-12" aria-hidden="true"></i></span>
        <span class="active-circle"><i class="fa fa-circle text-secondary font-12" aria-hidden="true"></i></span>
        <span class="active-circle"><i class="fa fa-circle text-secondary font-12" aria-hidden="true"></i></span>
      </div>
    </div>
  </div>
</div>
