.bsl-container {
  .wizard-body {
    .wizard-header {
      p {
        font-size: 14px;
      }
    }
    ul.nav-tabs {
      li.nav-item {
        a.nav-link {
          font-size: 14px;
          letter-spacing: 0.05em;
          color: #888;
        }
        a.active {
          position: relative;
          font-weight: bold;
          color: $black;
          &:after {
            content: "";
            position: absolute;
            height: 2px;
            width: 30px;
            background: $primary-green;
            left: 0;
            top: 90%;
          }
        }
      }
    }
    .checkbox-container {
      .form-check  {
        width: auto;
      }
    }
  }
}
.single-select2 {
  .select2-container--default {
    .select2-selection--single {
      height: 55px;
      display: flex;
      align-items: center;
      border: 1px solid #ced4da;
      .select2-selection__placeholder {
        font-size: 12px;
        color: #555;
      }
      .select2-selection__arrow {
        top: 50%;
        transform: translateY(-50%);
        right: 6px;
        b {
          border-color: $black transparent transparent transparent;
          border-style: solid;
          border-width: 5px 5px 0 5px;
        }
      }
    }
  }
}
.bsl-risk-very-low {
  background: $red;
  color: $white;
}
.bsl-risk-low {
  background: $yellow;
  color: $white;
}
.bsl-risk-low {
  background: $yellow;
  color: $white;
}
.bsl-risk-medium {
  background: orange;
  color: $white;
}
.bsl-risk-high {
  background: #80b7ec;
  color: $white;
}
.bsl-risk-very-high {
  background: $primary-green;
  color: $white;
}
.bsl-risk-slider-indicator {
  transition: 0.3s all;
}
.bsl-risk-slider-indicator:hover {
  color: $white !important;
  opacity: 0.7;
}
.add-supplier-modal {
  .modal-dialog {
    max-width: 700px;
    .modal-content {
      .modal-body {
        .nav.nav-tabs {
          border: 1px solid #ddd;
          border-radius: 4px;
          li.nav-item {
            a.nav-link {
              &:after {
                display: none;
              }
            }
            a.active {
              background: #000;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
.myinput {
  background: linear-gradient(to right, transparent 0%, #000 0%, #F3F5FA 0%, #F3F5FA 100%);
  border: 0;
  border-radius: 100px;
  height: 7px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}
.myinput::-webkit-slider-thumb {
  box-shadow: 0px 1px 3px 1px rgba(.68, .68, .68, .3);
  height: 20px;
  width: 20px;
  border-radius: 100px;
  background: #000;
  cursor: pointer;
  -webkit-appearance: none;
}


.wizard {
  max-width: 800px;
  margin: 50px auto;
}
.info {
  background: #000;
  width: 20px;
  height: 20px;
  color: #fff;
  border-radius: 100px;
  text-align: center;
  font-size: 13px;
  line-height: 22px;
  font-weight: 700;
  margin-left: auto;
  cursor: pointer;
}
.custom-placeholder {
  i.fa.fa-pencil {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #E4412E;
  }
  input[type="text"]::-webkit-input-placeholder {
    text-transform: capitalize;
    font-weight: bold;
    color: $black;
  }

  :-ms-input-placeholder {
    text-transform: capitalize;
    font-weight: bold;
    color: $black;
  }

  input[type="text"]::placeholder {
    text-transform: capitalize;
    font-weight: bold;
  }
}
.serverity-table {
  thead {
    tr {
      th {
        border-top: 0;
        border-bottom: 0;
        padding-left: 0;
      }
    }
  }
  tbody {
    tr {
      td {
        border-top: 0;
        padding-left: 0;
        padding-right: 0;
        p {
          border-left: 2px solid $primary-green;
        }
      }
    }
  }
}
