body {
  background: #F3F5FA;
}

.bsl-container {
  max-width: 700px;
  margin: 50px auto;
  .wizard-body {
    .wizard-header {
      p {
        font-size: 14px;
      }
    }
    ul.nav-tabs {
      li.nav-item {
        a.nav-link {
          font-size: 14px;
          letter-spacing: 0.05em;
          color: #888;
        }
        a.active {
          position: relative;
          font-weight: bold;
          color: #000;
          &:after {
            content: "";
            position: absolute;
            height: 2px;
            width: 30px;
            background: #6BEAB3;
            left: 0;
            top: 90%;
          }
        }
      }
    }
    .checkbox-container {
      .form-check  {
        width: 115px;
      }
    }
  }
}
.slidecontainer {
  input[type=range] {
    flex: 1;
  }
}

.add-supplier-modal {
  .modal-dialog {
    max-width: 700px;
    .modal-content {
      .modal-body {
        .nav.nav-tabs {
          border: 1px solid #ddd;
          border-radius: 4px;
          li.nav-item {
            a.nav-link {
              &:after {
                display: none;
              }
            }
            a.active {
              background: #000;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
