.bsl-container {
  max-width: 700px;
  margin: 50px auto;
  .wizard-body {
    .wizard-header {
      p {
        font-size: 14px;
      }
    }
    ul.nav-tabs {
      li.nav-item {
        a.nav-link {
          font-size: 14px;
          letter-spacing: 0.05em;
          color: #888;
        }
        a.active {
          position: relative;
          font-weight: bold;
          color: #000;
          &:after {
            content: "";
            position: absolute;
            height: 2px;
            width: 30px;
            background: #6BEAB3;
            left: 0;
            top: 90%;
          }
        }
      }
    }
    .checkbox-container {
      .form-check  {
        width: 115px;
      }
    }
  }
}
.add-supplier-modal {
  .modal-dialog {
    max-width: 700px;
    .modal-content {
      .modal-body {
        .nav.nav-tabs {
          border: 1px solid #ddd;
          border-radius: 4px;
          li.nav-item {
            a.nav-link {
              &:after {
                display: none;
              }
            }
            a.active {
              background: #000;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
.myinput {
  background: linear-gradient(to right, #000 0%, #000 50%, #F3F5FA 50%, #F3F5FA 100%);
  border: 0;
  border-radius: 100px;
  height: 7px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}
.myinput::-webkit-slider-thumb {
  box-shadow: 0px 1px 3px 1px rgba(.68, .68, .68, .3);
  height: 20px;
  width: 20px;
  border-radius: 100px;
  background: #000;
  cursor: pointer;
  -webkit-appearance: none;
}


.wizard {
  max-width: 800px;
  margin: 50px auto;
}
