.overflow-x-hidden {
  overflow-x: hidden;
}
.input-field {
  input {
    padding: 15px 10px;
    position: relative;
    height: auto;
    font-size: 12px;
    box-shadow: none;
  }
  .signup-select {
    padding: 15px 10px;
    position: relative;
    height: auto;
    font-size: 12px;
    outline: none;
    box-shadow: none;
    height: 65px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    & + i.fa {
      float: right;
      margin-top: -42px;
      margin-right: 5px;
      pointer-events: none;
      padding-right: 5px;
      position: relative;
      z-index: 10;
    }
  }
}
.password {
  position: relative;
    i {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
}
.error {
  font-size: 12px;
  color: #C03131;
}
.check-box-container {
  padding: 20px 0;
  .form-check {
    padding-left: 0;
    input[type=checkbox] {
      margin: 0 10px 0 0;
      position: relative;
    }
    .form-check-label {
      color: #999;
      font-size: 14px;
    }
  }
}
.btn-submit {
  width: 100%;
  background: #999;
  color: #fff;
  border: 0;
  outline: 0;
  padding: 10px;
}
.sign-up-text {
  p {
    font-size: 12px;
    a {
      color: #000;
      font-weight: bold;
      border-bottom: 1px solid #000;
    }
  }
}
.form-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 100px;
  .forget-password-text {
    a {
      color: #000;
      font-weight: bold;
      border-bottom: 1px solid #000;
      font-size: 12px;
    }
  }

  @media (max-width: 768px) {
    padding: 0 15px;
    max-width: 500px;
    margin: 0 auto 50px;
    h1 {
      font-size: 22px;
    }
  }
}
.form-style {
  .nav-tabs {
    border: 0;
    padding: 10px 0;
    visibility: hidden;
  .nav-link.active {
    position: relative;
    color: #000;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      width: 40px;
      height: 2px;
      background-color: #6BEAB3;
      top: 100%;
    }
  }
  .nav-link {
    border: 0;
    background: transparent;
    padding: 0;
    font-size: 12px;
    color: #333;
    padding-bottom: 5px;
    &:first-child {
      margin-right: 20px;
    }
  }
 }
}
.logo-container {
  height: 150px;
  display: flex;
  align-items: center;
  padding-left: 100px;
  img {
    width: 130px;
  }
  @media (max-width: 768px) {
    padding: 0 15px;
    justify-content: center;
  }
}
.login-wrapper {
  overflow-x: hidden;
  height: 100%;
}

.animated-field {
  position: relative;

  input {
    padding: 28px 10px 18px;
    font-size: 14px;
    height: 65px;;
  }

  input:placeholder-shown {
    padding: 22px 10px;
  }

  input:placeholder-shown + label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(1rem);
  }

  label {
    display: block;
    font-weight: 600;
    transition: all .3s;
    font-size: 0.75rem;
    position: absolute;
    top: 10px;
    left: 25px;
  }
}
