.overflow-x-hidden {
  overflow-x: hidden;
}
.password {
  position: relative;
    i {
      top: 50%;
      right: 20px;
      cursor: pointer;
      position: absolute;
      transform: translateY(-50%);
    }
}
.error {
  color: $error;
  font-size: 12px;
}
.check-box-container {
  .form-check {
    input[type=checkbox] {
      margin: 0 10px 0 0;
      position: relative;
    }
    .form-check-label {
      color: $medium-grey;
      font-size: 14px;
    }
  }
}
.btn-submit {
  border: 0;
  outline: 0;
  color: $white;
  background: $medium-grey;
}
.sign-up-text {
  p {
    font-size: 12px;
    a {
      color: $black;
      font-weight: bold;
      border-bottom: 1px solid $black;
    }
  }
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  input {
    height: auto;
    font-size: 12px;
    box-shadow: none;
    padding: 15px 10px;
    position: relative;
  }
  .signup-select {
    height: 40px;
    outline: none;
    padding: 5px 10px;
    font-size: 12px;
    box-shadow: none;
    appearance: none;
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    & + i.fa {
      top: 8px;
      right: 10px;
      z-index: 10;
      position: absolute;
      pointer-events: none;
    }
  }
  .forget-password-text {
    a {
      color: $black;
      font-size: 12px;
      font-weight: bold;
      border-bottom: 1px solid $black;
    }
  }

  @media (max-width: 768px) {
    padding: 0 15px;
    max-width: 500px;
    margin: 0 auto 50px;
    h1 {
      font-size: 22px;
    }
  }
}
.logo-container {
  height: 80px;
  display: flex;
  align-items: center;
  img {
    width: 130px;
  }
  @media (max-width: 768px) {
    padding: 0 15px;
    justify-content: center;
  }
}
.login-wrapper {
  height: 100%;
  overflow-x: hidden;
}

.animated-field {
  position: relative;

  input {
    height: 40px;
    font-size: 12px;
    padding: 15px 10px 0;
  }

  input:placeholder-shown {
    padding: 5px 10px;
  }

  input:placeholder-shown + label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(1rem);
  }

  label {
    top: 5px;
    left: 25px;
    display: block;
    font-weight: 600;
    font-size: 0.75rem;
    position: absolute;
    transition: all .3s;
  }
}