.highcharts-legend-item {
  display: none;
}
.highcharts-title {
  display: none;
}

.highcharts-background {
  height: 50 !important;
}

.donut-chart-react {
  margin-top: -80px;
}

.add-step-btn {
  color: $black;
  &:hover {
    color: $black;
  }
}

.trash-btn {
  color: $black;
  &:hover {
    color: $black;
  }
}

.five-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  .col {
    flex-basis: 20% !important;
  }
}
.highcharts-credits {
  display: none !important;
}
.pie-high-chart {
  .card-header {
    height: 275px;
    .chart-header-title {
      min-height: 42px;
    }
    .donut {
      height: 218px;
      display: flex;
      align-items: flex-end;
    }
    .semi-donut {
      height: 250px;
      display: flex;
    }
    .highcharts-container {
      z-index: 1 !important;
    }
    g.highcharts-series {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 165px;
        height: 80px;
        border-top-left-radius: 110px;
        border-top-right-radius: 110px;
        border: 1px solid #d6d5d5;
        border-bottom: 0;
        top: 27px;
        left: 24px;
        bottom: 0;
      }
    }
    .sm-donut {
      height: 130px;
      width: 110px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin: 0 auto;
    }
    .sm-donut-content {
      position: relative;
      width: 130px;
      .donut-value {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .donut-desc {
        width: 110px;
        display: flex;
        position: absolute;
        left: 50%;
        align-items: center;
        justify-content: flex-start;
        transform: translateX(-50%);
      }
    }
    .semi-donut-content {
      position: relative;
      .donut-value {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
      }
    }
    .donut-content {
      position: relative;
      .donut-value {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
.resiliece-indicator {
  .view-all {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #ddd;
  }
  .card-header {
    .header-wrapper {
      background: $pink;
      border-radius: 5px;
    } 
  }
  .sm-donut {
    height: 90px;
    width: 90px;
    display: flex;
    align-items: flex-end;
  }
  .nav-tabs {
    .nav-item {
      .nav-link.active {
        position: relative;
        font-weight: 700;
        &:after {
          content: "";
          left: 0;
          right: 0;
          top: 100%;
          position: absolute;
          height: 2px;
          width: 100%;
          background: $primary-green;
        }
      }
    }
  }
}
.custom-view-all {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-top: 1px solid;
  padding: 10px 0;
}
.circle {
  width: 15px;
  height: 15px;
  border-radius: 100px;
}
.green-1 {
  background: $primary-green;
}
.green-2 {
  background: $secondary-green;
}
.green-3 {
  background: $ternary-green;
}
.green-4 {
  background: #58C395;
}

.h-100px {
  height: 100px;
}

.custom-dropdown {
  button.dropdown-toggle {
    position: relative;
    &:after {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.min-h-560 {
  min-height: 540px;
}
.min-h-566 {
  min-height: 566px;
}

.new-dashboard {
  .content-area {
    .card {
      .card-heading {
        width: 90%;
      }
      .card-heading-icon {
        width: 10%;
      }
    }
    .custom-tab {
      margin: 0 -1%;
      .custom-item {
        width: 23%;
        margin: 0 1%;
        .custom-link {
          color: $black;
          background: $light-white;
          &.active {
            font-weight: 500;
            background: $white;
            border-left: 3px solid $black !important;
          }
        }
      }
    }
    .custom-high-chart {
      .pie-high-chart {
        .card-header {
          height: 200px;
          .donut {
            height: 150px;
          }
        }
        .card-body {
          .tiers {
            img {
              width: 20px;
            }
          }
        }
      }
    }
    .card {
      .card-body {
        .box {
          .nav-tabs {
            .nav-item {
              .nav-link {
                color: $light-black;
                &.active {
                  color: $black;
                  font-weight: 500;
                  &:after {
                    left: 0;
                    bottom: 0;
                    content: '';
                    width: 30px;
                    height: 2px;
                    position: absolute;
                    background-color: $primary-green;
                  }
                }
              }
            }
          }
        }
        .tab-content {
          .table-custom {
            .table {
              thead {
                th {
                  color: $light-grey;
                }
              }
            }
          }
        }
      }
    }
  }
  .custom-btns {
    a {
      color: $black;
      display: inline-block;
    }
  }
  .small-boxes {
    .card {
      .card-body {
        background: $body-bg-color;
      }
    }
  }
  .custom-search {
    height: 40px;
    .input-group {
      .btn {
        padding: 0 10px;
      }
    }
  }
  .custom-search-bar {
    .form-control-feedback {
      z-index: 2;
      color: $black;
      width: 2.375rem;
      height: 2.375rem;
      pointer-events: none;
      line-height: 2.375rem;
    }
    input {
      padding: 0 10px 0 40px;
      background-color: $body-bg-color;
      &:focus {
        box-shadow: none;
      }
    }
  }
}

.new-cloud-dashboard {
  .content-area {
    .card {
      .card-body {
        .directory {
          .directory-box {
            .first-level {
              position: relative;
              margin-bottom: 20px;
              li {
                margin-bottom: 10px;
                a {
                  color: $black;
                  padding: 10px;
                  vertical-align: top;
                  margin-bottom: 10px;
                  display: inline-block;
                  text-decoration: none;
                  background: $body-bg-color;
                  img {
                    width: 20px;
                  }
                }
              }
              &:after {
                left: 25px;
                top: 42px;
                width: 2px;
                content: '';
                height: 68%;
                position: absolute;
                background: $body-bg-color;
              }
            }
            .second-level {
              position: relative;
              margin-bottom: 20px;
              li {
                position: relative;
                margin-bottom: 10px;
                a {
                  padding: 10px;
                  color: $black;
                  vertical-align: top;
                  margin-bottom: 10px;
                  display: inline-block;
                  text-decoration: none;
                  background: $body-bg-color;
                }
                &:after {
                  top: 22px;
                  left: -14px;
                  width: 15px;
                  content: '';
                  height: 2px;
                  position: absolute;
                  background: $body-bg-color;
                }
              }
            }
            .third-level {
              position: relative;
              margin-bottom: 20px;
              li {
                position: relative;
                margin-bottom: 10px;
                a {
                  padding: 10px;
                  color: $black;
                  vertical-align: top;
                  margin-bottom: 10px;
                  display: inline-block;
                  text-decoration: none;
                  background: $body-bg-color;
                }
                &:after {
                  top: 22px;
                  left: -14px;
                  width: 15px;
                  content: '';
                  height: 2px;
                  position: absolute;
                  background: $body-bg-color;
                }
              }
              &:after {
                left: 9px;
                top: -10px;
                width: 2px;
                content: '';
                height: 92%;
                position: absolute;
                background: $body-bg-color;
              }
            }
          }
        }
      }
    }
    .no-gutters {
      .card {
        .card-body {
          .table {
            thead {
              tr {
                th {
                 position: relative;
                  .green-sm-cirle {
                    top: 5px;
                    right: 5px;
                    width: 6px;
                    height: 6px;
                    content: '';
                    position: absolute;
                    border-radius: 100%;
                    background: $primary-green;
                  }

                  .yellow-sm-cirle {
                   top: 5px;
                    right: 5px;
                    width: 6px;
                    height: 6px;
                    content: '';
                    position: absolute;
                    border-radius: 100%;
                    background: $yellow;
                  }

                  .orange-sm-cirle {
                    top: 5px;
                    right: 5px;
                    width: 6px;
                    height: 6px;
                    content: '';
                    position: absolute;
                    border-radius: 100%;
                    background: $dark-yellow;
                  }

                  .red-sm-cirle {
                    top: 5px;
                    right: 5px;
                    width: 6px;
                    height: 6px;
                    content: '';
                    position: absolute;
                    border-radius: 100%;
                    background: $red;
                  }
                }
              }
            }
            tbody {
              tr {
                td {
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}

.my-account {
  .custom-checkbox {
    input:checked ~ .checkmark {
      background: $black;
    }
    input:not(:checked) ~ .checkmark {
      background: inherit !important;
    }
    .checkmark {
      width: 22px !important;
      height: 22px !important;
      border-radius: 5px;
      &:after {
        left: 8px;
        top: 4px;
        width: 6px;
        height: 12px;
        border-width: 0 2px 2px 0;
      }
    }
  }
  .notification {
    .toggle-switch {
      a {
        img {
          width: 16px;
        }
      }
    }
  }
}

.supplier-show {
  .line-green {
    top: 10px;
    width: 3px;
    content: '';
    height: 50px;
    position: absolute;
    background-color: $primary-green;
  }
}