@-webkit-keyframes blinker {
  to {opacity: 0.0;}
  from {opacity: 1.0;}
}

.empty-donut-block {
  width: 100%;
  height: 100%;
  background: $lightest-grey;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.9s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:ease-in;
}

.empty-donut-line {
  width: 100%;
  height: 20px;
  background: $lightest-grey;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.9s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:ease-in;
}

i.paperclip {
  transform: rotate(225deg);
}

.highcharts-legend {
  display: none;
}

.highcharts-legend-item {
  display: none;
}

.highcharts-title {
  display: none;
}

.highcharts-background {
  height: 50px !important;
}

.highcharts-axis {
  display: none;
}

.highcharts-markers {
  .highcharts-point {
    display: none;
  }
}

.donut-chart-react {
  margin-top: -80px;
}

.pink-box {
  width: 160px;
  height: 160px;
}

.add-step-btn {
  color: $black;
  &:hover {
    color: $black;
  }
}

.trash-btn {
  color: $black;
  &:hover {
    color: $black;
  }
}

.five-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  .col {
    flex-basis: 20% !important;
  }
}
.highcharts-credits {
  display: none !important;
}

.pie-high-chart {
  .card-header {
    height: 275px;
    .chart-header-title {
      min-height: 42px;
    }
    .donut {
      height: 218px;
      display: flex;
      align-items: flex-end;
    }
    .semi-donut {
      height: 250px;
      display: flex;
    }
    .highcharts-container {
      z-index: 1 !important;
    }
    g.highcharts-series {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 165px;
        height: 80px;
        border-top-left-radius: 110px;
        border-top-right-radius: 110px;
        border: 1px solid #d6d5d5;
        border-bottom: 0;
        top: 27px;
        left: 24px;
        bottom: 0;
      }
    }
    .sm-donut {
      height: 130px;
      width: 110px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin: 0 auto;
    }
    .sm-donut-content {
      position: relative;
      width: 130px;
      .donut-value {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .donut-desc {
        width: 110px;
        display: flex;
        position: absolute;
        left: 50%;
        align-items: center;
        justify-content: flex-start;
        transform: translateX(-50%);
        top: 100%;
      }
      .highcharts-container {
        height: 100px !important;
        width: 100px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden !important;
        margin: 0 auto;
        ;
      }
    }
    .semi-donut-content {
      position: relative;
      .donut-value {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
      }
    }
    .donut-content {
      position: relative;
      .donut-value {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
.impact-highchart-wrapper {
  .highcharts-container {
    height: 100px !important;
    display: flex;
    align-items: center;
  }
  .donut-value {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.resiliece-indicator {
  .view-all {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #ddd;
  }
  .card-header {
    .header-wrapper {
      background: $pink;
      border-radius: 5px;
    } 
  }
  .sm-donut {
    height: 90px;
    width: 90px;
    display: flex;
    align-items: center;
  }
  .nav-tabs {
    .nav-item {
      .nav-link.active {
        position: relative;
        font-weight: 700;
        &:after {
          content: "";
          left: 0;
          right: 0;
          top: 100%;
          position: absolute;
          height: 2px;
          width: 100%;
          background: $primary-green;
        }
      }
    }
  }
}
.custom-view-all {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-top: 1px solid;
  padding: 10px 0;
}
.circle {
  width: 15px;
  height: 15px;
  border-radius: 100px;
}
.red-circle {
  background: $red;
}
.orange-circle {
  background: $dark-yellow;
}
.yellow-circle {
  background: $yellow;
}
.green-1 {
  background: $primary-green;
}
.green-2 {
  background: $secondary-green;
}
.green-3 {
  background: $ternary-green;
}
.green-4 {
  background: #58C395;
}

.h-100px {
  height: 100px;
}

.custom-dropdown {
  button.dropdown-toggle {
    position: relative;
    &:after {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.min-h-560 {
  min-height: 560px;
}
.min-h-566 {
  min-height: 566px;
}
.min-h-640 {
  min-height: 640px;
}

.new-dashboard {
  .content-area {
    .custom-tab {
      .custom-item {
        width: 23%;
        margin: 0 1%;
        .custom-link {
          color: $black;
          background: $light-white;
          &.active {
            font-weight: 600;
            background: $white;
            border-left: 3px solid $black !important;
          }
        }
      }
    }
    .custom-high-chart {
      .pie-high-chart {
        .card-header {
          height: 200px;
          .donut {
            height: 150px;
          }
        }
        .card-body {
          .tiers {
            img {
              width: 20px;
            }
          }
        }
      }
    }
    .card {
      .card-body {
        .box {
          .nav-tabs {
            .nav-item {
              .nav-link {
                color: $light-black;
                &.active {
                  color: $black;
                  font-weight: 500;
                  &:after {
                    left: 0;
                    bottom: 0;
                    content: '';
                    width: 30px;
                    height: 2px;
                    position: absolute;
                    background-color: $primary-green;
                  }
                }
              }
            }
          }
        }
        .tab-content {
          .table-custom {
            .table {
              thead {
                th {
                  color: $light-grey;
                }
              }
            }
          }
        }
      }
    }
  }
  .custom-btns {
    a {
      color: $black;
      display: inline-block;
    }
  }
  .custom-search {
    height: 40px;
    .input-group {
      .btn {
        padding: 0 10px;
      }
    }
  }
}

.new-cloud-dashboard {
  .content-area {
    .card {
      .card-body {
        .directory {
          .directory-box {
            .first-level {
              position: relative;
              margin-bottom: 20px;
              li {
                margin-bottom: 10px;
                a {
                  color: $black;
                  padding: 10px;
                  vertical-align: top;
                  margin-bottom: 10px;
                  display: inline-block;
                  text-decoration: none;
                  background: $body-bg-color;
                  img {
                    width: 20px;
                  }
                }
              }
              &:after {
                left: 25px;
                top: 42px;
                width: 2px;
                content: '';
                height: 68%;
                position: absolute;
                background: $body-bg-color;
              }
            }
            .second-level {
              position: relative;
              margin-bottom: 20px;
              li {
                position: relative;
                margin-bottom: 10px;
                a {
                  padding: 10px;
                  color: $black;
                  vertical-align: top;
                  margin-bottom: 10px;
                  display: inline-block;
                  text-decoration: none;
                  background: $body-bg-color;
                }
                &:after {
                  top: 22px;
                  left: -14px;
                  width: 15px;
                  content: '';
                  height: 2px;
                  position: absolute;
                  background: $body-bg-color;
                }
              }
            }
            .third-level {
              position: relative;
              margin-bottom: 20px;
              li {
                position: relative;
                margin-bottom: 10px;
                a {
                  padding: 10px;
                  color: $black;
                  vertical-align: top;
                  margin-bottom: 10px;
                  display: inline-block;
                  text-decoration: none;
                  background: $body-bg-color;
                }
                &:after {
                  top: 22px;
                  left: -14px;
                  width: 15px;
                  content: '';
                  height: 2px;
                  position: absolute;
                  background: $body-bg-color;
                }
              }
              &:after {
                left: 9px;
                top: -10px;
                width: 2px;
                content: '';
                height: 92%;
                position: absolute;
                background: $body-bg-color;
              }
            }
          }
        }
      }
    }
    .no-gutters {
      .card {
        .card-body {
          .table {
            thead {
              tr {
                th {
                 position: relative;
                  .green-sm-cirle {
                    top: 5px;
                    right: 5px;
                    width: 6px;
                    height: 6px;
                    content: '';
                    position: absolute;
                    border-radius: 100%;
                    background: $primary-green;
                  }

                  .yellow-sm-cirle {
                   top: 5px;
                    right: 5px;
                    width: 6px;
                    height: 6px;
                    content: '';
                    position: absolute;
                    border-radius: 100%;
                    background: $yellow;
                  }

                  .orange-sm-cirle {
                    top: 5px;
                    right: 5px;
                    width: 6px;
                    height: 6px;
                    content: '';
                    position: absolute;
                    border-radius: 100%;
                    background: $dark-yellow;
                  }

                  .red-sm-cirle {
                    top: 5px;
                    right: 5px;
                    width: 6px;
                    height: 6px;
                    content: '';
                    position: absolute;
                    border-radius: 100%;
                    background: $red;
                  }
                }
              }
            }
            tbody {
              tr {
                td {
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}

.my-account {
  .custom-checkbox {
    input:checked ~ .checkmark {
      background: $black;
    }
    input:not(:checked) ~ .checkmark {
      background: inherit !important;
    }
    .checkmark {
      width: 22px !important;
      height: 22px !important;
      border-radius: 5px;
      &:after {
        left: 7px;
        top: 3px;
        width: 6px;
        height: 12px;
      }
    }
  }
  .notification {
    .toggle-switch {
      a {
        img {
          width: 16px;
        }
      }
    }
  }
}

.supplier-show {
  .line-green {
    top: 10px;
    width: 3px;
    content: '';
    height: 50px;
    position: absolute;
    background-color: $primary-green;
  }
}

.bsl-dashboard {
  .red {
    width: 227px;
    height: 270px;
    .full-red-donut {
      width: 206px;
      height: 206px;
      border-radius: 100%;
      background-color: $red;
      .highcharts-series-group {
        display: none;
      }
    }
  }
  #section6 {
    .card {
      .tab-content {
        .accordion {
          .card {
            .card-header {
              .btn {
                position: relative;
                &[aria-expanded="false"]:after {
                  top: 16px;
                  right: 20px;
                  width: 20px;
                  height: 20px;
                  font-size: 12px;
                  content: '\f067';
                  line-height: 19px;
                  position: absolute;
                  border-radius: 100%;
                  border: 2px solid $black;
                  font-family: FontAwesome;
                }
                &[aria-expanded="true"]:after {
                  top: 16px;
                  right: 20px;
                  width: 20px;
                  height: 20px;
                  font-size: 12px;
                  content: '\f068';
                  line-height: 19px;
                  position: absolute;
                  border-radius: 100%;
                  border: 2px solid $black;
                  font-family: FontAwesome;
                }
                &:focus {
                  box-shadow: none;
                }
              }
            }
          }
        }
      }
    }
  }
  #section7, #dependency-map-section {
    .dependency-map {
      .map-boxes {
        height: 400px;
        overflow-x: scroll;
        padding-bottom: 20px;
        white-space: nowrap;
        ::-webkit-scrollbar {
          width: 10px;
        }

        ::-webkit-scrollbar-track {
          background-color: #ebebeb;
          -webkit-border-radius: 10px;
          border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb {
          -webkit-border-radius: 10px;
          border-radius: 10px;
          background: #6d6d6d;
        }

        .box-1 {
          vertical-align: top;
          display: inline-block;
          .heading {
            cursor: pointer;
          }
          .map-text {
            white-space: normal;
          }
          h6 {
            height: 45px;
            text-align: center;
            position: relative;
            white-space: normal;
            align-items: center;
            word-break: break-word;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            line-height: 31px;
            transition: .4s all;
            &:hover {
              width: auto;
            }
            &:after {
              top: 25px;
              content: '';
              height: 2px;
              width: 22px;
              right: -21px;
              position: absolute;
              background-color: $black;
            }
          }
          &:last-child {
            h6 {
              &:after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
.admin-portal-table {
  table {
    tbody {
      tr {
        td {
          vertical-align: middle;
        }
      }
      tr:last-child {
        border-bottom: 1px solid #dee2e6;
      }
    }
  }
}
.resilience-calculator-dashboard {
  .red {
    width: 227px;
    height: 270px;
    .full-red-donut {
      width: 206px;
      height: 206px;
      border-radius: 100%;
      background-color: $red;
      .highcharts-series-group {
        display: none;
      }
    }
  }
  #section6 {
    .dependency-map {
      ul {
        li {
          a {
            width: 100%;
            display: block;
            border-radius: 25px;
            color: $black !important;
            padding: 5px 10px !important;
            border: 1px solid $light-grey;
            background-color: $body-bg-color;
            &.active {
              background-color: $black;
              color: $white !important;
              border: 1px solid $black;
            }
          }
        }
      }
      .map-boxes {
        height: 400px;
        overflow-x: scroll;
        padding-bottom: 20px;
        white-space: nowrap;
        ::-webkit-scrollbar {
          width: 10px;
        }

        ::-webkit-scrollbar-track {
          background-color: #ebebeb;
          -webkit-border-radius: 10px;
          border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb {
          -webkit-border-radius: 10px;
          border-radius: 10px;
          background: #6d6d6d;
        }

        .box-1 {
          position: relative;
          vertical-align: top;
          display: inline-block;
          h6 {
            height: 45px;
            display: flex;
            text-align: center;
            white-space: normal;
            align-items: center;
            word-break: break-word;
          }
          &:after {
            top: 25px;
            content: '';
            height: 2px;
            width: 22px;
            right: -21px;
            position: absolute;
            background-color: $black;
          }
        }
        .pink-bg {
          color: #ec1b00;
          background-color: #fcc3bc;
        }
        .pink-text {
          color: #ec1b00;
        }
        &:last-child {
          .box-1 {
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
  #section8 {
    .text {
      position: relative;
      .mini-dot {
        top: 8px;
        left: -11px;
        width: 6px;
        height: 6px;
        content: '';
        position: absolute;
        border-radius: 100%;
        background-color: $black;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .pie-high-chart {
    .card-header {
      .sm-donut-content {
        .donut-desc {
          top: 100%;
        }
      }
    }
  }
  .impact-highchart-wrapper {
    .highcharts-container {
      height: auto !important;
      display: flex;
      align-items: center;
    }
    .donut-value {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media only screen and (max-width: 767px) {
  .bsl-dashboard {
    #section7, #dependency-map-section {
      .dependency-map {
        .map-boxes {
          .box-1 {
            width: 100px;
            .heading {
              h6 {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
  .resilience-calculator-dashboard {
    #section6 {
      .dependency-map {
        .map-boxes {
          .box-1 {
            width: 100px;
            .heading {
              h6 {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 567px) {
  .pie-high-chart-sm {
    .card-header {
      height: auto;
      .sm-donut-content {
        margin-top: 20px;
      }
    }
    .highchart-tabs {
      padding-bottom: 30px !important;
      margin-bottom:  30px;
    }
  }
}

@media only screen and (min-width: 1540px) {
  .pie-high-chart .card-header {
    height: auto;
    .h-200-highchart {
      height: auto;
    }
    .h-130px {
      height: auto;
    }
    .sm-donut-content {
      .donut-desc {
        bottom: 0;
        top: unset;
      }
      .sm-donut-desc {
        top: 115%;
      }
    }
  }
}
