<h1>Opres</h1>

<% if user_signed_in? %>
  <%= link_to 'Sign Out', sign_out_authentication_index_path, method: :delete, class: 'btn btn-danger' %>
<% else %>
  <%= link_to 'Login', authentication_index_path, class: 'btn btn-primary' %>
<% end %>
