<div class="bsl-container">
  <div class="card shadow">
    <div class="d-flex justify-content-between align-items-center py-3 px-4">
      <h5>Unit Admin</h5>
      <button type="submit" class="btn btn-md font-600 text-capitalize font-12 ml-auto dark-btn"><i class="fa fa-plus-circle mr-1"></i> Add New</button>
    </div>
    <div class="table-responsive">
      <table class="table custom-table font-14 m-0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-dark">abc</td>
            <td>abc@gmail.com</td>
            <td>
              <a class="mx-1 text-dark" href="#">Show</a>
              <a class="mx-1 text-dark" href="#">Edit</a>
              <a class="mx-1 text-dark" href="#">Delete</a>
            </td>
          </tr>
          <tr>
            <td class="text-dark">abc</td>
            <td>abc@gmail.com</td>
            <td>
              <a class="mx-1 text-dark" href="#">Show</a>
              <a class="mx-1 text-dark" href="#">Edit</a>
              <a class="mx-1 text-dark" href="#">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>