<div class="bsl-container">
  <div class="card p-3 shadow">
    <div class="back-btn-header mb-3">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      <span class="ml-2">back</span>
    </div>
    <h5 class="font-600 text-capitalize mb-3">Add Unit Admin</h5>
    <p class="font-14 mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. In amet aperiam, iste iusto dicta quisquam cumque mollitia veritatis</p>
    <form>
      <div class="form-group">
        <input type="text" placeholder="Name" class="w-100 font-12 form-control mb-2 shadow-none">
      </div>
      <div class="form-group">
        <input type="email" placeholder="Email" class="w-100 font-12 form-control mb-2 shadow-none">
      </div>
      <div class="form-group">
        <input type="password" placeholder="Password" class="w-100 font-12 form-control mb-2 shadow-none">
      </div>
      <div class="form-group">
        <input type="password" placeholder="Password Confirmation" class="w-100 font-12 form-control mb-2 shadow-none">
      </div>
      <div class="form-group">
        <select class="form-control w-100 font-12 form-control mb-2 shadow-none">
          <option>Organisation</option>
          <option>Market</option>
          <option>Bank</option>
          <option>Store</option>
        </select>
      </div>
      <div class="d-flex">
        <button type="submit" class="btn btn-md font-600 text-capitalize font-12 ml-auto dark-btn w-25">Save</button>
      </div>
    </form>
  </div>
</div>