<h3 class="mb-4">
  Institution
</h3>
<div class="card border-0 shadow">
  <div class="card-body">
    <table class="table">
      <tbody>
        <tr>
          <th class="border-top-0" scope="row">Name</th>
          <td class="border-top-0"><%= @institution.name %></td>
        </tr>
        <tr>
          <th  scope="row">Description</th>
          <td><%= @institution.description %></td>
        </tr>
        <tr>
          <th scope="row">Products</th>
          <td><%= @institution.pre_product_list %></td>
        </tr>
      </tbody>
    </table>
    <%= link_to 'Back', admin_institutions_path, class: 'btn dark-btn float-right' %>
  </div>
</div>
