<div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
  <h5 class="font-600">About this business service line</h5>
  <div class="mt-5">
    <div class="input-fields mb-5 pb-5 border-bottom">
      <div class="row align-items-center">
        <div class="col-md-4">
          <p class="text-capitalize font-14 font-600">business service line name </p>
        </div>
        <div class="col-md-7">
          <input type="text" placeholder="Enter Name" class="w-100 form-control font-12 h-auto py-3 shadow-none">
        </div>
        <div class="col-md-1 text-right">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col-md-4">
          <p class="text-capitalize font-14 font-600">business service line description </p>
        </div>
        <div class="col-md-7">
         <textarea id="textarea" rows="3" class="w-100 form-control font-12 shadow-none"></textarea>
        </div>
        <div class="col-md-1 text-right">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col-md-4">
          <p class="text-capitalize font-14 font-600">service tier</p>
        </div>
        <div class="col-md-7">
          <select class="form-control w-100 font-12 h-auto py-3 shadow-none">
            <option value="">Please Select</option>
            <optgroup label="Option group 1">
              <option value="">Option 1</option>
              <option value="">Option 2</option>
              <option value="">Option 3</option>
            </optgroup>
            <optgroup label="Option group 2">
              <option value="">Option 4</option>
              <option value="">Option 5</option>
              <option value="">Option 6</option>
            </optgroup>
          </select>
        </div>
        <div class="col-md-1 text-right">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col-md-4">
          <p class="text-capitalize font-14 font-600">region</p>
        </div>
        <div class="col-md-7">
          <select class="form-control w-100 font-12 h-auto py-3 shadow-none">
            <option value="">Please Select</option>
            <optgroup label="Option group 1">
              <option value="">Option 1</option>
              <option value="">Option 2</option>
              <option value="">Option 3</option>
            </optgroup>
            <optgroup label="Option group 2">
              <option value="">Option 4</option>
              <option value="">Option 5</option>
              <option value="">Option 6</option>
            </optgroup>
          </select>
        </div>
        <div class="col-md-1 text-right">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col-md-4">
          <p class="text-capitalize font-14 font-600">country</p>
        </div>
        <div class="col-md-7">
          <select class="form-control w-100 font-12 h-auto py-3 shadow-none">
            <option value="">Please Select</option>
            <optgroup label="Option group 1">
              <option value="">Option 1</option>
              <option value="">Option 2</option>
              <option value="">Option 3</option>
            </optgroup>
            <optgroup label="Option group 2">
              <option value="">Option 4</option>
              <option value="">Option 5</option>
              <option value="">Option 6</option>
            </optgroup>
          </select>
        </div>
        <div class="col-md-1 text-right">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col-md-4">
          <p class="text-capitalize font-14 font-600">brand/institiution</p>
        </div>
        <div class="col-md-7">
          <select class="form-control w-100 font-12 h-auto py-3 shadow-none">
            <option value="">Please Select</option>
            <optgroup label="Option group 1">
              <option value="">Option 1</option>
              <option value="">Option 2</option>
              <option value="">Option 3</option>
            </optgroup>
            <optgroup label="Option group 2">
              <option value="">Option 4</option>
              <option value="">Option 5</option>
              <option value="">Option 6</option>
            </optgroup>
          </select>
        </div>
        <div class="col-md-1 text-right">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="checkboxes-field mb-5 pb-5 border-bottom">
      <div class="row align-items-center">
        <div class="col-md-4 align-self-start">
          <p class="text-capitalize font-14 font-600 text-capitalize">channel</p>
        </div>
        <div class="col-md-7">
          <div class="checkbox-container d-flex justify-content-start flex-wrap">
            <div class="form-check d-flex align-items-center form-group">
              <input class="form-check-input mt-0 shadow-none" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label text-capitalize font-13" for="flexCheckDefault">
                Digital Bank
              </label>
            </div>
            <div class="form-check d-flex align-items-center ml-2 form-group">
              <input class="form-check-input mt-0 shadow-none" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label text-capitalize font-13" for="flexCheckDefault">
                mobile Bank
              </label>
            </div>
            <div class="form-check d-flex align-items-center ml-2 form-group">
              <input class="form-check-input mt-0 shadow-none" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label text-capitalize font-13" for="flexCheckDefault">
                branch
              </label>
            </div>
            <div class="form-check d-flex align-items-center form-group">
              <input class="form-check-input mt-0 shadow-none" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label text-capitalize font-13" for="flexCheckDefault">
                telephone
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-1 text-right align-self-start">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col-md-4 align-self-start">
          <p class="text-capitalize font-14 font-600 text-capitalize">product</p>
        </div>
        <div class="col-md-7">
          <div class="checkbox-container d-flex justify-content-start flex-wrap">
            <div class="form-check d-flex align-items-center form-group">
              <input class="form-check-input mt-0 shadow-none" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label text-capitalize font-13" for="flexCheckDefault">
                Digital Bank
              </label>
            </div>
            <div class="form-check d-flex align-items-center ml-2 form-group">
              <input class="form-check-input mt-0 shadow-none" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label text-capitalize font-13" for="flexCheckDefault">
                mobile Bank
              </label>
            </div>
            <div class="form-check d-flex align-items-center ml-2 form-group">
              <input class="form-check-input mt-0 shadow-none" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label text-capitalize font-13" for="flexCheckDefault">
                branch
              </label>
            </div>
            <div class="form-check d-flex align-items-center form-group">
              <input class="form-check-input mt-0 shadow-none" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label text-capitalize font-13" for="flexCheckDefault">
                telephone
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-1 text-right align-self-start">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="input-fields mb-5 pb-5 border-bottom">
      <div class="row align-items-center">
        <div class="col-md-4">
          <p class="text-capitalize font-14 font-600">Material Risk taker name</p>
        </div>
        <div class="col-md-7">
          <input type="text" placeholder="Enter Name" class="w-100 form-control font-12 h-auto py-3 shadow-none">
        </div>
        <div class="col-md-1 text-right">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col-md-4">
          <p class="text-capitalize font-14 font-600">material risk taker title</p>
        </div>
        <div class="col-md-7">
          <input type="text" placeholder="Enter Name" class="w-100 form-control font-12 h-auto py-3 shadow-none">
        </div>
        <div class="col-md-1 text-right">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col-md-4">
          <p class="text-capitalize font-14 font-600">email address</p>
        </div>
        <div class="col-md-7">
          <input type="text" placeholder="Enter Name" class="w-100 form-control font-12 h-auto py-3 shadow-none">
        </div>
        <div class="col-md-1 text-right">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="wizard-btn">
      <a href="" class="btn btn-light-grey btn-md font-600 text-capitalize font-12">previous</a>
      <a href="" class="btn btn-md font-600 text-capitalize font-12 float-right ml-2 dark-btn w-25">proceed</a>
      <a href="" class="btn btn-light-grey btn-md font-600 text-capitalize font-12 float-right btn-light-grey">save & close</a>
    </div>
  </div>
</div>