<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
  <h5 class="font-600 text-capitalize">internal service level target</h5>
  <div class="mt-5">
    <div class="input-fields mb-5 pb-5 border-bottom">
      <div class="row align-items-center">
        <div class="col-md-4">
          <p class="text-capitalize font-14 font-600">service level agreement target</p>
        </div>
        <div class="col-md-7">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text px-3 bg-white">%</div>
            </div>
            <input type="text" class="form-control form-control font-12 h-auto py-3 shadow-none" id="inlineFormInputGroup" placeholder="Enter Target">
          </div>
        </div>
        <div class="col-md-1 text-right">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row align-items-center mt-3">
        <div class="col-md-4">
          <p class="text-capitalize font-14 font-600">service level object target</p>
        </div>
        <div class="col-md-7">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text px-3 bg-white">%</div>
            </div>
            <input type="text" class="form-control form-control font-12 h-auto py-3 shadow-none" id="inlineFormInputGroup" placeholder="Enter Target">
          </div>
        </div>
        <div class="col-md-1 text-right">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row align-items-center mt-3">
        <div class="col-md-4">
          <p class="text-capitalize font-14 font-600">recovery point object target</p>
        </div>
        <div class="col-md-7">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text px-3 bg-white font-12">Minutes</div>
            </div>
            <input type="text" class="form-control form-control font-12 h-auto py-3 shadow-none" id="inlineFormInputGroup" placeholder="Enter Target">
          </div>
        </div>
        <div class="col-md-1 text-right">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="checkboxes-field mb-5 pb-5 border-bottom">
      <div class="row align-items-center">
        <div class="col-md-4 align-self-start">
          <p class="text-capitalize font-14 font-600 text-capitalize">required support hours</p>
        </div>
        <div class="col-md-7">
          <div class="checkbox-container d-flex justify-content-start flex-wrap">
            <div class="form-check d-flex align-items-center form-group">
              <input class="form-check-input mt-0" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label text-capitalize font-13" for="flexCheckDefault">
                24/7
              </label>
            </div>
            <div class="form-check d-flex align-items-center ml-2 form-group">
              <input class="form-check-input mt-0" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label text-capitalize font-13" for="flexCheckDefault">
                24/5
              </label>
            </div>
            <div class="form-check d-flex align-items-center ml-2 form-group">
              <input class="form-check-input mt-0" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label text-capitalize font-13" for="flexCheckDefault">
                18/7
              </label>
            </div>
            <div class="form-check d-flex align-items-center form-group">
              <input class="form-check-input mt-0" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label text-capitalize font-13" for="flexCheckDefault">
                18/5
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-1 text-right align-self-start">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="wizard-btn">
      <a href="" class="btn btn-light-grey btn-md font-600 text-capitalize font-12">previous</a>
      <a href="" class="btn btn-md font-600 text-capitalize font-12 float-right ml-2 dark-btn w-25">proceed</a>
      <a href="" class="btn btn-light-grey btn-md font-600 text-capitalize font-12 float-right btn-light-grey">save & close</a>
    </div>
  </div>
</div>