<div class="tab-pane fade" id="journey" role="tabpanel" aria-labelledby="profile-tab">
  <h5 class="font-600 text-capitalize">service line process</h5>
  <div class="mt-5">
    <div class="input-fields mb-4 pb-4 border-bottom border-top">
      <div class="row align-items-center">
        <div class="col-sm-12 my-3 d-flex justify-content-between align-items-center">
          <span>
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            <span class="font-14 font-600 ml-1 text-capitalize">step 1</span>
          </span>
          <span><i class="fa fa-trash font-16" aria-hidden="true"></i></span>
        </div>
        <div class="col-sm-12">
          <input type="text" class="w-100 font-12 form-control mb-3 shadow-none h-auto py-3" placeholder="example name">
          <textarea name="" class="form-control font-12 shadow-none mb-3" id="" cols="30" rows="4" placeholder="add description"></textarea>
        </div>
        <div class="col-sm-6 mb-sm-0 mb-3">
          <div class="card border-top-0 border-right-0 border-bottom-0 border-green green-border-card">
            <div class="card-body p-3">
              <span class="d-flex align-items-center mb-3">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                <i class="fa fa-ellipsis-v ml-1" aria-hidden="true"></i>
                <span class="font-12 font-600 ml-2 text-capitalize flex-1">supplier name</span>
                <span><i class="fa fa-trash font-12" aria-hidden="true"></i></span>
              </span>
              <ul class="list-group p-0 list-unstyled">
                <li class="font-12 text-capitalize font-weight-normal">3rd party</li>
                <li class="font-12 text-capitalize font-weight-normal">critical</li>
                <li class="font-12 text-capitalize font-weight-normal">Greater london UK</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-sm-0 mb-0">
          <div class="card border-top-0 border-right-0 border-bottom-0 black-border-card">
            <div class="card-body p-3">
              <span class="d-flex align-items-center mb-3">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                <i class="fa fa-ellipsis-v ml-1" aria-hidden="true"></i>
                <span class="font-12 font-600 ml-2 text-capitalize flex-1">supplier name</span>
                <span><i class="fa fa-trash font-12" aria-hidden="true"></i></span>
              </span>
              <ul class="list-group p-0 list-unstyled">
                <li class="font-12 text-capitalize font-weight-normal">3rd party</li>
                <li class="font-12 text-capitalize font-weight-normal">critical</li>
                <li class="font-12 text-capitalize font-weight-normal">Greater london UK</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 mt-4">
          <span data-toggle="modal" data-target="#exampleModal" class="cursor-pointer">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            <span class="font-14 font-600 ml-1 text-capitalize">add suppliers</span>
          </span>
        </div>
      </div>
    </div>
    <div class="input-fields mb-4 pb-4 border-bottom">
      <div class="row align-items-center">
        <div class="col-sm-12 my-3 d-flex justify-content-between align-items-center">
          <span>
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            <span class="font-14 font-600 ml-1 text-capitalize">step 2</span>
          </span>
          <span><i class="fa fa-trash font-16" aria-hidden="true"></i></span>
        </div>
        <div class="col-sm-12">
          <input type="text" class="w-100 font-12 form-control mb-3 shadow-none h-auto py-3" placeholder="add step title">
          <textarea name="" class="form-control font-12 shadow-none mb-3" id="" cols="30" rows="4" placeholder="add description"></textarea>
        </div>
        <div class="col-sm-12 mt-4">
          <span data-toggle="modal" data-target="#exampleModal" class="cursor-pointer">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            <span class="font-14 font-600 ml-1 text-capitalize">add suppliers</span>
          </span>
        </div>
      </div>
    </div>
    <div class="input-fields mb-4 pb-4 border-bottom">
      <div class="row align-items-center">
        <div class="col-sm-12 d-flex justify-content-between align-items-center">
          <span>
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            <span class="font-14 font-600 ml-1 text-capitalize">add another step</span>
          </span>
        </div>
      </div>
    </div>
    <div class="wizard-btn d-flex d-sm-block justify-content-between flex-column">
      <a href="" class="btn btn-light-grey btn-sm font-600 text-capitalize font-12 mb-3 mb-sm-0">previous</a>
      <a href="" class="btn btn-sm font-600 text-capitalize font-12 float-right ml-0 ml-sm-2 dark-btn w-25-sm w-100 mb-3 mb-sm-0">proceed</a>
      <a href="" class="btn btn-light-grey btn-sm font-600 text-capitalize font-12 float-right btn-light-grey">save & close</a>
    </div>
  </div>
</div>


<div class="modal fade add-supplier-modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 p-4">
        <h5 class="modal-title text-capitalize font-16" id="exampleModalLabel">add supplier to step 1</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <div class="row align-items-center mb-3">
          <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
            <p class="text-capitalize font-14 font-600">supplier name</p>
          </div>
          <div class="col-sm-7 order-3 order-sm-2">
            <input type="text" placeholder="Enter Name" class="w-100 form-control font-12 h-auto py-3 shadow-none">
          </div>
          <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
          </div>
        </div>
        <div class="row align-items-center mb-3">
          <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
            <p class="text-capitalize font-14 font-600">supplier type</p>
          </div>
          <div class="col-sm-7 order-3 order-sm-2">
            <input type="text" placeholder="Enter Name" class="w-100 form-control font-12 h-auto py-3 shadow-none">
          </div>
          <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
          </div>
        </div>
        <div class="row align-items-center mb-3">
          <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
            <p class="text-capitalize font-14 font-600">supplier status</p>
          </div>
          <div class="col-sm-7 order-3 order-sm-2">
            <ul class="nav nav-tabs d-flex" id="#" role="tablist">
              <li class="nav-item flex-1">
                <a class="nav-link active border-0 rounded-0 py-3 text-center" id="home-tab" data-toggle="tab" href="#" role="tab" aria-controls="home" aria-selected="true">About</a>
              </li>
              <li class="nav-item flex-1">
                <a class="nav-link border-0 rounded-0 py-3 text-center" id="#" data-toggle="tab" href="#" role="tab" aria-controls="profile" aria-selected="false">Internal SLA</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
          </div>
        </div>
        <div class="row align-items-center mb-3">
          <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
            <p class="text-capitalize font-14 font-600">country</p>
          </div>
          <div class="col-sm-7 order-3 order-sm-2">
            <select class="form-control w-100 font-12 h-auto py-3 shadow-none">
              <option value="">Please Select</option>
              <optgroup label="Option group 1">
                <option value="">Option 1</option>
                <option value="">Option 2</option>
                <option value="">Option 3</option>
              </optgroup>
              <optgroup label="Option group 2">
                <option value="">Option 4</option>
                <option value="">Option 5</option>
                <option value="">Option 6</option>
              </optgroup>
            </select>
          </div>
          <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
          </div>
        </div>
        <div class="row align-items-center mb-3">
          <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
            <p class="text-capitalize font-14 font-600">region</p>
          </div>
          <div class="col-sm-7 order-3 order-sm-2">
            <select class="form-control w-100 font-12 h-auto py-3 shadow-none">
              <option value="">Please Select</option>
              <optgroup label="Option group 1">
                <option value="">Option 1</option>
                <option value="">Option 2</option>
                <option value="">Option 3</option>
              </optgroup>
              <optgroup label="Option group 2">
                <option value="">Option 4</option>
                <option value="">Option 5</option>
                <option value="">Option 6</option>
              </optgroup>
            </select>
          </div>
          <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-lg dark-btn text-capitalize font-12 font-600">add supplier</button>
      </div>
    </div>
  </div>
</div>
