<div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
  <h5 class="font-600 text-capitalize">service line process</h5>
  <div class="mt-5">
    <div class="input-fields mb-4 pb-4 border-bottom border-top">
      <div class="row align-items-center">
        <div class="col-sm-12 my-3 d-flex justify-content-between align-items-center">
          <span>
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            <span class="font-14 font-600 ml-1 text-capitalize">step 1</span>
          </span>
          <span><i class="fa fa-trash font-16" aria-hidden="true"></i></span>
        </div>
        <div class="col-sm-12">
          <input type="text" class="w-100 font-12 form-control mb-2 shadow-none" placeholder="add step title">
          <textarea name="" class="form-control font-12 shadow-none" id="" cols="30" rows="3" placeholder="add description"></textarea>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              he
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              he
            </div>
          </div>
        </div>
        <div class="col-sm-12 mt-4">
          <span>
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            <span class="font-14 font-600 ml-1 text-capitalize">add suppliers</span>
          </span>
        </div>
      </div>
    </div>
    <div class="input-fields mb-4 pb-4 border-bottom">
      <div class="row align-items-center">
        <div class="col-sm-12 my-3 d-flex justify-content-between align-items-center">
          <span>
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            <span class="font-14 font-600 ml-1 text-capitalize">step 1</span>
          </span>
          <span><i class="fa fa-trash font-16" aria-hidden="true"></i></span>
        </div>
        <div class="col-sm-12">
          <input type="text" class="w-100 font-12 form-control mb-2 shadow-none" placeholder="add step title">
          <textarea name="" class="form-control font-12 shadow-none" id="" cols="30" rows="3" placeholder="add description"></textarea>
        </div>
        <div class="col-sm-12 mt-4">
          <span>
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            <span class="font-14 font-600 ml-1 text-capitalize">add suppliers</span>
          </span>
        </div>
      </div>
    </div>
    <div class="input-fields mb-4 pb-4 border-bottom">
      <div class="row align-items-center">
        <div class="col-sm-12 d-flex justify-content-between align-items-center">
          <span>
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            <span class="font-14 font-600 ml-1 text-capitalize">add another step</span>
          </span>
        </div>
      </div>
    </div>
    <div class="wizard-btn">
      <a href="" class="btn btn-light-grey btn-md font-600 text-capitalize font-12">previous</a>
      <a href="" class="btn btn-md font-600 text-capitalize font-12 float-right ml-2 dark-btn w-25">proceed</a>
      <a href="" class="btn btn-light-grey btn-md font-600 text-capitalize font-12 float-right btn-light-grey">save & close</a>
    </div>
  </div>
</div>