<div class="tab-pane fade" id="process" role="tabpanel" aria-labelledby="contact-tab">
  <h5 class="font-600 text-capitalize">service line process</h5>
  <div class="mt-5">
    <div class="input-fields card mb-5">
      <div class="card-body">
        <div class="row align-items-center mb-3">
          <div class="col-sm-12">
            <input type="text" class="form-control form-control font-12 h-auto py-2 shadow-none" id="inlineFormInputGroup" placeholder="Add Step Title">
          </div>
        </div>
        <div class="row align-items-center mb-3">
          <div class="col-sm-12">
            <textarea id="textarea" rows="3" placeholder="Add Description" class="w-100 form-control font-12 shadow-none"></textarea>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-sm-6 mb-3">
            <select class="form-control w-100 font-12 h-auto py-3 shadow-none">
              <option value="">Please Select</option>
              <optgroup label="Option group 1">
                <option value="">Option 1</option>
                <option value="">Option 2</option>
                <option value="">Option 3</option>
              </optgroup>
              <optgroup label="Option group 2">
                <option value="">Option 4</option>
                <option value="">Option 5</option>
                <option value="">Option 6</option>
              </optgroup>
            </select>
          </div>
          <div class="col-sm-6 mb-3">
            <select class="form-control w-100 font-12 h-auto py-3 shadow-none" disabled>
              <option value="">Please Select</option>
              <optgroup label="Option group 1">
                <option value="">Option 1</option>
                <option value="">Option 2</option>
                <option value="">Option 3</option>
              </optgroup>
              <optgroup label="Option group 2">
                <option value="">Option 4</option>
                <option value="">Option 5</option>
                <option value="">Option 6</option>
              </optgroup>
            </select>
          </div>
        </div>
         <div class="row align-items-center">
          <div class="col-sm-6 mb-3">
            <select class="form-control w-100 font-12 h-auto py-3 shadow-none">
              <option value="">Please Select</option>
              <optgroup label="Option group 1">
                <option value="">Option 1</option>
                <option value="">Option 2</option>
                <option value="">Option 3</option>
              </optgroup>
              <optgroup label="Option group 2">
                <option value="">Option 4</option>
                <option value="">Option 5</option>
                <option value="">Option 6</option>
              </optgroup>
            </select>
          </div>
          <div class="col-sm-6 mb-3">
            <select class="form-control w-100 font-12 h-auto py-3 shadow-none" disabled>
              <option value="">Please Select</option>
              <optgroup label="Option group 1">
                <option value="">Option 1</option>
                <option value="">Option 2</option>
                <option value="">Option 3</option>
              </optgroup>
              <optgroup label="Option group 2">
                <option value="">Option 4</option>
                <option value="">Option 5</option>
                <option value="">Option 6</option>
              </optgroup>
            </select>
          </div>
        </div>
        <div class="add-field mt-3">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
          <span class="font-12 text-capitalize font-600">Add another suplier/sytem</span>
        </div>
         <div class="add-field mt-3">
          <i class="fa fa-paperclip" aria-hidden="true"></i>
          <span class="font-12 text-capitalize font-600">Add File</span>
        </div>
      </div>
    </div>
    <div class="add-step mb-5">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <span class="font-12 text-capitalize font-600">Add another step</span>
    </div>
  </div>
  </div>
