<div class="tab-pane fade" id="risk-tab" role="tabpanel" aria-labelledby="home-tab">
  <h5 class="font-600">Impact Tolerances Baseline</h5>
  <div class="mt-5 risk-appetites" id="bsl-risks">
    <%= form.fields_for :risk_appetites do |risk_appetite| %>
      <%= render 'organisation/business_service_lines/partials/risk_appetite_fields', risk_appetite: risk_appetite %>
    <% end %>
  </div>
</div>
