<div class="tab-pane fade" id="risk-tab" role="tabpanel" aria-labelledby="home-tab">
  <h5 class="font-600">Set Risk Appetite</h5>
  <div class="mt-5">
    <div class="progress-fields mb-5 pb-5 border-bottom">
      <div class="row align-items-center">
        <div class="col-md-12 mb-4">
          <p class="text-capitalize font-14 font-600">SLO Risk appetite rules engine</p>
        </div>
        <div class="col-md-7 d-flex align-items-center mb-sm-0 mb-2">
          <div class="slidecontainer d-flex align-items-center w-100">
            <span class="font-12 font-300 mr-2 light-text text-capitalize font-600">very low</span>
            <div class="chrome flex-1">
              <input type="range" min="0" max="50000" class="w-100 myinput" id="myinput_one" />
            </div>
            <span class="font-12 font-300 ml-2 light-text text-capitalize font-600">very high</span>
          </div>
        </div>
        <div class="col-md-5 d-flex align-items-center">
          <div class="input-group w-50 mr-1">
            <div class="input-group-prepend">
              <div class="input-group-text px-3 bg-white font-12">%</div>
            </div>
            <input type="text" class="form-control form-control font-12 h-auto py-3 shadow-none" id="demo" placeholder="0">
          </div>
          <a href="" class="btn font-13 font-500 text-capitalize pink-btn font-600 w-50 ml-1 py-3">medium</a>
        </div>
        <div class="col-md-12 mt-4">
          <div class="card">
            <div class="card-body d-flex align-items-center justify-content-between p-3">
              <span class="text-capitalize light-text font-12 ">add justification</span>
              <span class="font-600 text-capitalize font-12">expand</span>
            </div>
          </div>
          <small class="small text-capitalize light-text font-10 font-600">jane doe 12th March 2021 14:19</small>
        </div>
      </div>
    </div>
    <div class="progress-fields mb-5 pb-5 border-bottom">
      <div class="row align-items-center">
        <div class="col-md-12 mb-4">
          <p class="text-capitalize font-14 font-600">SLO Risk appetite rules engine</p>
        </div>
        <div class="col-md-7 d-flex align-items-center mb-sm-0 mb-2">
          <div class="slidecontainer d-flex align-items-center w-100">
            <span class="font-12 font-300 mr-2 light-text text-capitalize font-600">very low</span>
            <div class="chrome flex-1">
              <input type="range" min="0" max="50000" class="w-100 myinput" id="myinput_two" />
            </div>
            <span class="font-12 font-300 ml-2 light-text text-capitalize font-600">very high</span>
          </div>
        </div>
        <div class="col-md-5 d-flex align-items-center">
          <div class="input-group w-50 mr-1">
            <div class="input-group-prepend">
              <div class="input-group-text px-3 bg-white font-12">%</div>
            </div>
            <input type="text" class="form-control form-control font-12 h-auto py-3 shadow-none" id="demo" placeholder="0">
          </div>
          <a href="" class="btn font-13 font-500 text-capitalize light-green-btn font-600 w-50 ml-1 py-3">medium</a>
        </div>
        <div class="col-md-12 mt-4">
          <div class="card">
            <div class="card-body d-flex align-items-center justify-content-between p-3">
              <span class="text-capitalize light-text font-12 ">add justification</span>
              <span class="font-600 text-capitalize font-12">expand</span>
            </div>
          </div>
          <small class="small text-capitalize light-text font-10 font-600">jane doe 12th March 2021 14:19</small>
        </div>
      </div>
    </div>
    <div class="wizard-btn d-flex d-sm-block justify-content-between flex-column">
      <a href="" class="btn btn-light-grey btn-sm font-600 text-capitalize font-12 mb-3 mb-sm-0">previous</a>
      <a href="" class="btn btn-sm font-600 text-capitalize font-12 float-right ml-0 ml-sm-2 dark-btn w-25-sm w-100 mb-3 mb-sm-0">proceed</a>
      <a href="" class="btn btn-light-grey btn-sm font-600 text-capitalize font-12 float-right btn-light-grey">save & close</a>
    </div>
  </div>
</div>
