<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
  <h5 class="font-600 text-capitalize">supplier SLA target</h5>
  <div class="mt-5">
    <div class="input-fields mb-5 pb-5 border-bottom">
      <div class="row align-items-center">
        <div class="col-md-4">
          <p class="text-capitalize font-14 font-600">supplier incident notification severity 1</p>
        </div>
        <div class="col-md-7">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text px-3 bg-white font-12">Minutes</div>
            </div>
            <input type="text" class="form-control form-control font-12 h-auto py-3 shadow-none" id="inlineFormInputGroup" placeholder="Enter Target">
          </div>
        </div>
        <div class="col-md-1 text-right">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row align-items-center mt-3">
        <div class="col-md-4">
          <p class="text-capitalize font-14 font-600">supplier incident notification severity 2</p>
        </div>
        <div class="col-md-7">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text px-3 bg-white font-12">Minutes</div>
            </div>
            <input type="text" class="form-control form-control font-12 h-auto py-3 shadow-none" id="inlineFormInputGroup" placeholder="Enter Target">
          </div>
        </div>
        <div class="col-md-1 text-right">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row align-items-center mt-3">
        <div class="col-md-4">
          <p class="text-capitalize font-14 font-600">supplier incident notification severity 3</p>
        </div>
        <div class="col-md-7">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text px-3 bg-white font-12">Minutes</div>
            </div>
            <input type="text" class="form-control form-control font-12 h-auto py-3 shadow-none" id="inlineFormInputGroup" placeholder="Enter Target">
          </div>
        </div>
        <div class="col-md-1 text-right">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row align-items-center mt-3">
        <div class="col-md-4">
          <p class="text-capitalize font-14 font-600">3rd/4th party serverity 1 restoration of service time</p>
        </div>
        <div class="col-md-7">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text px-3 bg-white font-12">Minutes</div>
            </div>
            <input type="text" class="form-control form-control font-12 h-auto py-3 shadow-none" id="inlineFormInputGroup" placeholder="Enter Target">
          </div>
        </div>
        <div class="col-md-1 text-right">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="wizard-btn">
      <a href="" class="btn btn-light-grey btn-md font-600 text-capitalize font-12">previous</a>
      <a href="" class="btn btn-md font-600 text-capitalize font-12 float-right ml-2 dark-btn w-25">proceed</a>
      <a href="" class="btn btn-light-grey btn-md font-600 text-capitalize font-12 float-right btn-light-grey">save & close</a>
    </div>
  </div>
  </div>