
<div id="global-banks" class="lazy-graph" data-key="global_institution" data-args="<%= {}.to_json %>" data-append-to="global-banks" data-partial-name="global_banks_resilience_posture" data-filters="<%= filters.to_json %>">
  <%= render 'organisation/graphs/partials/global_banks_resilience_posture', data: {} %>
</div>
