<div class="modal fade mt-5 pt-5" id="dashboard-tour-end-modal" role="dialog" aria-labelledby="welcome-tour-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header border-0 pb-0 pt-0">
          <button type="button" class="close mt-1" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pt-5 pb-4">
          <p class="font-25 font-400 text-center">Thanks for taking OpRes launch tour</p>
        </div>
        <div class="modal-footer border-0 pb-5 d-flex justify-content-center">
          <button type="button" class="btn font-500 bg-primary-green rounded-50 border py-2 px-4 shadow-none" data-dismiss="modal">End Tour</button>
        </div>
      </div>
    </div>
</div>
