<div class="pb-5 my-5">
  <div class="wizard px-4 h-75">
    <div class="shadow-sm card">
      <div class="card-body">
        <h1 class="text-capitalize text-center">Welcome to OpRes</h1>
      </div>
      <div id='journey-step'>
        <%= render "organisation/journeys/steps/#{@step.underscore}" %>
      </div>
    </div>
  </div>
</div>
