<div class="row mt-5">
  <div class="col-sm-12 col-md-8 col-xxl-10 mx-auto">
    <div class="shadow-sm card">
      <div class="card-body">
        <h1 class="text-capitalize text-center">Welcome to OpRes</h1>
      </div>
      <div id='journey-step'>
        <%= render "organisation/journeys/steps/#{@step.underscore}" %>
      </div>
    </div>
  </div>
</div>
