<% if data.present? %>
  <div class="card border-0 shadow-sm rounded-50 mb-4">
    <div class="card-body px-0">
      <div class="box">
        <div class="d-flex align-items-start align-items-md-center justify-content-between flex-column flex-md-row mb-4 px-4">
          <h5 class="text-capitalize text-left font-16 mb-3 mb-md-0">Cloud Service Provider Dashboard</h5>
          <div class="icon-btn text-right d-flex align-items-center flex-1 justify-content-md-end justify-content-between w-100">
            <a href="#" class="btn btn-sm btn-dark px-3 py-2 d-flex align-items-center mr-2">
              <i class="fa fa-expand mr-2"></i>
              <span>Expand</span>
            </a>
            <a href="#" class="align-items-center text-dark">
              <i class="fa fa-ellipsis-v text-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="row directory">
          <div class="col-lg-3 directory-box">
            <ul class="first-level list-unstyled px-3">
              <li>
                <a href="#" class="w-100">
                  <%= image_pack_tag 'media/images/aws.png', class: 'img-fluid ml-2' %>
                  <span class="font-12 font-400 ml-1">AWS</span>
                </a>
                <ul class="second-level list-unstyled pl-4">
                  <li>
                    <a href="#" class="w-100">
                      <span class="font-12 font-400">Iaas</span>
                    </a>
                    <ul class="third-level list-unstyled pl-4">
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">+ 14 more</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" class="w-100">
                      <span class="font-12 font-400">Paas</span>
                    </a>
                    <ul class="third-level list-unstyled pl-4">
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">+ 14 more</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" class="w-100">
                      <span class="font-12 font-400">Saas</span>
                    </a>
                    <ul class="third-level list-unstyled pl-4">
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">+ 14 more</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 directory-box">
            <ul class="first-level list-unstyled px-3">
              <li>
                <a href="#" class="w-100">
                  <%= image_pack_tag 'media/images/g-cloud.png', class: 'img-fluid ml-2' %>
                  <span class="font-12 font-400 ml-1">GCP</span>
                </a>
                <ul class="second-level list-unstyled pl-4">
                  <li>
                    <a href="#" class="w-100">
                      <span class="font-12 font-400">Iaas</span>
                    </a>
                    <ul class="third-level list-unstyled pl-4">
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">+ 14 more</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" class="w-100">
                      <span class="font-12 font-400">Paas</span>
                    </a>
                    <ul class="third-level list-unstyled pl-4">
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">+ 14 more</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" class="w-100">
                      <span class="font-12 font-400">Saas</span>
                    </a>
                    <ul class="third-level list-unstyled pl-4">
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">+ 14 more</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 directory-box">
            <ul class="first-level list-unstyled px-3">
              <li>
                <a href="#" class="w-100">
                  <%= image_pack_tag 'media/images/azure.png', class: 'img-fluid ml-2' %>
                  <span class="font-12 font-400 ml-1">Azure</span>
                </a>
                <ul class="second-level list-unstyled pl-4">
                  <li>
                    <a href="#" class="w-100">
                      <span class="font-12 font-400">Iaas</span>
                    </a>
                    <ul class="third-level list-unstyled pl-4">
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">+ 14 more</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" class="w-100">
                      <span class="font-12 font-400">Paas</span>
                    </a>
                    <ul class="third-level list-unstyled pl-4">
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">+ 14 more</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" class="w-100">
                      <span class="font-12 font-400">Saas</span>
                    </a>
                    <ul class="third-level list-unstyled pl-4">
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">+ 14 more</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 directory-box">
            <ul class="first-level list-unstyled px-3">
              <li>
                <a href="#" class="w-100">
                  <%= image_pack_tag 'media/images/black-cloud.png', class: 'img-fluid ml-2' %>
                  <span class="font-12 font-400 ml-1">Private Cloud</span>
                </a>
                <ul class="second-level list-unstyled pl-4">
                  <li>
                    <a href="#" class="w-100">
                      <span class="font-12 font-400">Iaas</span>
                    </a>
                    <ul class="third-level list-unstyled pl-4">
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">+ 14 more</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" class="w-100">
                      <span class="font-12 font-400">Paas</span>
                    </a>
                    <ul class="third-level list-unstyled pl-4">
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="w-100">
                          <span class="font-10 font-400">+ 14 more</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">
                      <span class="font-12 font-400">Saas</span>
                    </a>
                    <ul class="third-level list-unstyled pl-4">
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">Component 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="font-10 font-400">+ 14 more</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
