<div class="card border-0 rounded-50">
  <div class="card-body">
    <div class="d-flex align-items-start align-items-sm-center justify-content-between flex-wrap flex-sm-row flex-column">
      <h5 class="font-400 text-capitalize text-capitalize flex-1 mb-3 mr-4">Public cloud critical system/supplier breakdown</h5>
      <div class="filter-grouped d-flex mr-2 mb-3 align-items-center justify-content-between">
        <div class="dropdown body-color-dropdown mr-2">
          <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class='dropdown-toggle text-capitalize py-2 pr-5 pl-2 d-flex align-items-center justify-content-start font-12 text-dark font-400 text-decoration-none' id='top-10'>view top 10</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item">Action</a>
            <a class="dropdown-item">Filter top 10</a>
            <a class="dropdown-item">Filter top 10</a>
          </div>
        </div>
        <i class="fa fa-ellipsis-v"></i>
      </div>
    </div>
    <div class="custom-tab-content" >
      <%= render 'organisation/dashboard_break_downs/partials/consumption_model' %>
    </div>
  </div>
</div>

<div id="modal-window">
  
</div>
