<section id="section1" class="section mb-4">
  <div class="card border-0 shadow-sm rounded-50 mb-3">
    <div class="card-body">
      <div class="d-flex align-items-center px-1">
        <i class="fa fa-sliders"></i>
        <h5 class="text-capitalize font-600 ml-2">segmentation options</h5>
      </div>
      <%= form_tag system_supplier_resilience_indicator_organisation_dashboard_break_downs_path, method: :get do %>
        <div class="row no-gutters mt-3">
          <div class="col-lg px-1 col-md-4 col-sm-6">
            <!-- <label for="sl" class="font-12 pl-2 ml-1 text-capitalize select-arrow position-relative shadow-sm bg-light"><span>supplier type</span>
              <%#= select_tag "filter", options_for_select(SupplierStep.party_types.map { |k,v| [k.titleize, k] }), class: "form-control w-100 font-12 h-auto border-0 shadow-none bg-light border-0 shadow-none pr-4", onchange: 'RailsUJS.fire(this.form, "submit")', id: 'sl' %>
              <i class="fa fa-sort-desc position-absolute" aria-hidden="true"></i>
            </label> -->
            <div class="dropdown custom-dropdown">
              <button class="border-0 p-3 bg-body-color dropdown-toggle w-100 shadow-none mb-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h6 class="d-flex flex-column align-items-start text-capitalize font-12 font-xxl-14">
                  <span class="font-500 text-capitalize mb-2">supplier type</span>
                  <span class="font-500 text-capitalize">3rd Party</span>
                </h6>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="form-group dropdown-item pl-3 m-0">
                  <label for="ch39" class="custom-checkbox d-flex m-0">
                    <span class="font-12 text-black text-capitalize">View All</span>
                    <input type="checkbox" class="form-control" id="ch39">
                    <span class="transparent-checkmark"></span>
                  </label>
                </div>
                <div class="form-group dropdown-item pl-3 m-0">
                  <label for="ch69" class="custom-checkbox d-flex m-0">
                    <span class="font-12 text-black text-capitalize">AMERS</span>
                    <input type="checkbox" class="form-control" id="ch69">
                    <span class="transparent-checkmark"></span>
                  </label>
                </div>
                <div class="form-group dropdown-item pl-3 m-0">
                  <label for="ch59" class="custom-checkbox d-flex m-0">
                    <span class="font-12 text-black text-capitalize">APAC</span>
                    <input type="checkbox" class="form-control" id="ch59">
                    <span class="transparent-checkmark"></span>
                  </label>
                </div>
                <div class="form-group dropdown-item pl-3 m-0">
                  <label for="ch79" class="custom-checkbox d-flex m-0">
                    <span class="font-12 text-black text-capitalize">EMEA</span>
                    <input type="checkbox" class="form-control" id="ch79">
                    <span class="transparent-checkmark"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg px-1 col-md-4 col-sm-6">
            <div class="dropdown custom-dropdown">
              <button class="border-0 p-3 bg-body-color rounded dropdown-toggle w-100 shadow-none mb-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h6 class="d-flex flex-column align-items-start text-capitalize font-12 font-xxl-14">
                  <span class="font-500 text-capitalize mb-2">region</span>
                  <span class="font-500 text-capitalize text-light-grey">view all</span>
                </h6>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="form-group dropdown-item pl-3 m-0">
                  <label for="ch39" class="custom-checkbox d-flex m-0">
                    <span class="font-12 text-black text-capitalize">View All</span>
                    <input type="checkbox" class="form-control" id="ch39">
                    <span class="transparent-checkmark"></span>
                  </label>
                </div>
                <div class="form-group dropdown-item pl-3 m-0">
                  <label for="ch69" class="custom-checkbox d-flex m-0">
                    <span class="font-12 text-black text-capitalize">
                    <i class="flag belgium"></i>
                    belgium</span>
                    <input type="checkbox" class="form-control" id="ch69">
                    <span class="transparent-checkmark"></span>
                  </label>
                </div>
                <div class="form-group dropdown-item pl-3 m-0">
                  <label for="ch59" class="custom-checkbox d-flex m-0">
                    <span class="font-12 text-black text-capitalize">
                    <i class="flag france"></i>
                    france</span>
                    <input type="checkbox" class="form-control" id="ch59">
                    <span class="transparent-checkmark"></span>
                  </label>
                </div>
                <div class="form-group dropdown-item pl-3 m-0">
                  <label for="ch79" class="custom-checkbox d-flex m-0">
                    <span class="font-12 text-black text-capitalize">
                    <i class="flag germany"></i>
                    germany</span>
                    <input type="checkbox" class="form-control" id="ch79">
                    <span class="transparent-checkmark"></span>
                  </label>
                </div>
                <div class="form-group dropdown-item pl-3 m-0">
                  <label for="ch79" class="custom-checkbox d-flex m-0">
                    <span class="font-12 text-black text-capitalize">
                    <i class="flag spain"></i>
                    spain</span>
                    <input type="checkbox" class="form-control" id="ch79">
                    <span class="transparent-checkmark"></span>
                  </label>
                </div>
                <div class="form-group dropdown-item pl-3 m-0">
                  <label for="ch79" class="custom-checkbox d-flex m-0">
                    <span class="font-12 text-black text-capitalize">
                    <i class="flag uk"></i>
                    UK</span>
                    <input type="checkbox" class="form-control" id="ch79">
                    <span class="transparent-checkmark"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg px-1 col-md-4 col-sm-6">
            <div class="dropdown custom-dropdown">
              <button class="border-0 rounded p-3 bg-body-color dropdown-toggle w-100 shadow-none mb-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h6 class="d-flex flex-column align-items-start text-capitalize font-12 font-xxl-14">
                  <span class="font-500 text-capitalize mb-2">countries</span>
                  <span class="font-500 text-capitalize text-light-grey">view all</span>
                </h6>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="form-group dropdown-item pl-3 m-0">
                  <label for="ch39" class="custom-checkbox d-flex m-0">
                    <span class="font-12 text-black text-capitalize">View All</span>
                    <input type="checkbox" class="form-control" id="ch39">
                    <span class="transparent-checkmark"></span>
                  </label>
                </div>
                <div class="form-group dropdown-item pl-3 m-0">
                  <label for="ch69" class="custom-checkbox d-flex m-0">
                    <span class="font-12 text-black text-capitalize">
                    <i class="flag belgium"></i>
                    belgium</span>
                    <input type="checkbox" class="form-control" id="ch69">
                    <span class="transparent-checkmark"></span>
                  </label>
                </div>
                <div class="form-group dropdown-item pl-3 m-0">
                  <label for="ch59" class="custom-checkbox d-flex m-0">
                    <span class="font-12 text-black text-capitalize">
                    <i class="flag france"></i>
                    france</span>
                    <input type="checkbox" class="form-control" id="ch59">
                    <span class="transparent-checkmark"></span>
                  </label>
                </div>
                <div class="form-group dropdown-item pl-3 m-0">
                  <label for="ch79" class="custom-checkbox d-flex m-0">
                    <span class="font-12 text-black text-capitalize">
                    <i class="flag germany"></i>
                    germany</span>
                    <input type="checkbox" class="form-control" id="ch79">
                    <span class="transparent-checkmark"></span>
                  </label>
                </div>
                <div class="form-group dropdown-item pl-3 m-0">
                  <label for="ch79" class="custom-checkbox d-flex m-0">
                    <span class="font-12 text-black text-capitalize">
                    <i class="flag spain"></i>
                    spain</span>
                    <input type="checkbox" class="form-control" id="ch79">
                    <span class="transparent-checkmark"></span>
                  </label>
                </div>
                <div class="form-group dropdown-item pl-3 m-0">
                  <label for="ch79" class="custom-checkbox d-flex m-0">
                    <span class="font-12 text-black text-capitalize">
                    <i class="flag uk"></i>
                    UK</span>
                    <input type="checkbox" class="form-control" id="ch79">
                    <span class="transparent-checkmark"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg px-1 col-md-4 col-sm-6">
            <div class="dropdown custom-dropdown">
              <button class="border-0 rounded p-3 bg-body-color dropdown-toggle w-100 shadow-none mb-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h6 class="d-flex flex-column align-items-start text-capitalize font-12 font-xxl-14">
                  <span class="font-500 text-capitalize mb-2">firms</span>
                  <span class="font-500 text-capitalize text-light-grey">view all</span>
                </h6>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="form-group dropdown-item pl-3 m-0">
                  <label for="ch39" class="custom-checkbox d-flex m-0">
                    <span class="font-12 text-black text-capitalize">View All</span>
                    <input type="checkbox" class="form-control" id="ch39">
                    <span class="transparent-checkmark"></span>
                  </label>
                </div>
                <div class="form-group dropdown-item pl-3 m-0">
                  <label for="ch69" class="custom-checkbox d-flex m-0">
                    <span class="font-12 text-black text-capitalize">AMERS</span>
                    <input type="checkbox" class="form-control" id="ch69">
                    <span class="transparent-checkmark"></span>
                  </label>
                </div>
                <div class="form-group dropdown-item pl-3 m-0">
                  <label for="ch59" class="custom-checkbox d-flex m-0">
                    <span class="font-12 text-black text-capitalize">APAC</span>
                    <input type="checkbox" class="form-control" id="ch59">
                    <span class="transparent-checkmark"></span>
                  </label>
                </div>
                <div class="form-group dropdown-item pl-3 m-0">
                  <label for="ch79" class="custom-checkbox d-flex m-0">
                    <span class="font-12 text-black text-capitalize">EMEA</span>
                    <input type="checkbox" class="form-control" id="ch79">
                    <span class="transparent-checkmark"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg px-1 col-md-4 col-sm-6">
            <div class="dropdown custom-dropdown">
              <button class="border-0 rounded p-3 bg-body-color dropdown-toggle w-100 shadow-none mb-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h6 class="d-flex flex-column align-items-start text-capitalize font-12 font-xxl-14">
                  <span class="font-500 text-capitalize mb-2">products</span>
                  <span class="font-500 text-capitalize text-light-grey">view all</span>
                </h6>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="form-group dropdown-item pl-3 m-0">
                  <label for="ch39" class="custom-checkbox d-flex m-0">
                    <span class="font-12 text-black text-capitalize">View All</span>
                    <input type="checkbox" class="form-control" id="ch39">
                    <span class="transparent-checkmark"></span>
                  </label>
                </div>
                <div class="form-group dropdown-item pl-3 m-0">
                  <label for="ch69" class="custom-checkbox d-flex m-0">
                    <span class="font-12 text-black text-capitalize">AMERS</span>
                    <input type="checkbox" class="form-control" id="ch69">
                    <span class="transparent-checkmark"></span>
                  </label>
                </div>
                <div class="form-group dropdown-item pl-3 m-0">
                  <label for="ch59" class="custom-checkbox d-flex m-0">
                    <span class="font-12 text-black text-capitalize">APAC</span>
                    <input type="checkbox" class="form-control" id="ch59">
                    <span class="transparent-checkmark"></span>
                  </label>
                </div>
                <div class="form-group dropdown-item pl-3 m-0">
                  <label for="ch79" class="custom-checkbox d-flex m-0">
                    <span class="font-12 text-black text-capitalize">EMEA</span>
                    <input type="checkbox" class="form-control" id="ch79">
                    <span class="transparent-checkmark"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="system-supplier-resilience-indicator_overview" class="lazy-graph" data-key="system_supplier_resilience_indicator" data-args="<%= {}.to_json %>" data-append-to="system-supplier-resilience-indicator_overview" data-partial-name="system_supplier_resilience_indicator_overview">
    <%= render 'organisation/graphs/partials/system_supplier_resilience_indicator_overview', data: {} %>
  </div>
</section>