<aside class="fixed-secondary-sidebar position-static" id='sticky-sidebar-demo'>
  <i class="fa fa-times-circle fa-1x d-none font-20"></i>
  <ul class="p-0 list-unstyled inner-wrapper-sticky mr-4 mb-0">
    <li class="links active-white mb-2 mb-sm-3">
      <a href="#section1" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">overview</a>
    </li>
    <li class="links mb-2 mb-sm-3">
      <a href="#section2" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">impact tolerance breakdown-per filter</a>
    </li>
    <li class="links mb-2 mb-sm-3">
      <a href="#section3" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">top conformant supplier</a>
    </li>
    <li class="links">
      <a href="#section4" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">top non-conformant supplier</a>
    </li>
  </ul>
</aside>