<div class="row align-items-center mb-3">
  <div class="col-md-12 form-group">
    <label for="" class="text-capitalize">name</label>
    <input type="text" class = 'w-100 form-control font-12 h-auto py-3 shadow-none' placeholder= 'Name'>
  </div>
  <div class="col-md-12 form-group">
    <label for="" class="text-capitalize">description</label>
     <textarea id="textarea" rows="3" class="w-100 form-control font-12 shadow-none"></textarea>
  </div>
</div>
