<div class="row">
  <div class="col-sm-12 col-md-10 col-lg-8 col-xxl-8 mx-auto">
    <div class="card border-0 shadow">
      <div class="card-body px-4">
        <%= render 'layouts/partials/shared/redirect_back', path: organisation_institutions_path %>
        <h4 class="my-4 font-weight-bold">Edit Institution</h4>
        <p class="font-14 font-600 mb-4">Please use this section to submit new institution types into your OpRes data model.</p>
        <%= render 'organisation/institutions/partials/form', institution: @institution %>
      </div>
    </div>
  </div>
</div>
