<div class="row" id="management-dashboard">
  <div class="col-12"><h2 class="font-700 text-capitalize font-sm-24">Welcome Application Admin</h2></div>
</div>
<div class="row mt-md-5 mt-3 d-flex">
  <div class="col-md-6 col-lg-3 mb-lg-0 mb-4">
    <div class="card border-0 shadow-sm pie-high-chart">
      <div class="card-header bg-white text-center">
        <p class="font-14 text-capitalize font-600">Sign Up</p>
        <div class="donut-content">
          <div id="first-donut" class="donut"></div>
          <div class="donut-value font-50 font-700">50</div>
        </div>
      </div>
      <div class="card-body">
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-1"></div>
            <span class="font-12 font-400 ml-2">Jan</span>
          </div>
          <span class="font-12 font-700">10</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-2"></div>
            <span class="font-12 font-400 ml-2">Feb</span>
          </div>
          <span class="font-12 font-700">15</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-3"></div>
            <span class="font-12 font-400 ml-2">March</span>
          </div>
          <span class="font-12 font-700">15</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-4"></div>
            <span class="font-12 font-400 ml-2">April</span>
          </div>
          <span class="font-12 font-700">10</span>
        </div>
      </div>
      <div class="card-footer text-center bg-white">
        <a href="" class="font-12 text-capitalize font-600 border-bottom text-dark">view all</a>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-9">
    <div class="card">
      <div class="card-header">
        <h3>Organisations</h3>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table custom-table font-12 m-0">
            <thead>
              <tr>
                <th>Organisation Name</th>
                <th>User Counts</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>SCB Global Limited</td>
                <td>10</td>
              </tr>
              <tr>
                <td>HSBC</td>
                <td>20</td>
              </tr>
              <tr>
                <td>Nationwide Building Society</td>
                <td>5</td>
              </tr>
              <tr>
                <td>Barclay</td>
                <td>30</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>