<div  class="nested-fields">
  <div class="row align-items-center mt-4">
    <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
      <p class="text-capitalize font-14 font-600">Contact Name</p>
    </div>
    <div class="col-sm-7 order-3 order-sm-2">
        <%= f.text_field :name, placeholder: 'Enter name', class:'w-100 form-control font-12 h-auto py-3 shadow-none' %>
    </div>
    <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
      <div class="info" data-toggle="tooltip" data-placement="top" title="Please provide the details of the relationship owner in your organisation" aria-hidden="true">i</div>
    </div>
  </div>

  <div class="row align-items-center mt-4">
    <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
      <p class="text-capitalize font-14 font-600">Contact Email</p>
    </div>
    <div class="col-sm-7 order-3 order-sm-2">
      <%= f.email_field :email, placeholder: 'Enter Email', class:'w-100 form-control font-12 h-auto py-3 shadow-none' %>
    </div>
    <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
      <div class="info" data-toggle="tooltip" data-placement="top" title="Please provide the details of the relationship owner in your organisation" aria-hidden="true">i</div>
    </div>
  </div>

  <div class="row align-items-center mt-4">
    <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
      <p class="text-capitalize font-14 font-600">Contact Job Title</p>
    </div>
    <div class="col-sm-7 order-3 order-sm-2">
      <%= f.text_field :job_title, placeholder: 'Enter title', class:'w-100 form-control font-12 h-auto py-3 shadow-none' %>
    </div>
    <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
      <div class="info" data-toggle="tooltip" data-placement="top" title="Please provide the details of the relationship owner in your organisation" aria-hidden="true">i</div>
    </div>
  </div>
  <%#= link_to_remove_association f, class: 'font-12 text-danger text-right' do %>
    <!-- <i class="fa fa-trash" aria-hidden="true"></i> -->
    <!-- <span> Remove Contact </span> -->
  <%# end %>
</div>
