<div class="row">
  <div class="col-sm-12 col-md-10 col-lg-8 col-xxl-8 mx-auto">
    <div class="card border-0 shadow">
      <div class="d-flex justify-content-between align-items-center py-3 px-4 mt-3">
        <h5 class="text-capitalize font-700">Admin</h5>
        <%= link_to new_organisation_admin_path, class: 'text-capitalize font-12 ml-auto text-black text-decoration-none d-flex align-items-baseline' do %>
          <i class="fa fa-plus-circle r-1 font-18" aria-hidden="true"></i>
          <span class="ml-2 font-14 font-600">Add New</span>
        <% end %>
      </div>
      <div class="px-4">
        <div class="table-search-field mb-2">
          <%= form_tag search_by_name_organisation_admins_path, method: :get, remote: true do %>
            <i class="fa fa-search text-dark font-14" aria-hidden="true"></i>
            <%= text_field_tag 'query', nil, placeholder: 'Search User', class: "w-100 form-control border-0 shadow-none", id: "country-search-filter", onfocusout: 'RailsUJS.fire(this.form, "submit")' %>
          <% end %>
        </div>
      </div>
      <div id="users-data-render" class="table-responsive">
        <%= render 'organisation/admins/partials/user_table', admins: @admins %>
      </div>
    </div>
  </div>
</div>
