<div class="row">
  <div class="col-sm-12 col-md-10 col-lg-8 col-xxl-10 mx-auto">
    <div class="card border-0 shadow">
      <div class="card-body px-4">
        <div class="back-btn-header mb-4 mt-3">
          <%= link_to organisation_admins_path, class: 'text-decoration-none text-dark' do %>
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <span class="ml-1">Back</span>
          <% end %>
        </div>
          <%= render 'organisation/admins/partials/form', admin: @admin %>
      </div>
    </div>
  </div>
</div>
