<div class="col-sm-6 mb-2">
  <div class="card border-top-0 border-right-0 border-bottom-0 black-border-card">
    <div class="card-body p-3 text-center">
      <span class="d-flex align-items-center mb-3">
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        <i class="fa fa-ellipsis-v ml-1" aria-hidden="true"></i>
        <span class="font-12 font-600 ml-2 text-capitalize flex-1"><%= supplier.name %></span>
        <span><i class="fa fa-trash font-12" aria-hidden="true"></i></span>
      </span>
      <ul class="list-group p-0 list-unstyled">
        <li class="font-12 text-capitalize font-weight-normal"><%= supplier.party_type %></li>
        <li class="font-12 text-capitalize font-weight-normal"><%= supplier.status %></li>
        <li class="font-12 text-capitalize font-weight-normal"><%= supplier.unit.name %></li>
      </ul>
    </div>
  </div>
</div>