.bg-primary-green {
  background: $primary-green;
}
.light-grey-bg {
  background: #F9FAFC;
}
.bg-black {
  background: $black;
}
.bg-secondary-green {
  background: $secondary-green;
}
.bg-primary-green {
  background: $primary-green;
}
.bg-red {
  background: $red !important;
}
.bg-yellow {
  background: $yellow !important;
}
.bg-dark-yellow {
  background: $dark-yellow !important;
}
.bg-ternary-green {
  background: $ternary-green !important;
}
.bg-body-color {
  background: $body-bg-color;
}
.bg-purple {
  background: $bg-purple;
}
.bg-blue {
  background: $bg-blue;
}
.bg-brown {
  background: $bg-brown;
}
.bg-pink {
  background: $pink;
}
.bg-grey {
  background: $light-grey;
}
.bg-dark-yellow{
  background-color: $dark-yellow;
}

.text-red {
  color: $red;
}
.text-green {
  color: $primary-green;
}
.text-secondary-green {
  color: $secondary-green;
}
.text-ternary-green {
  color: $secondary-green;
}
.text-yellow {
  color: $yellow;
}
.text-dark-yellow {
  color: $dark-yellow;
}
.text-light-grey {
  color: $medium-grey;
}
.text-medium-grey {
  color: $text-medium-grey;
}
.text-black {
  color: $black !important;
}


.border-left-green {
  border-left: 2px solid $primary-green;
}
.border-right-green {
  border-right: 2px solid $primary-green;
}
.border-top-green {
  border-top: 2px solid $primary-green;
}
.border-bottom-green {
  border-bottom: 2px solid $primary-green;
}
.border-left-red {
  border-left: 2px solid $red;
}
.border-right-red {
  border-right: 2px solid $red;
}
.border-top-red {
  border-top: 2px solid $red;
}
.border-bottom-red {
  border-bottom: 2px solid $red;
}
.border-left-orange {
  border-left: 2px solid $dark-yellow;
}
.border-right-orange {
  border-right: 2px solid $dark-yellow;
}
.border-top-orange {
  border-top: 2px solid $dark-yellow;
}
.border-bottom-orange {
  border-bottom: 2px solid $dark-yellow;
}
.border-left-yellow  {
  border-left: 2px solid $yellow;
}
.border-right-yellow {
  border-right: 2px solid $yellow;
}
.border-top-yellow {
  border-top: 2px solid $yellow;
}
.border-bottom-yellow {
  border-bottom: 2px solid $yellow;
}
.border-left-black  {
  border-left: 2px solid $black;
}
.border-right-black {
  border-right: 2px solid $black;
}
.border-top-black {
  border-top: 2px solid $black;
}
.border-bottom-black {
  border-bottom: 2px solid $black;
}
.border-left-blue  {
  border-left: 2px solid $blue;
}
.border-right-blue {
  border-right: 2px solid $blue;
}
.border-top-blue {
  border-top: 2px solid $blue;
}
.border-bottom-blue {
  border-bottom: 2px solid $blue;
}
.border-left-firm-hosted {
  border-left: 2px solid $primary-green;
}
.border-left-3rd-party {
  border-left: 2px solid $black;
}
.border-left-4th-party {
  border-left: 2px solid $blue;
}
