.bg-primary-green {
  background: $primary-green;
}
.text-light-grey {
  color: $medium-grey;
}
.text-black {
  color: $black !important;
}
.light-grey-bg {
  background: #F9FAFC;
}

.bg-black {
  background: $black;
}
.bg-secondary-green {
  background: $secondary-green;
}
.bg-primary-green {
  background: $primary-green;
}
.bg-red {
  background: $red !important;
}
.bg-yellow {
  background: $yellow !important;
}
.bg-dark-yellow {
  background: $dark-yellow !important;
}
.bg-ternary-green {
  background: $ternary-green !important;
}
.bg-body-color {
  background: $body-bg-color;
}


.text-red {
  color: $red;
}
.text-green {
  color: $primary-green;
}
.text-secondary-green {
  color: $secondary-green;
}
.text-ternary-green {
  color: $secondary-green;
}
.text-yellow {
  color: $yellow;
}
.text-dark-yellow {
  color: $dark-yellow;
}

.bg-pink {
  background: $pink;
}
