<div class="back-btn-header my-3 d-inline-block align-middle">
  <%= link_to path, class: 'text-decoration-none text-dark' do %>
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    <span class="ml-1">Back</span>
  <% end %>
</div>
