<div class="modal fade" id="supplier-csv" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Supplier File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <%= form_for Supplier.new, url: import_organisation_suppliers_path, multipart: true do |f| %>
            <div class="inputfile-box d-flex">
               <%= f.file_field :file, required: true, accept: 'text/csv', class: 'btn btn-sm btn-dark py-2 px-3 bg-black rounded mr-1 inputfile' %>
               <label for="compliance_evidence_compliance_document", class="d-flex flex-1 align-items-end">
                  <span id="file-name" class="file-box order-2"></span>
                  <span class="file-button order-1 black-btn p-3 cursor-pointer rounded-50">
                    <i class="fa fa-paperclip paperclip font-20 text-white align-middle"></i>
                    <span class="text-white ml-1 mt-1">Attach File</span>
                  </span>
               </label>
               <%#= f.label :file, "Upload CSV File" %>
            </div>
            <%#= f.button :submit %>
         <% end %>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary black-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

