<div class="row">
  <div class="col-sm-12 col-md-10 col-lg-8 col-xxl-10 mx-auto">
    <div class="card border-0 shadow">
      <div class="card-body px-4">
        <div class="back-btn-header mt-3">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
          <span class="ml-2">back</span>
        </div>
        <div class="wizard-body">
          <div class="wizard-header my-4 border-bottom pb-4">
            <h4 class="mb-4 font-weight-bold">Add a new supplier</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In amet aperiam, iste iusto dicta quisquam cumque mollitia veritatis</p>
          </div>
           <h5 class="font-600">Supplier details</h5>
          <div class="mt-5">
            <div class="input-fields mb-5 pb-5 border-bottom">
              <div class="row align-items-center">
                <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
                  <p class="text-capitalize font-14 font-600">supplier name</p>
                </div>
                <div class="col-sm-7 order-3 order-sm-2">
                  <input type="text" placeholder="Enter Name" class="w-100 form-control font-12 h-auto py-3 shadow-none">
                </div>
                <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
                  <div class="info" data-toggle="tooltip" data-placement="top" title="supplier name" aria-hidden="true">i</div>
                </div>
              </div>
              <div class="checkboxes-field mt-4">
                <div class="row align-items-center">
                  <div class="col-sm-4 flex-sm-1">
                    <p class="text-capitalize font-14 font-600 text-capitalize">party type</p>
                  </div>
                  <div class="col-sm-7 order-3 order-sm-2 mt-sm-0 mt-3">
                    <div class="checkbox-container d-flex justify-content-start flex-wrap">
                      <div class="form-check d-flex align-items-center mr-2 form-group mb-2">
                        <input class="form-check-input mt-0" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label text-capitalize font-13" for="flexCheckDefault">
                          3rd Party
                        </label>
                      </div>
                      <div class="form-check d-flex align-items-center mr-2 form-group mb-2">
                        <input class="form-check-input mt-0" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label text-capitalize font-13" for="flexCheckDefault">
                          4th Party
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
                    <div class="info" data-toggle="tooltip" data-placement="top" title="party type" aria-hidden="true">i</div>
                  </div>
                </div>
              </div>
              <div class="row align-items-center mt-4">
                <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
                  <p class="text-capitalize font-14 font-600">cloud hosting provider</p>
                </div>
                <div class="col-sm-7 order-3 order-sm-2">
                  <input type="text" placeholder="Enter Name" class="w-100 form-control font-12 h-auto py-3 shadow-none">
                </div>
                <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
                  <div class="info" data-toggle="tooltip" data-placement="top" title="cloud hosting provider" aria-hidden="true">i</div>
                </div>
              </div>
              <div class="checkboxes-field mt-4">
                <div class="row align-items-center">
                  <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
                    <p class="text-capitalize font-14 font-600 text-capitalize">contact terms</p>
                  </div>
                  <div class="col-sm-7 order-3 order-sm-2">
                    <div class="checkbox-container d-flex justify-content-start flex-wrap">
                      <div class="form-check d-flex align-items-center mr-2 form-group mb-2">
                        <input class="form-check-input mt-0" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label text-capitalize font-13" for="flexCheckDefault">
                          monthly
                        </label>
                      </div>
                      <div class="form-check d-flex align-items-center mr-2 form-group mb-2">
                        <input class="form-check-input mt-0" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label text-capitalize font-13" for="flexCheckDefault">
                          Annualy
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
                    <div class="info" data-toggle="tooltip" data-placement="top" title="contact terms" aria-hidden="true">i</div>
                  </div>
                </div>
              </div>
              <div class="row align-items-center mt-4">
                <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
                  <p class="text-capitalize font-14 font-600">cloud hosting provider</p>
                </div>
                <div class="col-sm-7 order-3 order-sm-2">
                  <input type="text" placeholder="Enter Name" class="w-100 form-control font-12 h-auto py-3 shadow-none">
                </div>
                <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
                  <div class="info" data-toggle="tooltip" data-placement="top" title="cloud hosting provider" aria-hidden="true">i</div>
                </div>
              </div>
              <div class="checkboxes-field mt-4">
                <div class="row align-items-center">
                  <div class="col-sm-4 flex-sm-1 align-self-start">
                    <p class="text-capitalize font-14 font-600 text-capitalize">supplier contact</p>
                  </div>
                  <div class="col-sm-7 order-3 order-sm-2 mt-sm-0 mt-3">
                    <div class="checkbox-container d-flex justify-content-start flex-wrap">
                      <div class="form-check d-flex align-items-center mr-2 form-group mb-2">
                        <input class="form-check-input mt-0" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label text-capitalize font-13" for="flexCheckDefault">
                          contact 1
                        </label>
                      </div>
                      <div class="form-check d-flex align-items-center mr-2 form-group mb-2">
                        <input class="form-check-input mt-0" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label text-capitalize font-13" for="flexCheckDefault">
                          contact 2
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
                    <div class="info" data-toggle="tooltip" data-placement="top" title="supplier contact" aria-hidden="true">i</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="input-fields mb-5 pb-5 border-bottom">
              <h5 class="font-600">Supplier options</h5>
              <div class="row align-items-center mt-5">
                <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
                  <p class="text-capitalize font-14 font-600">contracted service level agreement</p>
                </div>
                <div class="col-sm-7 order-3 order-sm-2">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text px-3 bg-white font-12">%</div>
                    </div>
                    <input type="text" class="form-control form-control font-12 h-auto py-3 shadow-none" id="inlineFormInputGroup" placeholder="Enter Target">
                  </div>
                </div>
                <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
                  <div class="info" data-toggle="tooltip" data-placement="top" title="contracted service level agreement" aria-hidden="true">i</div>
                </div>
              </div>
              <div class="row align-items-center mt-4">
                <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
                  <p class="text-capitalize font-14 font-600">contracted service level object</p>
                </div>
                <div class="col-sm-7 order-3 order-sm-2">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text px-3 bg-white font-12">%</div>
                    </div>
                    <input type="text" class="form-control form-control font-12 h-auto py-3 shadow-none" id="inlineFormInputGroup" placeholder="Enter Target">
                  </div>
                </div>
                <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
                  <div class="info" data-toggle="tooltip" data-placement="top" title="contracted service level object" aria-hidden="true">i</div>
                </div>
              </div>
              <div class="row align-items-center mt-4">
                <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
                  <p class="text-capitalize font-14 font-600">contracted recovery point object</p>
                </div>
                <div class="col-sm-7 order-3 order-sm-2">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text px-3 bg-white font-12 text-capitalize">minutes</div>
                    </div>
                    <input type="text" class="form-control form-control font-12 h-auto py-3 shadow-none" id="inlineFormInputGroup" placeholder="Enter Target">
                  </div>              </div>
                <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
                  <div class="info" data-toggle="tooltip" data-placement="top" title="contracted recovery point object" aria-hidden="true">i</div>
                </div>
              </div>
              <div class="row align-items-center mt-4">
                <div class="col-sm-4 flex-sm-1 mb-2 mb-sm-0">
                  <p class="text-capitalize font-14 font-600">contracted recovery point object</p>
                </div>
                <div class="col-sm-7 order-3 order-sm-2">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text px-3 bg-white font-12 text-capitalize">minutes</div>
                    </div>
                    <input type="text" class="form-control form-control font-12 h-auto py-3 shadow-none" id="inlineFormInputGroup" placeholder="Enter Target">
                  </div>              </div>
                <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0">
                  <div class="info" data-toggle="tooltip" data-placement="top" title="contracted recovery point object" aria-hidden="true">i</div>
                </div>
              </div>
              <div class="checkboxes-field mt-4">
                <div class="row align-items-center">
                  <div class="col-sm-4 flex-sm-1 align-self-start">
                    <p class="text-capitalize font-14 font-600 text-capitalize">supplier key contacts</p>
                  </div>
                  <div class="col-sm-7 order-3 order-sm-2 mt-sm-0 mt-3">
                    <div class="checkbox-container d-flex justify-content-start flex-wrap">
                      <div class="form-check d-flex align-items-center mr-2 form-group mb-2">
                        <input class="form-check-input mt-0" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label text-capitalize font-13" for="flexCheckDefault">
                          24/7
                        </label>
                      </div>
                      <div class="form-check d-flex align-items-center mr-2 form-group mb-2">
                        <input class="form-check-input mt-0" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label text-capitalize font-13" for="flexCheckDefault">
                          24/5
                        </label>
                      </div>
                      <div class="form-check d-flex align-items-center mr-2 form-group mb-2">
                        <input class="form-check-input mt-0" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label text-capitalize font-13" for="flexCheckDefault">
                          other
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-1 text-right order-2 flex-sm-half mb-2 mb-sm-0 align-self-start">
                    <div class="info" data-toggle="tooltip" data-placement="top" title="supplier key contacts" aria-hidden="true">i</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wizard-btn d-flex d-sm-block justify-content-between flex-column">
              <a href="" class="btn btn-light-grey btn-sm font-600 text-capitalize font-12 mb-3 mb-sm-0">previous</a>
              <a href="" class="btn btn-sm font-600 text-capitalize font-12 float-right ml-0 ml-sm-2 dark-btn w-25-sm w-100 mb-3 mb-sm-0">proceed</a>
              <a href="" class="btn btn-light-grey btn-sm font-600 text-capitalize font-12 float-right btn-light-grey">save & close</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
