<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new invitation from opres!</p>
    <p>
    Credential details<br>
    --------------------------
    </p>
    <p>Name: <%= @user.name %></p>
    <p>Email: <%= @user.email %></p>
    <p>Password: <%= @password %></p>
    <br><br>
    <p><%= @message %></p>
  </body>
</html>
