.font-300 {
  font-weight: 300 !important;
}
.font-400 {
  font-weight: 400 !important;
}
.font-500 {
  font-weight: 500 !important;
}
.font-600 {
  font-weight: 600 !important;
}
.font-700 {
  font-weight: 700 !important;
}
.font-800 {
  font-weight: 800 !important;
}

.font-10 {
  font-size: 10px !important;
}
.font-11 {
  font-size: 11px !important;
}
.font-12 {
  font-size: 12px !important;
}
.font-13 {
  font-size: 13px !important;
}
.font-14 {
  font-size: 14px !important;
}
.font-16 {
  font-size: 16px !important;
}
.font-18 {
  font-size: 18px !important;
}
.font-20 {
  font-size: 20px !important;
}
.font-25 {
  font-size: 25px !important;
}
.font-30 {
  font-size: 30px !important;
}
.font-40 {
  font-size: 40px !important;
}
.font-50 {
  font-size: 50px !important;
}

@media screen and (min-width: 1540px) {
  .font-xxl-10 {
    font-size: 10px !important;
  }
  .font-xxl-11 {
    font-size: 11px !important;
  }
  .font-xxl-12 {
    font-size: 12px !important;
  }
  .font-xxl-13 {
    font-size: 13px !important;
  }
  .font-xxl-14 {
    font-size: 14px !important;
  }
  .font-xxl-16 {
    font-size: 16px !important;
  }
  .font-xxl-18 {
    font-size: 18px !important;
  }
  .font-xxl-20 {
    font-size: 20px !important;
  }
  .font-xxl-25 {
    font-size: 25px !important;
  }
}
@media only screen and (max-width: 991px) {
  .font-md-30 {
    font-size: 24px !important;
  }
  .font-md-24 {
    font-size: 24px !important;
  }
  .font-md-22 {
    font-size: 22px !important;
  }
  .font-md-20 {
    font-size: 20px !important;
  }
  .font-md-18 {
    font-size: 18px !important;
  }
  .font-md-16 {
    font-size: 16px !important;
  }
  .font-md-14 {
    font-size: 14px !important;
  }
  .font-md-12 {
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 767px) {
  .font-sm-24 {
    font-size: 24px !important;
  }
  .font-sm-22 {
    font-size: 22px !important;
  }
  .font-sm-20 {
    font-size: 20px !important;
  }
  .font-sm-18 {
    font-size: 18px !important;
  }
  .font-sm-16 {
    font-size: 16px !important;
  }
  .font-sm-14 {
    font-size: 14px !important;
  }
  .font-sm-12 {
    font-size: 12px !important;
  }
}
