<div class="card mt-2">
  <div class="card-body">
    <div class="form-group">
      <%= hidden_field_tag "institutions[#{institution.id}][#{index}][id]", selected_institution_unit&.id %>
      <%= text_field_tag "institutions[#{institution.id}][#{index}][name]", selected_institution_unit&.name || institution.name, class: 'form-control font-12' %>
    </div>
    <div class="row mb-2">
      <div class="col text-left">
        <span class="text-capitalize text-light-grey font-11">Products</span>
      </div>
      <div class="col text-left">
        <span class="text-capitalize text-light-grey font-11">channels</span>
      </div>
    </div>

    <% unit_products = selected_institution_unit&.unit_products || [] %>
    <div class="all-products">
      <% institution.products.each do |product| %>
        <%= render 'organisation/journeys/partials/product', institution: institution, product: product, index: index, unit_products: unit_products %>
      <% end %>
    </div>
    <%= link_to new_organisation_product_path(institution_id: institution.id, index: index), id: "add-product-#{institution.id}", remote: true, class: 'add-product d-flex align-items-center text-left text-black wait-loader' do %>
      <span><i class="fa fa-plus-circle font-16"></i></span>
      <span class="font-12 ml-1">Add another product</span>
    <% end %>
  </div>
</div>
