<footer class="text-center footer w-100">
  <%= image_pack_tag 'media/images/logo.png', class: 'img-fluid' %>
  <ul class="list-unstyled text-center d-flex justify-content-center pt-5 pb-2">
    <li><a href="" class="font-12 font-xxl-14 text-secondary">About OpRes</a></li>
    <li><a href="" class="font-12 font-xxl-14 text-secondary ml-2 pl-2">Contact us</a></li>
    <li><a href="" class="font-12 font-xxl-14 text-secondary ml-2 pl-2">Term & Conditions</a></li>
    <li><a href="" class="font-12 font-xxl-14 text-secondary ml-2 pl-2">Support</a></li>
  </ul>
</footer>
