<div class="bsl-container mt-5">
  <div class="card p-3 shadow">
    <div class="back-btn-header mb-4">
      <a class= 'text-decoration-none text-dark'>
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <span class="ml-1">Back</span>
      </a>
    </div>
    <h4 class="mb-4 font-weight-bold">Add products</h4>
    <p class="font-14 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. In amet aperiam, iste iusto dicta quisquam cumque mollitia veritatis</p>
    <%= render 'organisation/products/partials/form' %>
  </div>
</div>
