<div class="row">
  <div class="col-sm-12 col-md-10 col-lg-8 col-xxl-10 mx-auto">
    <div class="card border-0 shadow">
      <div class="card-body px-4">
        <%= render 'layouts/partials/shared/redirect_back', path: organisation_channels_path %>
        <h4 class="mb-4 font-weight-bold">Edit Channel</h4>
        <p class="font-14 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. In amet aperiam, iste iusto dicta quisquam cumque mollitia veritatis</p>
        <%= render 'organisation/channels/partials/form', channel: @channel %>
      </div>
    </div>
  </div>
</div>