
.donut-setter {
  height: 270px;
  display: flex;
  align-items: center;
}

.fixed-secondary-sidebar {
  -webkit-backface-visibility: hidden;
  transition: .5s all;
  ul.inner-wrapper-sticky {
    transition: .5s all;

    li.active-white {
      a {
        color: $black !important;
        background: $white;
        font-weight: 500;
        padding-left: 15px;
        border-radius: 7px;
        position: relative;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        &:before {
          content: '';
          top: 0;
          bottom: 0;
          width: 4px;
          left: 0;
          background: $black;
          position: absolute;
          border-radius: 4px;
        }
      }
    }
    .links {
      a {
        transition: .4s all;
        color: $black !important;
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
        position: relative;
      }
    }
  }
}
.secondary-sidebar-icon {
  width: 20px;
  height: 30px;
  line-height: 32px;
  position: fixed;
  text-align: center;
  left: 0;
  background: $primary-green;
  top: 75px;
  color: $white;
  z-index: 9999;
  // border-top: 50px solid transparent;
  // border-left: 100px solid #32557f;
  // border-bottom: 50px solid transparent;
}
.p-300 {
  left: 0 !important;
}
.key-contacts-select2 {
  .select2-container {
    .selection {
      .select2-selection {
        font-size: 12px;
      }
    }
    .select2-search--inline {
      .select2-search__field {
        margin: 0;
      }
    }
    .select2-selection--multiple {
      border: 1px solid #c7c7c7;
      padding: 1rem .5rem;
    }
    &--focus {
      .select2-selection--multiple {
        border: 1px solid #c7c7c7;
      }
    }
  }
}
@media screen and (min-width: 576px) {
  .sticky-top {
    position: sticky;
    position: -webkit-sticky;
    top: 16%;
  }
}
@media screen and (min-width: 1540px) {
  .sticky-top {
    position: sticky;
    top: 11%;
  }
}

@media screen and (max-width: 576px) {
  .secondary-sidebar-icon {
    display: block !important;
  }
  .fixed-secondary-sidebar.position-static {
    position: fixed !important;
    left: -700px;
    top: 76px;
    z-index: 10;
    width: 100%;
    background: $white;
    ul {
      padding: 10px !important;
      overflow-x: hidden;
      li {
        overflow: hidden;
        transition: .4s all;
      }
    }
    .fa.fa-times-circle {
      display: block !important;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 999;
    }
  }
  .sticky-top {
    position: fixed !important;
    left: -700px;
    top: 76px;
    z-index: 10;
    width: 100%;
    background: $white;
    ul {
      padding: 10px !important;
      overflow-x: hidden;
      li {
        overflow: hidden;
        transition: .4s all;
      }
    }
    .fa.fa-times-circle {
      display: block !important;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 999;
    }
  }
}


.social-account-logo-image{
  width: 150px;
  img {
    width: 100%;
  }
}

.down-arrow-collapse {
  .d-arrow {
    border-radius: .25rem;
    position: relative;
    z-index: 1;
    &:hover {
      color: $light-grey;
    }
    input {
      z-index: 10;
      background: transparent;
      position: relative;
    }
    &:after {
      content: '\f0d7';
      font-family: 'fontawesome';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      color: $black;
      z-index: 10;
      right: 10px;
      font-size: 16px;
    }
  }
}
