
.donut-setter {
  height: 270px;
  display: flex;
  align-items: center;
}

.fixed-secondary-sidebar {
  -webkit-backface-visibility: hidden;
  transition: .5s all;
  ul.inner-wrapper-sticky {
    transition: .5s all;

    li.active-white {
      a {
        color: $black !important;
        background: $white;
        font-weight: 500;
        padding-left: 15px;
        border-radius: 7px;
        position: relative;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        &:before {
          content: '';
          top: 0;
          bottom: 0;
          width: 4px;
          left: 0;
          background: $black;
          position: absolute;
          border-radius: 4px;
        }
      }
    }
    .links {
      a {
        transition: .4s all;
        color: $black !important;
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
        position: relative;
      }
    }
  }
}
.secondary-sidebar-icon {
  width: 20px;
  height: 30px;
  line-height: 32px;
  position: fixed;
  top: 80px;
  text-align: center;
  left: 0;
  background: $primary-green;
  top: 75px;
  color: $white;
  // border-top: 50px solid transparent;
  // border-left: 100px solid #32557f;
  // border-bottom: 50px solid transparent;
}
.p-300 {
  left: 0 !important;
}
@media screen and (min-width: 576px) {
  .sticky-top {
    position: sticky;
    position: -webkit-sticky;
    top: 16%;
  }
}
@media screen and (min-width: 1540px) {
  .sticky-top {
    position: sticky;
    top: 11%;
  }
}

@media screen and (max-width: 576px) {
  .secondary-sidebar-icon {
    display: block !important;
  }
  .fixed-secondary-sidebar.position-static {
    position: fixed !important;
    left: -700px;
    top: 76px;
    z-index: 10;
    width: 100%;
    background: $white;
    ul {
      padding: 10px !important;
      overflow-x: hidden;
      li {
        overflow: hidden;
        transition: .4s all;
      }
    }
    .fa.fa-times-circle {
      display: block !important;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 999;
    }
  }
  .sticky-top {
    position: fixed !important;
    left: -700px;
    top: 76px;
    z-index: 10;
    width: 100%;
    background: $white;
    ul {
      padding: 10px !important;
      overflow-x: hidden;
      li {
        overflow: hidden;
        transition: .4s all;
      }
    }
    .fa.fa-times-circle {
      display: block !important;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 999;
    }
  }
}
