<div class="row mt-5" id="management-dashboard">
  <div class="col-md-12 d-flex justify-content-between align-items-center">
    <h2  class="font-700 text-capitalize">management dashbaord</h2>
    <div class="white-btn px-2 py-1 d-flex align-items-center">
      <span><i class="fa fa-sliders" aria-hidden="true"></i>  </span>
      <span class= 'text-capitalize font-12 font-600 ml-2'>customise</span>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-3">
    <div class="card border-0 shadow-sm pie-hight-chart">
      <div class="card-header bg-white text-center">
        <p class="font-14 text-capitalize font-600">business service line</p>
        <div id="first-donut" class="donut"></div>
      </div>
      <div class="card-body">
        <div class="tiers d-flex justify-content-between align-items-center mb-2">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-1"></div>
            <span class="font-12 font-600 ml-2">Tier 1</span>
          </div>
          <span class="font-12 font-700">24</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-2">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-2"></div>
            <span class="font-12 font-600 ml-2">Tier 1</span>
          </div>
          <span class="font-12 font-700">24</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-2">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-3"></div>
            <span class="font-12 font-600 ml-2">Tier 1</span>
          </div>
          <span class="font-12 font-700">24</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-4"></div>
            <span class="font-12 font-600 ml-2">Tier 1</span>
          </div>
          <span class="font-12 font-700">24</span>
        </div>
      </div>
      <div class="card-footer text-center bg-white">
        <a href="" class="font-12 text-capitalize font-600 border-bottom text-dark">view all</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card border-0 shadow-sm pie-hight-chart">
      <div class="card-header bg-white text-center">
        <p class="font-14 text-capitalize font-600">3rd & 4th supplier</p>
        <div id="second-donut" class="donut"></div>
      </div>
      <div class="card-body">
        <div class="tiers d-flex justify-content-between align-items-center mb-2">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-1"></div>
            <span class="font-12 font-600 ml-2">Tier 1</span>
          </div>
          <span class="font-12 font-700">24</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-2">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-2"></div>
            <span class="font-12 font-600 ml-2">Tier 1</span>
          </div>
          <span class="font-12 font-700">24</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-2">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-3"></div>
            <span class="font-12 font-600 ml-2">Tier 1</span>
          </div>
          <span class="font-12 font-700">24</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-4"></div>
            <span class="font-12 font-600 ml-2">Tier 1</span>
          </div>
          <span class="font-12 font-700">24</span>
        </div>
      </div>
      <div class="card-footer text-center bg-white">
        <a href="" class="font-12 text-capitalize font-600 border-bottom text-dark">view all</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card border-0 shadow-sm pie-hight-chart">
      <div class="card-header bg-white text-center">
        <p class="font-14 text-capitalize font-600">business service line</p>
        <div id="third-donut" class="donut"></div>
      </div>
      <div class="card-body">
        <div class="tiers d-flex justify-content-between align-items-center mb-2">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-1"></div>
            <span class="font-12 font-600 ml-2">Tier 1</span>
          </div>
          <span class="font-12 font-700">24</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-2">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-2"></div>
            <span class="font-12 font-600 ml-2">Tier 1</span>
          </div>
          <span class="font-12 font-700">24</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-2">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-3"></div>
            <span class="font-12 font-600 ml-2">Tier 1</span>
          </div>
          <span class="font-12 font-700">24</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-4"></div>
            <span class="font-12 font-600 ml-2">Tier 1</span>
          </div>
          <span class="font-12 font-700">24</span>
        </div>
      </div>
      <div class="card-footer text-center bg-white">
        <a href="" class="font-12 text-capitalize font-600 border-bottom text-dark">view all</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card border-0 shadow-sm pie-hight-chart">
      <div class="card-header bg-white text-center">
        <p class="font-14 text-capitalize font-600">business service line</p>
        <div id="fourth-donut" class="donut"></div>
      </div>
      <div class="card-body">
        <div class="tiers d-flex justify-content-between align-items-center mb-2">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-1"></div>
            <span class="font-12 font-600 ml-2">Tier 1</span>
          </div>
          <span class="font-12 font-700">24</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-2">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-2"></div>
            <span class="font-12 font-600 ml-2">Tier 1</span>
          </div>
          <span class="font-12 font-700">24</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-2">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-3"></div>
            <span class="font-12 font-600 ml-2">Tier 1</span>
          </div>
          <span class="font-12 font-700">24</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-4"></div>
            <span class="font-12 font-600 ml-2">Tier 1</span>
          </div>
          <span class="font-12 font-700">24</span>
        </div>
      </div>
      <div class="card-footer text-center bg-white">
        <a href="" class="font-12 text-capitalize font-600 border-bottom text-dark">view all</a>
      </div>
    </div>
  </div>
</div>
