<div class="row" id="management-dashboard">
  <div class="col-md-12 d-flex justify-content-between align-items-center flex-wrap">
    <h2  class="font-600 font-sm-18 font-30 text-capitalize">Resilience Data Hub</h2>
    <div class="white-btn d-flex align-items-center rounded-50 cursor-pointer py-2">
      <!-- <i class="fa fa-ellipsis-v px-2 mx-2 m-1" aria-hidden="true"></i> -->
    </div>
  </div>
</div>
<%= render 'organisation/dashboard/partials/segmentation_options', path: organisation_dashboard_index_path %>
<div id="dashboard-wrapper">
  <%= render 'organisation/dashboard/partials/dashboard_content', filters: params.dig(:filters) || {} %>
</div>
<div class="row five-grid mt-4 no-gutters">
  <div class="col mb-lg-0 mb-4 px-1">
    <div class="card border-0 shadow-sm pie-high-chart overflow-hidden rounded-50 min-h-510">
      <div class="card-header bg-white text-center border-0">
        <p class="font-14 font-600 chart-header-title">
          <span class="d-block text-capitalize">global retail bank</span>
          <span class="font-12 d-block text-capitalize text-light-grey">Resilience Posture</span>
        </p>
        <div class="donut-content">
          <div id="third-donut" class="donut"></div>
          <div class="donut-value font-50 font-700">0</div>
        </div>
      </div>
      <div class="card-body border-bottom">
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-1"></div>
            <span class="font-12 font-400 ml-2">Tier 1</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-2"></div>
            <span class="font-12 font-400 ml-2">Tier 2</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-3"></div>
            <span class="font-12 font-400 ml-2">Tier 3</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-4"></div>
            <span class="font-12 font-400 ml-2">Tier 4</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
      </div>
      <div class="card-body">
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total Business Services</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total Bank Hosted Systems</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total 3rd Party Suppliers</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total 4th Party Suppliers</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Most Compliant Region</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Least Compliant Region</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Most Used Cloud Supplier</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total Number of Resilience Gap</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
      </div>
      <div class="card-footer text-center bg-white">
        <a href="" class="font-12 font-xxl-14 text-capitalize font-600 border-bottom-black text-dark text-decoration-none">view all</a>
      </div>
    </div>
  </div>
  <div class="col mb-lg-0 mb-4 px-1">
    <div class="card border-0 shadow-sm pie-high-chart overflow-hidden rounded-50 min-h-510">
      <div class="card-header bg-white text-center border-0">
        <p class="font-14 font-600 chart-header-title">
          <span class="d-block text-capitalize">global investment bank</span>
          <span class="font-12 d-block text-capitalize text-light-grey">Resilience Posture</span>
        </p>
        <div class="donut-content">
          <div id="fourth-donut" class="donut"></div>
          <div class="donut-value font-50 font-700">0</div>
        </div>
      </div>
      <div class="card-body border-bottom">
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-1"></div>
            <span class="font-12 font-400 ml-2">Tier 1</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-2"></div>
            <span class="font-12 font-400 ml-2">Tier 2</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-3"></div>
            <span class="font-12 font-400 ml-2">Tier 3</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-4"></div>
            <span class="font-12 font-400 ml-2">Tier 4</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
      </div>
      <div class="card-body">
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total Business Services</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total Bank Hosted Systems</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total 3rd Party Suppliers</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total 4th Party Suppliers</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Most Compliant Region</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Least Compliant Region</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Most Used Cloud Supplier</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total Number of Resilience Gap</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
      </div>
      <div class="card-footer text-center bg-white">
        <a href="" class="font-12 font-xxl-14 text-capitalize font-600 border-bottom-black text-dark text-decoration-none">view all</a>
      </div>
    </div>
  </div>
  <div class="col mb-lg-0 mb-4 px-1">
    <div class="card border-0 shadow-sm pie-high-chart overflow-hidden rounded-50 min-h-510">
      <div class="card-header bg-white text-center border-0">
        <p class="font-14 font-600 chart-header-title">
          <span class="d-block text-capitalize">global business bank</span>
          <span class="font-12 d-block text-capitalize text-light-grey">Resilience Posture</span>
        </p>
        <div class="donut-content">
          <div id="fifth-donut" class="donut"></div>
          <div class="donut-value font-50 font-700">0</div>
        </div>
      </div>
      <div class="card-body border-bottom">
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-1"></div>
            <span class="font-12 font-400 ml-2">Tier 1</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-2"></div>
            <span class="font-12 font-400 ml-2">Tier 2</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-3"></div>
            <span class="font-12 font-400 ml-2">Tier 3</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-4"></div>
            <span class="font-12 font-400 ml-2">Tier 4</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
      </div>
      <div class="card-body">
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total Business Services</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total Bank Hosted Systems</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total 3rd Party Suppliers</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total 4th Party Suppliers</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Most Compliant Region</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Least Compliant Region</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Most Used Cloud Supplier</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total Number of Resilience Gap</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
      </div>
      <div class="card-footer text-center bg-white">
        <a href="" class="font-12 font-xxl-14 text-capitalize font-600 border-bottom-black text-dark text-decoration-none">view all</a>
      </div>
    </div>
  </div>
  <div class="col mb-lg-0 mb-4 px-1">
    <div class="card border-0 shadow-sm pie-high-chart overflow-hidden rounded-50 min-h-510">
      <div class="card-header bg-white text-center border-0">
       <p class="font-14 font-600 chart-header-title">
          <span class="d-block text-capitalize">global digital bank</span>
          <span class="font-12 d-block text-capitalize text-light-grey">Resilience Posture</span>
        </p>
        <div class="donut-content">
          <div id="sixth-donut" class="donut"></div>
          <div class="donut-value font-50 font-700">0</div>
        </div>
      </div>
      <div class="card-body border-bottom">
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-1"></div>
            <span class="font-12 font-400 ml-2">Tier 1</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-2"></div>
            <span class="font-12 font-400 ml-2">Tier 2</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-3"></div>
            <span class="font-12 font-400 ml-2">Tier 3</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-4"></div>
            <span class="font-12 font-400 ml-2">Tier 4</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
      </div>
      <div class="card-body">
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total Business Services</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total Bank Hosted Systems</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total 3rd Party Suppliers</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total 4th Party Suppliers</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Most Compliant Region</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Least Compliant Region</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Most Used Cloud Supplier</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total Number of Resilience Gap</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
      </div>
      <div class="card-footer text-center bg-white">
        <a href="" class="font-12 font-xxl-14 text-capitalize font-600 border-bottom-black text-dark text-decoration-none">view all</a>
      </div>
    </div>
  </div>
  <div class="col mb-lg-0 mb-4 px-1">
    <div class="card border-0 shadow-sm pie-high-chart overflow-hidden rounded-50 min-h-510">
      <div class="card-header bg-white text-center border-0">
        <p class="font-14 font-600 chart-header-title">
          <span class="d-block text-capitalize">global union bank</span>
          <span class="font-12 d-block text-capitalize text-light-grey">Resilience Posture</span>
        </p>
        <div class="donut-content">
          <div id="seventh-donut" class="donut"></div>
          <div class="donut-value font-50 font-700">0</div>
        </div>
      </div>
      <div class="card-body border-bottom">
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-1"></div>
            <span class="font-12 font-400 ml-2">Tier 1</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-2"></div>
            <span class="font-12 font-400 ml-2">Tier 2</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-3"></div>
            <span class="font-12 font-400 ml-2">Tier 3</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center">
          <div class="color-tier d-flex align-items-center">
            <div class="circle green-4"></div>
            <span class="font-12 font-400 ml-2">Tier 4</span>
          </div>
          <span class="font-12 font-700">0</span>
        </div>
      </div>
      <div class="card-body">
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total Business Services</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total Bank Hosted Systems</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total 3rd Party Suppliers</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total 4th Party Suppliers</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Most Compliant Region</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Least Compliant Region</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center mb-3">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Most Used Cloud Supplier</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
        <div class="tiers d-flex justify-content-between align-items-center">
          <div class="color-tier d-flex align-items-center">
            <span class="font-11 font-xxl-14 font-500">Total Number of Resilience Gap</span>
          </div>
          <span class="font-11 font-xxl-14 font-700">0</span>
        </div>
      </div>
      <div class="card-footer text-center bg-white">
        <a href="" class="font-12 font-xxl-14 text-capitalize font-600 border-bottom-black text-dark text-decoration-none">view all</a>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row mt-5">
  <div class="col-md-12 text-center d-flex justify-content-center">
    <a href="" class="text-decoration-none dark-btn py-3 px-4 rounded align-items-center d-flex text-decoration-none">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <span class="font-12 ml-2 font-600">Add to dashboard</span>
    </a>
  </div>
</div> -->
<%= render 'organisation/dashboard/partials/introjs_opening_modal' %>
<%= render 'organisation/dashboard/partials/introjs_closing_modal'%>

