<div class="card border-0 shadow-sm rounded-50 mb-4">
  <div class="card-body px-0">
    <div class="box">
      <div id="recent-update">
        <%= render 'organisation/resilience_gaps/partials/recent_update' %>
      </div>
      <hr>
      <div id="resilience-all-attachments">
        <%= render 'organisation/resilience_gaps/partials/all_attachment' %>
      </div>
      <hr>
      <div id="resilence-gap-assignee">
        <%= render 'organisation/resilience_gaps/partials/resilience_gap_assignee' %>
      </div>
    </div>
  </div>
</div>
