.sidebar {
  background-color: #fff;
  position: fixed;
  left: -1px;
  top: 0;
  bottom: 0;
  width: 0;
  transition: .4s all;
  overflow-x: hidden;
  filter: blur(0) !important;
  z-index: 9999;
  /* width */
    &::-webkit-scrollbar {
      width: 2px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      width: 2px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #333;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  .have-issue {
    width: 250px;
    background: $body-bg-color;
  }
  .sidebar-header {
    width: 300px;
    .sidebar-logo-container {
      i.fa-times {
        cursor: pointer;
      }
    }
    .logo-box {
      width: 120px;
      img {
        width: 100%;
      }
    }
  }
  ul {
    li {
      position: relative;
      width: 300px;
      &:after {
        content: "";
        position: absolute;
        height: 2px;
        width: 0;
        left: -10px;
        right: 0;
        top: 100%;
        background-color: $primary-green;
        transition: .6s all;
      }
      i {
        transition: .6s all;
      }
      &:hover {
        i {
          color: $dark-grey;
        }
        &:after {
          width: 100%;
        }
      }
      a {
        color: $black;
        display: block;
        transition: .6s all;
        flex: 1;
      }
    }
  }
}

.upper-menu.dropdown-toggle::after {
  position: absolute;
  right: 40px;
  top: 50%;
}

.submenu {
  li {
    a.dropdown-toggle {
      &:after {
        position: absolute;
        right: 56px;
        top: 50%;
      }
    }
  }
}
