<div class="d-flex justify-content-between align-items-center mb-4 pb-2 px-4">
  <h5 class="text-capitalize text-left font-600">Resilience Gap Audit Tracker</h5>
</div>
<% if @recent_resilience_audit.present?   %>
  <div class="info-text mb-2 px-4 d-flex align-items-center justify-content-between flex-wrap">
    <span class="mb-3 font-500">Most Recent Update:</span>
    <span data-toggle="modal" data-target="#resilience-ticket-modal" class="bsl-step-supplier-modal-opener cursor-pointer toggle-modal font-13 font-500">
      <span class="text-black text-decoration-none cursor-pointer" >View All Updates</span>
    </span>
  </div>
  <div id="most-recent-resilience-update">
    <%= render 'organisation/resilience_gaps/partials/most_recent_update'%>
  </div>
<% else %>
<div class="card border-0 px-4 mb-4">
  <div class="card-body bg-body-color">
    <p>No, Update present for this resilience ticket.</p>
  </div>
</div>
 <div class="buttons px-4 pb-4 mb-4 d-flex flex-column flex-md-row flex-wrap">
    <span  data-resilience="<%= @resilience_ticket.id %>" class="font-13 font-500 btn btn-sm btn-dark py-2 px-3 bg-black rounded-50 mr-1 mb-2 cursor-pointer resilience-audit-new">
      <i class="fa fa-plus-circle mr-1"></i>
      <span class="text-white text-decoration-none font-12 font-xxl-14">Add Update</span>
    </span>
  </div>
<% end %>
