<% if data.blank? %>
  <div class="card border-0 pie-high-chart overflow-hidden">
    <div class="card-header  border-0 bg-white text-center">
      <div class="empty-donut-block w-150px mx-auto"></div>
      <h6 class="empty-donut-line px-5 mb-2"></h6>
    </div>
  </div>
<% else %>
  <div class="card border-0 pie-high-chart">
    <p class="font-14 text-capitalize font-600 chart-header-title text-black text-decoration-none text-center">Conformance with Impact Tolerances</p>
    <div class="card-header h-auto border-0 bg-white text-center">
      <div class="donut-content">
        <%= react_component('highcharts/percentage_donut', { data: data.dig(:overall, :graph).flatten, render_to: 'donut-chp' }, { class: 'h-200-highchart' }) %>
        <div class="donut-value font-30 font-700 d-flex"><span><%= "#{data.dig(:overall,:graph)[0].second.dig(:count)}" %></span><span><span>%</span></div>
      </div>
    </div>
  </div>
<% end %>
