<div class="card-header p-2 bg-transparent border-0">
  <div class="header-wrapper text-center p-4">
    <div class="d-flex justify-content-center align-items-center">
      <i class="fa fa-exclamation-triangle font-25 text-red" aria-hidden="true"></i>
      <h2 class="font-700 font-50"><%= data.dig(:overall, :total_exceeds) || 0 %></h2>
    </div>
    <p class="font-12 font-xxl-14 font-600 text-capitalize">Impact tolerances outside of risk appetite</p>
  </div>
</div>
<%= render 'organisation/graphs/partials/impact_tolerance_risk_appetite_tabs', data: data %>
