<% if data.blank? %>
  <div class="card border-0 shadow-sm rounded-50">
    <div class="card-header flex-wrap bg-transparent d-flex justify-content-between align-items-center border-0 pt-4">
      <h3 class="font-14 font-600">Resilience Risk Indicator</h3>
      <div class="donut-content h-75 d-flex">
        <div class="empty-donut-block py-3 px-5 mr-2"></div>
        <div class="empty-donut-block py-3 px-5"></div>
      </div>
    </div>
    <div class="card-body">
      <div class="tiers d-flex justify-content-between align-items-center mb-1">
        <div class="empty-donut-line px-5 mb-2 py-3"></div>
      </div>
      <div class="tiers d-flex justify-content-between align-items-center mb-1">
        <div class="empty-donut-line px-5 mb-2 py-3"></div>
      </div>
      <div class="tiers d-flex justify-content-between align-items-center mb-1">
        <div class="empty-donut-line px-5 mb-2 py-3"></div>
      </div>
      <div class="tiers d-flex justify-content-between align-items-center mb-1">
        <div class="empty-donut-line px-5 mb-2 py-3"></div>
      </div>
    </div>
  </div>
<% else %>
  <div class="card border-0 shadow-sm rounded-50">
    <div class="card-header flex-wrap bg-transparent d-flex justify-content-between align-items-center border-0 pt-4">
      <h3 class="font-14 font-600">Resilience Risk Indicator</h3>
      <%= form_tag filter_resilience_indicator_organisation_dashboard_index_path, method: :get, remote: true, class: 'd-flex' do %>
        <%= render 'organisation/dashboard/partials/tier_option_render' %>
        <div class="dropdown body-color-dropdown mr-2 d-flex align-items-center">
          <div class="select-arrow position-relative">
            <%= select_tag "filters[months]", options_for_select([["Last 3 month",3], ["Last 6 month",6], ["Last 9 month",9], ["Last 12 month",12], ["Last 18 month",18], ["Last 24 month",24]]), class: "form-control w-100 font-12 h-auto py-3 border-0 shadow-none pr-4 bg-body-color bg-light", onchange: 'RailsUJS.fire(this.form, "submit")' %>
            <i class="fa fa-sort-desc position-absolute" aria-hidden="true"></i>
          </div>
        </div>
      <% end %>
    </div>
    <div id="resilience-bar-chart" class="card-body">
      <%= render 'organisation/dashboard/partials/resilience_risk_indicator_bar_chart', data: data %>
    </div>
  </div>
  <!-- <p class="highcharts-description">
      A demo showing a stacked area chart, also sometimes referred to as a
      together to make up a total.
  </p> -->
<% end %>