<div class='row'>
  <div class='col-md-12 p-0'>
    <nav class="navbar navbar-dark sticky-top flex-md-nowrap">
      <%= link_to 'OpRes', root_path, class: 'navbar-brand col-sm-3 col-md-2 mr-0' %>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
