body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background: #F3F5FA;
  overflow-x: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html {
  height: 100%;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
.w-10 {
  width: 10%;
}
.text-light-grey {
  color: #949494;
}
.text-black {
  color: $black !important;
}
p {
  padding: 0;
}
a {
  text-decoration: none;
}
.tooltip-inner {
  text-transform: capitalize;
}
.flex-point-15 {
  flex: .15;
}
.flex-inherit {
  flex: inherit;
}
.form-control:disabled {
  opacity: .4 !important;
  background: #fff !important;
}

::-webkit-input-placeholder {
  text-transform: capitalize;
}

:-ms-input-placeholder {
  text-transform: capitalize;
}

::placeholder {
  text-transform: capitalize;
}
textarea {
  resize: none;
}
.green-border-card {
  border: 3px solid $primary-green;
  background: $body-bg-color;
}
.black-border-card {
  border: 3px solid #000;
  background: $body-bg-color;
}
.cursor-pointer {
  cursor: pointer;
}
.body-bg-color {
  background: $body-bg-color;
}
.content {
  padding-top: 75px;
  padding-bottom: 100px;
  height: 100%;
  min-height: 100%;
}

.faded-popover-wrapper {
  display: inline-block;
  position: relative;
  margin: 5px 10px;
  cursor: pointer;
  .faded-popover-title {
    position: relative;
    i {
      margin-left: 0.5rem;
    }
  }
  .faded-popover-content {
    position: absolute;
    right: 0;
    top: 0;
    left: 110%;
    background: $black;
    width: 230px;
    padding: 40px 0 15px;
    color: $white;
    z-index: 1;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: .5s all;
    &::-webkit-scrollbar {
      width: 2px;
    }
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      width: 2px;
    }
    &::-webkit-scrollbar-thumb {
      background: #333;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    .close-i {
      position: absolute;
      right: 13px;
      top: 13px;
      font-size: 25px;
      z-index: 3;
    }
    .check-field {
      margin: 5px 20px 15px;
    }
  }
}

.accordion-wrapper {
  display: block;
  padding: 5px 20px;
  cursor: pointer;
  .accordion-title {
    position: relative;
    i {
      margin-left: 0.5rem;
    }
  }
  .accordion-content {
    position: relative;
    background: $light-grey;
    width: 190px;
    padding: 15px;
    color: $white;
    z-index: 1;
    height: 170px;
    overflow-y: auto;
    i {
      position: absolute;
      right: 13px;
      top: 13px;
      font-size: 25px;
      z-index: 3;
    }
  }
}

.dd-carrot-btn {
  width: 200px;
  > a {
    width: 200px;
  }
  .dropdown-menu {
    left: 0;
    right: 0 !important;
    border-radius: 7px;
  }
}
.white-btn {
  background: $white;
  border-radius: 5px;
}

.circle-chart {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}
.sm-circle {
  width: 15px;
  height: 15px;
  border-radius: 100px;
}
.scale-1 {
  transform: scale(1);
}
.scale-0 {
  transform: scale(0);
}
.bg-primary-green {
  background: $primary-green;
}
.bg-secondary-green {
  background: $secondary-green;
}
.bg-primary-green {
  background: $primary-green;
}
.bg-red {
  background: $red !important;
}
.bg-yellow {
  background: $yellow !important;
}
.bg-dark-yellow {
  background: $dark-yellow !important;
}

.text-red {
  color: $red;
}
.text-yellow {
  color: $yellow;
}
.text-dark-yellow {
  color: $dark-yellow;
}

footer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  img {
    opacity: .2;
    width: 120px;
    height: 120px;
  }
  ul {
    li:not(:first-child) {
      a {
        position: relative;
        &:after {
          content: "";
          height: 8px;
          width: 2px;
          background: #888;
          position: absolute;
          left: 0;
          bottom: 4px;
        }
      }
    }
  }
}

.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */

.custom-checkbox {
  &:hover input ~ .checkmark {
    background-color: #ccc;
  }

  input:checked ~ .checkmark {
    background-color: $secondary-green;
  }
}

/* When the checkbox is checked, add a blue background */

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:not(:checked) ~ .checkmark {
  border: 1px solid #c7c7c7;
}

/* Show the checkmark when checked */

.custom-checkbox {
  input:checked ~ .checkmark:after {
    display: block;
  }

  .checkmark:after {
    left: 7px;
    top: 4px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

/* Style the checkmark/indicator */

#container {
  height: 400px;
}

