body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background: #F3F5FA;
  overflow-x: hidden;
}
html {
  height: 100%;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
p {
  padding: 0;
}
a {
  text-decoration: none;
}
.tooltip-inner {
  text-transform: capitalize;
}
.form-control:disabled {
  opacity: .4 !important;
  background: #fff !important;
}

::-webkit-input-placeholder {
  text-transform: capitalize;
}

:-ms-input-placeholder {
  text-transform: capitalize;
}

::placeholder {
  text-transform: capitalize;
}
textarea {
  resize: none;
}
.green-border-card {
  border: 3px solid #6BEAB3;
  background: #F3F5FA;
}
.black-border-card {
  border: 3px solid #000;
  background: #F3F5FA;
}
.cursor-pointer {
  cursor: pointer;
}
.body-bg-color {
  background: #F3F5FA;
}
.content {
  padding-top: 75px;
  padding-bottom: 100px;
}

.faded-popover-wrapper {
  display: inline-block;
  position: relative;
  margin: 5px 10px;
  cursor: pointer;
  .faded-popover-title {
    position: relative;
    i {
      margin-left: 0.5rem;
    }
  }
  .faded-popover-content {
    position: absolute;
    right: 0;
    top: -10px;
    left: 125%;
    background: #000;
    width: 240px;
    padding: 15px;
    color: #fff;
    z-index: 1;
    height: 300px;
    overflow: auto;
    i {
      position: absolute;
      right: 13px;
      top: 13px;
      font-size: 25px;
      z-index: 3;
    }
  }
}
