body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background: #F3F5FA;
  overflow-x: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: none;
  transition: 0;
}

html {
  height: 100%;
  transition: none;
  transition: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.swal2-confirm {
  background-color: $primary-green !important;
  box-shadow: none;
}
.swal2-styled.swal2-confirm:focus {
  box-shadow: none;
}

.toggle-switch {
  .switch {
    width: 60px;
    height: 34px;
    position: relative;
    display: inline-block;
    input {
      width: 0;
      height: 0;
      opacity: 0;
    }
  }

  .slider {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    cursor: pointer;
    position: absolute;
    -webkit-transition: .4s;
    background-color: $body-bg-color;
    &:before {
      left: 4px;
      content: "";
      bottom: 4px;
      width: 26px;
      height: 26px;
      transition: .4s;
      position: absolute;
      background-color: $white;
      -webkit-transition: .4s;
    }
  }


  input:checked + .slider {
    background-color: $black;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $black;
  }

  input:checked + .slider {
    &:before {
      transform: translateX(26px);
      -ms-transform: translateX(26px);
      -webkit-transform: translateX(26px);
    }
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round {
    &:before {
      border-radius: 50%;
    }
  }
}

.toast {
  opacity: 1 !important;
}
#specify-text {
  .disable {
    pointer-events: none;
    border: 1px solid #eee;
    opacity: .5;
  }
}
.disable {
  pointer-events: none;
  color: $medium-grey !important;
  opacity: 0.5;
}
.back-btn {
  .back-btn-header {
    margin: 0 !important;
  }
}

.select2 {
  width: 100% !important;
  .select2-selection--multiple {
    padding: 10px;
    border-color: #ced4da;
    .select2-selection__rendered {
      .select2-selection__choice {
        margin: 5px;
      }
    }
  }
}

.transition {
  transition: .4s all;
}

.pagination-active {
  .page-item.active {
    .page-link {
      background: $body-bg-color;
      color: $black;
      font-weight: 600;
    }
  }
}
.chevron-select {
  position: relative;
  &:after {
    content: '\f0dd';
    font-family: 'FontAwesome';
    position: absolute;
    right: 10px;
    top: 44%;
    transform: translateY(-50%);
  }
  select {
    outline: none;
    padding: 5px 10px;
    font-size: 12px;
    box-shadow: none;
    appearance: none;
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
}
.arrow-select {
  height: 40px;
  outline: none;
  padding: 5px 10px;
  font-size: 12px;
  box-shadow: none;
  appearance: none;
  position: relative;
  -moz-appearance: none;
  -webkit-appearance: none;
  & + i.fa {
    top: 15px;
    right: 10px;
    z-index: 10;
    position: absolute;
    pointer-events: none;
  }
}
ul.nav-tabs.active-green {
  li.nav-item {
    a {
      transition: .3s all;
    }
    a:hover {
      color: $black;
    }
    a.active {
      position: relative;
      font-weight: bold;
      color: $black;
    }
    a.active:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 30px;
      background: #6BEAB3;
      left: 0;
      top: 90%;
    }
  }
}
p {
  padding: 0;
}

a {
  text-decoration: none;
}
.justify-content-even {
  justify-content: space-evenly;
}
.center-position {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading {
  position: relative;
  &:after {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(1,1,1,.2);
    width: 100%;
    height: 100%;
    display: none;
  }
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1060;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 75px;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(.68,.68,.68,.6);
}
.loader4 {
   width: 50px;
   height: 50px;
   display: inline-block;
   padding: 0px;
   border-radius: 100%;
   border: 5px solid;
   border-top-color: $primary-green;
   border-bottom-color: rgba(255,255,255, 0.3);
   border-left-color: $primary-green;
   border-right-color: rgba(255,255,255, 0.3);
   -webkit-animation: loader4 1s ease-in-out infinite;
   animation: loader4 1s ease-in-out infinite;
   z-index: 999;
}
@keyframes loader4 {
   from {transform: rotate(0deg);}
   to {transform: rotate(360deg);}
}
@-webkit-keyframes loader4 {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(360deg);}
}

.flex-inherit {
  flex: inherit;
}

.rounded-50 {
  border-radius: .50rem;
}
.rounded-40 {
  border-radius: .40rem;
}
.min-h-150 {
  min-height: 150px;
}
.max-h-500 {
  max-height: 500;
}
.rounded-100 {
  border-radius: 1rem;
}
.border-bottom-black {
  border-bottom: 1px solid $black;
}
.border-bottom-light {
  border-bottom: 1px solid #f3f3f3;
}
.right-0-vertical-50 {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.blur {
  filter: blur(2px);
  transition: .3s all;
  overflow: hidden;
  input, select, a, svg {
    pointer-events: none;
  }
}
.overflow-x-toggle {
  overflow-x: unset !important; 
}
.form-control:disabled {
  opacity: .4 !important;
  background: $white !important;
}

textarea {
  resize: none;
}
.turquoise-border-card {
  border: 4px solid $primary-green;
  background: $body-bg-color;
}
.black-border-card {
  border: 4px solid $black;
  background: $body-bg-color;
}
.blue-border-card {
  border: 4px solid $blue;
  background: $body-bg-color;
}
.cursor-pointer {
  cursor: pointer;
}
.body-bg-color {
  background: $body-bg-color;
}
.content {
  padding-top: 75px;
  padding-bottom: 100px;
  height: 100%;
  min-height: 100%;
}

.dd-carrot-btn {
  width: 200px;
  > a {
    width: 200px;
  }
  .dropdown-menu {
    left: 0;
    right: 0 !important;
    border-radius: 7px;
  }
}
.white-btn {
  background: $white;
  border-radius: 5px;
}

.circle-chart {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}
.sm-circle {
  width: 15px;
  height: 15px;
  border-radius: 100px;
}
.scale-1 {
  transform: scale(1);
}
.scale-0 {
  transform: scale(0);
}


footer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  img {
    opacity: .2;
    width: 120px;
    height: 120px;
  }
  ul {
    li:not(:first-child) {
      a {
        position: relative;
        &:after {
          content: "";
          height: 8px;
          width: 2px;
          background: #888;
          position: absolute;
          left: 0;
          bottom: 4px;
        }
      }
    }
  }
}

.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: $white;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  .custom-checkbox {
  input:checked ~ .checkmark:after {
    display: block;
  }

    .checkmark:after {
      left: 6px;
      top: 3px;
      width: 6px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}


.custom-checkbox {
  &:hover input ~ .checkmark {
    background-color: #ccc;
  }

  input:checked ~ .checkmark {
    background-color: $secondary-green !important;
  }
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:not(:checked) ~ .checkmark {
  border: 1px solid #c7c7c7;
}

/* Style the checkmark/indicator */

.radio-check {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input[type='radio'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: $white;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
}


.radio-check {
  &:hover input ~ .checkmark {
    background-color: #ccc;
  }

  input:checked ~ .checkmark {
    background-color: $black;
  }
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-check input:not(:checked) ~ .checkmark {
  border: 1px solid #ddd;
}

/* Show the checkmark when checked */

.radio-check {
  input:checked ~ .checkmark:after {
    display: block;
  }

  .checkmark:after {
    left: 6px;
    top: 3px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}






#container {
  height: 400px;
}


.custom-radio {
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  box-shadow: none;
  background: $white;
  align-items: center;
  display: inline-flex;
  justify-content: space-evenly;
  .option {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
    cursor: pointer;
    background: $white;
    align-items: center;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    transition: all 0.3s ease;
    justify-content: space-evenly;
    span {
      color: #495057;
      font-weight: 500;
    }
  }
  .option-1 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .option-2 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  input[type="radio"] {
    display: none;
  }
  .option-1 {
    &:checked {
      &:checked {
        ~ {
          .option-1 {
            background: $black;
            border-color: $black;
            span {
              color: $white;
            }
          }
        }
      }
    }
  }
  .option-2 {
    &:checked {
      &:checked {
        ~ {
          .option-2 {
            background: $black;
            border-color: $black;
            span {
              color: $white;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .custom-radio {
    .option-1 {
      margin-bottom: 10px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    .option-2 {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
  .toggle-switch {
    .switch {
      width: 52px;
      height: 24px;
      .slider {
        &:before {
          left: 5px;
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
