.down-arrow-animation {
  cursor: pointer;
  position: absolute;
  right: 70px;
  width: 20px;
  overflow: hidden;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 46%;
  transform: translateY(-50%);
  .arrow {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
  }
}

@keyframes bounceAlpha {
  0% {opacity: 1; transform: translateY(0px) scale(1);}
  25%{opacity: 0; transform:translateY(10px) scale(0.9);}
  26%{opacity: 0; transform:translateY(-10px) scale(0.9);}
  55% {opacity: 1; transform: translateY(0px) scale(1);}
}

.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

// border animation

.color-animation {
  // color: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  animation: colorchange 6s ease alternate infinite;
  display: inline-block;
}

.gradient-border {
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-ms-keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    color: #a166ab;
    background-position: 0% 50%;
  }
}



@-webkit-keyframes colorchange {
  0% {
    color: #f79533;
  }
  10% {
    color: #f37055;
  }
  20% {
    color: #1abc9c;
  }
  30% {
    color: #ef4e7b;
  }
  40% {
    color: #a166ab;
  }
  50% {
    color: #34495e;
  }
  60% {
    color: #5073b8;
  }
  70% {
    color: #1098ad;
  }
  80% {
    color: #07b39b;
  }
  90% {
    color: #6fba82;
  }
  100% {
    color: pink;
  }
}