.table-search-field {
  position: relative;
  i.fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }
  input[type=text] {
    background: $body-bg-color;
    padding-left: 35px;
  }
  ::-webkit-input-placeholder {
    font-size: 12px;
    font-weight: 500;
  }

  :-ms-input-placeholder {
    font-size: 12px;
    font-weight: 500;
  }

  ::placeholder {
    font-size: 12px;
    font-weight: 500;
  }
  span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }
  input:placeholder-shown + span {
    opacity: 0;
    visibility: hidden;
  }
}
.table-striped {
  tbody {
    tr:nth-of-type(even) {
      background: #F8F9FC !important;
    }
    tr:nth-of-type(odd) {
      background: $white !important;
    }
    tr {
      td:last-child {
        border-right: 0 !important;
      }
    }
  }
}
.custom-table {
  thead {
    th {
      border: none;
      color: $light-grey;
    }
  }

  th,td {
    padding: 1rem 1.5rem;
  }

  td {
    font-weight: 600;
    color: $dark-grey;
  }
}

@media only screen and (max-width: 767px) {
  .listings {
    .head {
      padding: 15px 15px !important;
    }
  }
  .table-search-field {
    i.fa-search {
      left: 10px;
    }
    input {
      padding-left: 30px;
    }
  }
  .custom-table {
    thead {
      th {
        padding: 15px;
        vertical-align: middle;
      }
    }

    tbody {
      td {
        padding: 15px;
        vertical-align: middle;
      }
    }
  }
}
