<div class="bsl-container">
  <div class="card p-3 shadow">
    <div class="back-btn-header mb-3">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      <span class="ml-2">back</span>
    </div>
    <div class="d-flex justify-content-between align-items-center mb-4 border-bottom pb-3">
      <h5>Organisation Admin Show</h5>
    </div>
    <div class="row">
      <div class="col-sm-2 text-center">
        <i class="fa fa-user-circle fa-5x" aria-hidden="true"></i>
      </div>
      <div class="col-sm-10 font-14">
        <p class="mb-2"><b class="mr-4">Name:</b> abc</p>
        <p class="mb-2"><b class="mr-4">Email:</b> abc@gmail.com</p>
        <p class="mb-2"><b class="mr-4">Organisation:</b> abc</p>
      </div>
    </div>
  </div>
</div>