<% if options.present? %>
  <% options&.each do |key, val| %>
    <div class="form-check d-flex align-items-center form-group mr-2">
      <%= check_box_tag param_name, val, false, class: 'form-check-input mt-0 shadow-none', id: "#{key} -- #{val}" %>
      <%= label_tag key, nil, class: 'form-check-label text-capitalize font-13', for: "#{key} -- #{val}" %>
    </div>
  <% end %>
<% else %>
  Please first select Region, Country and Institution.
<% end %>



