<div id='compounded-resilience-posture' class="new-dashboard">
  <div class="row no-gutters">
    <div class="col-sm-12 px-1">
      <div class="d-flex justify-content-between align-items-center flex-wrap">
        <div class="left d-flex align-items-center flex-wrap">
          <div class="mr-4 back-btn mb-2 mb-sm-0 ">
            <%= render 'layouts/partials/shared/redirect_back', path: organisation_dashboard_index_path %>
          </div>
          <h2 class="font-500 font-sm-18 font-25 text-capitalize">compounded resilience posture</h2>
        </div>
        <div class="right d-flex mt-3 mt-lg-0">
          <div class="white-btn d-flex align-items-center pl-2 px-3 rounded-50 mr-2 pr-2 mr-2 py-2 cursor-pointer">
            <span> <i class="fa fa-sliders"></i></span>
            <span class="text-capitalize font-12 font-xxl-14 ml-2 font-600">Customise</span>
          </div>
          <div class="white-btn d-flex align-items-center pl-2 mr-2 rounded-50 px-3 pr-2 py-2 cursor-pointer">
            <span><i class='fa fa-pencil font-16 mr-2'></i></span>
            <span class="text-capitalize font-12 font-xxl-14 font-600">edit</span>
          </div>
          <div class="white-btn p-1 d-flex align-items-center rounded-50 cursor-pointer">
            <i class="fa fa-ellipsis-v px-2 mx-1"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="secondary-sidebar-icon d-none">
    <i class='fa fa-ellipsis-v fa-1x font-18'></i>
  </div>
  <div class="row no-gutters mt-5">
    <div class="col-sm-12 px-1">
      <div class="w-100">
        <div class="content-area">
          <div id="section1">
            <ul class="nav nav-tabs m-0 custom-tab border-0 mb-4 row no-gutters" id="myTab" role="tablist">
              <li class="nav-item custom-item col-md-2 px-1 mb-2 mx-0">
                <a class="text-decoration-none nav-link w-100 font-12 py-3 text-capitalize px-2 rounded custom-link border-0 active" id="tier-1-tab" data-toggle="tab" href="#tier-1" role="tab" aria-controls="tier-1" aria-selected="true">amazon web services</a>
              </li>
              <li class="nav-item col-md-2 px-1 mb-2 mx-0 custom-item">
                <a class="text-decoration-none nav-link w-100 font-12 py-3 text-capitalize px-2 rounded custom-link border-0" id="tier-2-tab" data-toggle="tab" href="#tier-2" role="tab" aria-controls="tier-2" aria-selected="false">SLO conformence</a>
              </li>
              <li class="nav-item col-md-2 px-1 mb-2 mx-0 custom-item">
                <a class="text-decoration-none nav-link w-100 font-12 py-3 text-capitalize px-2 rounded custom-link border-0" id="tier-3-tab" data-toggle="tab" href="#tier-3" role="tab" aria-controls="tier-3" aria-selected="false">RTO Conformence</a>
              </li>
              <li class="nav-item col-md-2 px-1 mb-2 mx-0 custom-item">
                <a class="text-decoration-none nav-link w-100 font-12 py-3 text-capitalize px-2 rounded custom-link border-0" id="tier-4-tab" data-toggle="tab" href="#tier-4" role="tab" aria-controls="tier-4" aria-selected="false">RPO Conformence</a>
              </li>
              <li class="nav-item col-md-2 px-1 mb-2 mx-0 custom-item">
                <a class="text-decoration-none nav-link w-100 font-12 py-3 text-capitalize px-2 rounded custom-link border-0" id="tier-4-tab" data-toggle="tab" href="#tier-4" role="tab" aria-controls="tier-4" aria-selected="false">incident sev 1 notification</a>
              </li>
              <li class="nav-item col-md-2 px-1 mb-2 mx-0 custom-item">
                <a class="text-decoration-none nav-link w-100 font-12 py-3 text-capitalize px-2 rounded custom-link border-0" id="tier-4-tab" data-toggle="tab" href="#tier-4" role="tab" aria-controls="tier-4" aria-selected="false">incident sev 2 notification</a>
              </li>
              <li class="nav-item col-md-2 px-1 mb-2 mx-0 custom-item">
                <a class="text-decoration-none nav-link w-100 font-12 py-3 text-capitalize px-2 rounded custom-link border-0" id="tier-4-tab" data-toggle="tab" href="#tier-4" role="tab" aria-controls="tier-4" aria-selected="false">incident sev 3 notification</a>
              </li>
              <li class="nav-item col-md-2 px-1 mb-2 mx-0 custom-item">
                <a class="text-decoration-none nav-link w-100 font-12 py-3 text-capitalize px-2 rounded custom-link border-0" id="tier-4-tab" data-toggle="tab" href="#tier-4" role="tab" aria-controls="tier-4" aria-selected="false">incident sev 4 notification</a>
              </li>
              <li class="nav-item col-md-2 px-1 mb-2 mx-0 custom-item">
                <a class="text-decoration-none nav-link w-100 font-12 py-3 text-capitalize px-2 rounded custom-link border-0" id="tier-4-tab" data-toggle="tab" href="#tier-4" role="tab" aria-controls="tier-4" aria-selected="false">incident sev 1 restoration</a>
              </li>
              <li class="nav-item col-md-2 px-1 mb-2 mx-0 custom-item">
                <a class="text-decoration-none nav-link w-100 font-12 py-3 text-capitalize px-2 rounded custom-link border-0" id="tier-4-tab" data-toggle="tab" href="#tier-4" role="tab" aria-controls="tier-4" aria-selected="false">incident sev 2 restoration</a>
              </li>
              <li class="nav-item col-md-2 px-1 mb-2 mx-0 custom-item">
                <a class="text-decoration-none nav-link w-100 font-12 py-3 text-capitalize px-2 rounded custom-link border-0" id="tier-4-tab" data-toggle="tab" href="#tier-4" role="tab" aria-controls="tier-4" aria-selected="false">incident sev 3 restoration</a>
              </li>
              <li class="nav-item col-md-2 px-1 mb-2 mx-0 custom-item">
                <a class="text-decoration-none nav-link w-100 font-12 py-3 text-capitalize px-2 rounded custom-link border-0" id="tier-4-tab" data-toggle="tab" href="#tier-4" role="tab" aria-controls="tier-4" aria-selected="false">incident sev 4 restoration</a>
              </li>
            </ul>
          </div>
          <div id="section2">
            <div class="card border-0 shadow-sm rounded-50">
              <div class="card-body">
                <div class="row border-bottom w-100 mx-auto mb-5">
                  <div class="col-md-4 order-lg-1 order-2 mb-lg-0 mb-4">
                    <div class="card border-0 pie-high-chart">
                      <div class="card-header h-230px border-0 bg-white text-center">
                        <div class="donut-content">
                          <div id="ninteen-donut" class="donut"></div>
                          <div class="donut-value font-50 font-700">
                            <span>50</span>
                            <p class="font-13 font-300 text-capitalize">Total suppliers</p>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="tiers d-flex justify-content-between align-items-center mb-3">
                          <div class="color-tier d-flex align-items-center">
                            <div class="circle green-1"></div>
                            <span class="font-14 font-xxl-14 font-400 ml-2 text-capitalize">critical suppliers</span>
                          </div>
                          <span class="font-12 font-700 font-xxl-14">24</span>
                        </div>
                        <div class="tiers d-flex justify-content-between align-items-center mb-3">
                          <div class="color-tier d-flex align-items-center">
                            <div class="circle green-2"></div>
                            <span class="font-14 font-xxl-14 font-400 ml-2 text-capitalize">important suppliers</span>
                          </div>
                          <span class="font-12 font-xxl-14 font-700">24</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 order-lg-1 order-2 mb-lg-0 mb-4">
                    <div class="card border-0 pie-high-chart">
                      <div class="card-header h-230px border-0 bg-white text-center">
                        <div class="donut-content">
                          <div id="colored-donut-resilience-posture" class="donut"></div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="tiers d-flex justify-content-between align-items-center mb-3">
                          <div class="color-tier d-flex align-items-center">
                            <div class="circle green-1"></div>
                            <span class="font-14 font-xxl-14 font-400 ml-2 text-capitalize">match impact tolerance</span>
                          </div>
                          <span class="font-12 font-700">24</span>
                        </div>
                        <div class="tiers d-flex justify-content-between align-items-center mb-3">
                          <div class="color-tier d-flex align-items-center">
                            <div class="circle bg-dark-yellow"></div>
                            <span class="font-14 font-xxl-14 font-400 ml-2 text-capitalize">meet impact tolerance</span>
                          </div>
                          <span class="font-12 font-700">24</span>
                        </div>
                        <div class="tiers d-flex justify-content-between align-items-center mb-3">
                          <div class="color-tier d-flex align-items-center">
                            <div class="circle bg-red"></div>
                            <span class="font-14 font-xxl-14 font-400 ml-2 text-capitalize">exceed impact tolerance</span>
                          </div>
                          <span class="font-12 font-700">24</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 order-lg-1 order-2 mb-lg-0 mb-4">
                    <div class="card border-0 pie-high-chart">
                      <div class="card-header h-230px border-0 bg-white text-center">
                        <div class="donut-content">
                          <div id="twenty-one-donut" class="donut"></div>
                          <div class="donut-value font-50 font-700">50%</div>
                        </div>
                      </div>
                      <div class="card-body text-center">
                        <p class="font-14 font-xxl-14">Conformance with Impact Tolerance</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-0 no-gutters">
                  <div class="col-md-12 mb-4 mb-lg-0 px-1">
                    <div class="box">
                      <div class="d-flex mb-4 align-items-center px-1 justify-content-between mb-3">
                        <h5 class="text-capitalize">breakdown</h5>
                      </div>
                      <div class="tb-header align-items-center flex-wrap d-flex justify-content-between flex-lg-row flex-column">
                        <div class="form-group mb-lg-0 mb-3 flex-1 mr-0 mr-lg-2 w-100">
                          <span class="search-field d-block">
                            <i class="fa fa-search"></i>
                            <input type="text" class="bg-body-color h-auto form-control font-12 border-0 shadow-none" placeholder="Search Global Resilience Gaps" id="country-search-filter">
                          </span>
                        </div>
                        <div class="filter-grouped d-flex flex-half w-100">
                          <div class="dropdown body-color-dropdown mr-2 w-100">
                            <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class='dropdown-toggle text-capitalize py-2 pr-5 pl-2 d-flex align-items-center justify-content-start font-12 text-dark font-400' id='top-10'>Sort By: Impact Tolerace</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item">Action</a>
                              <a class="dropdown-item">Filter top 10</a>
                              <a class="dropdown-item">Filter top 10</a>
                            </div>
                          </div>
                          <div class="dropdown body-color-dropdown w-100">
                            <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class='dropdown-toggle text-capitalize py-2 pr-5 pl-2 d-flex align-items-center justify-content-start font-12 text-dark font-400' id='top-10'>10 results per page</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item">Action</a>
                              <a class="dropdown-item">Filter top 10</a>
                              <a class="dropdown-item">Filter top 10</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="table-responsive mt-0 mt-lg-3">
                        <table class="table custom-table mb-4">
                          <thead>
                            <tr>
                              <th class="font-12 border-bottom text-capitalize font-xxl-14 text-dark font-400">supplier name</th>
                              <th class="font-12 border-bottom text-capitalize font-xxl-14 text-dark font-400">party type</th>
                              <th class="font-12 border-bottom text-capitalize font-xxl-14 text-dark font-400">impact tolerance condtition</th>
                              <th class="font-12 border-bottom text-capitalize font-xxl-14 text-dark font-400">resilience ID</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="font-13 border-0 text-capitalize font-xxl-14 text-dark font-600">supplier name</td>
                              <td class="font-13 border-0 font-xxl-14 text-dark font-600">3</td>
                              <td class="font-13 border-0 font-xxl-14 text-dark font-600">
                                <div class="d-flex align-items-center">
                                  <div class="sm-circle bg-primary-green"></div>
                                  <span class="ml-2 text-capitalize">matches impact tolerance</span>
                                </div>
                              </td>
                              <td class="font-13 border-0 font-xxl-14 text-dark font-600">5</td>
                            </tr>
                            <tr>
                              <td class="font-13 border-0 text-capitalize font-xxl-14 text-dark font-600">supplier name</td>
                              <td class="font-13 border-0 font-xxl-14 text-dark font-600">3</td>
                              <td class="font-13 border-0 font-xxl-14 text-dark font-600">
                                <div class="d-flex align-items-center">
                                  <div class="sm-circle bg-primary-green"></div>
                                  <span class="ml-2 text-capitalize">matches impact tolerance</span>
                                </div>
                              </td>
                              <td class="font-13 border-0 font-xxl-14 text-dark font-600">5</td>
                            </tr>
                            <tr>
                              <td class="font-13 border-0 text-capitalize font-xxl-14 text-dark font-600">supplier name</td>
                              <td class="font-13 border-0 font-xxl-14 text-dark font-600">3</td>
                              <td class="font-13 border-0 font-xxl-14 text-dark font-600">
                                <div class="d-flex align-items-center">
                                  <div class="sm-circle bg-primary-green"></div>
                                  <span class="ml-2 text-capitalize">matches impact tolerance</span>
                                </div>
                              </td>
                              <td class="font-13 border-0 font-xxl-14 text-dark font-600">5</td>
                            </tr>
                            <tr>
                              <td class="font-13 border-0 text-capitalize font-xxl-14 text-dark font-600">supplier name</td>
                              <td class="font-13 border-0 font-xxl-14 text-dark font-600">3</td>
                              <td class="font-13 border-0 font-xxl-14 text-dark font-600">
                                <div class="d-flex align-items-center">
                                  <div class="sm-circle bg-red"></div>
                                  <span class="ml-2 text-capitalize">exceeds impact tolerance</span>
                                </div>
                              </td>
                              <td class="font-13 border-0 font-xxl-14 text-dark font-600">5</td>
                            </tr>
                            <tr>
                              <td class="font-13 border-0 text-capitalize font-xxl-14 text-dark font-600">supplier name</td>
                              <td class="font-13 border-0 font-xxl-14 text-dark font-600">3</td>
                              <td class="font-13 border-0 font-xxl-14 text-dark font-600">
                                <div class="d-flex align-items-center">
                                  <div class="sm-circle bg-dark-yellow"></div>
                                  <span class="ml-2 text-capitalize">meet impact tolerance</span>
                                </div>
                              </td>
                              <td class="font-13 border-0 font-xxl-14 text-dark font-600">5</td>
                            </tr>
                          </tbody>
                        </table>
                        <nav aria-label="Page navigation example">
                          <ul class="pagination pagination-active justify-content-center mb-0 border-top pt-4">
                            <li class="page-item active"><a class="rounded-0 font-12 font-xxl-14 page-link border-0 text-light-grey shadow-none transition" href="javascript:void(0);">1</a></li>
                            <li class="page-item"><a class="rounded-0 font-12 font-xxl-14 page-link border-0 text-light-grey shadow-none transition" href="javascript:void(0);">2</a></li>
                            <li class="page-item"><a class="rounded-0 font-12 font-xxl-14 page-link border-0 text-light-grey shadow-none transition" href="javascript:void(0);">3</a></li>
                            <li class="page-item"><a class="rounded-0 font-12 font-xxl-14 page-link border-0 text-light-grey shadow-none transition" href="javascript:void(0);">4</a></li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

