<div class="row no-gutters">
  <div class="col-sm-12 px-1">
    <div class="d-flex justify-content-between align-items-center flex-wrap">
      <div class="left d-flex align-items-center flex-wrap">
        <div class="mr-4 back-btn mb-2 mb-sm-0 ">
          <%= render 'layouts/partials/shared/redirect_back', path: organisation_dashboard_index_path %>
        </div>
        <h2 class="font-500 font-sm-18 font-25 text-capitalize">Critical &amp; Important Business Service Breakdown </h2>
      </div>
      <div class="right d-flex mt-3 mt-lg-0">
        <div class="white-btn p-1 d-flex align-items-center rounded-50 cursor-pointer">
          <i class="fa fa-ellipsis-v px-2 mx-1"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row no-gutters mt-5">
  <div class="col-md-6 mb-4 px-1">
    <div class="card shadow">
      <div class="d-flex justify-content-between align-items-center py-3 px-4 mt-3">
        <h5 class="text-capitalize mr-4 font-xxl-25 flex-1">Critical supplier & business service steps summary</h5>
        <div class="large-green-circle d-flex align-items-center justify-content-center font-30 font-500">19</div>
      </div>
      <div class="table-responsive px-4 min-h-150 max-h-500 mt-4">
        <p class="font-14 font-600">Critical systems & suppliers underpinning this business service</p>
        <table class="table custom-table font-14 m-0">
          <thead>
            <tr class="border-bottom">
              <th class="text-capitalize font-12 font-500 font-xxl-14 pl-0">Business Service Name</th>
              <th class="font-12 font-500 font-xxl-14 px-2 text-capitalize">Service Tier</th>
              <th class="font-12 font-500 font-xxl-14 px-2 text-capitalize">step</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="font-12 font-xxl-14 pl-0 text-capitalize text-black font-500 border-0">supplier name</td>
              <td class="font-12 font-xxl-14 px-2 text-capitalize text-black font-500 border-0">3rd Party</td>
              <td class="font-12 font-xxl-14 px-2 text-capitalize text-black font-500 border-0">step title</td>
            </tr>
            <tr>
              <td class="font-12 font-xxl-14 pl-0 text-capitalize text-black font-500 border-0">supplier name</td>
              <td class="font-12 font-xxl-14 px-2 text-capitalize text-black font-500 border-0">3rd Party</td>
              <td class="font-12 font-xxl-14 px-2 text-capitalize text-black font-500 border-0">step title</td>
            </tr>
            <tr>
              <td class="font-12 font-xxl-14 pl-0 text-capitalize text-black font-500 border-0">supplier name</td>
              <td class="font-12 font-xxl-14 px-2 text-capitalize text-black font-500 border-0">3rd Party</td>
              <td class="font-12 font-xxl-14 px-2 text-capitalize text-black font-500 border-0">step title</td>
            </tr>
            <tr>
              <td class="font-12 font-xxl-14 pl-0 text-capitalize text-black font-500 border-0">supplier name</td>
              <td class="font-12 font-xxl-14 px-2 text-capitalize text-black font-500 border-0">3rd Party</td>
              <td class="font-12 font-xxl-14 px-2 text-capitalize text-black font-500 border-0">step title</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-4 px-1">
    <div class="card shadow">
      <div class="d-flex justify-content-between align-items-center py-3 px-4 mt-3">
        <h5 class="text-capitalize mr-4 font-xxl-25 flex-1">Important supplier & business service steps summary</h5>
        <div class="large-green-circle d-flex align-items-center justify-content-center font-30 font-500">19</div>
      </div>
      <div class="table-responsive px-4 min-h-150 max-h-500 mt-4">
        <p class="font-14 font-600">Important systems & suppliers underpinning this business service</p>
        <table class="table custom-table font-14 m-0">
          <thead>
            <tr class="border-bottom">
              <th class="text-capitalize font-12 font-500 font-xxl-14 pl-0">supplier name</th>
              <th class="font-12 font-500 font-xxl-14 px-2 text-capitalize">party type</th>
              <th class="font-12 font-500 font-xxl-14 px-2 text-capitalize">step</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="font-12 font-xxl-14 pl-0 text-capitalize text-black font-500 border-0">supplier name</td>
              <td class="font-12 font-xxl-14 px-2 text-capitalize text-black font-500 border-0">3rd Party</td>
              <td class="font-12 font-xxl-14 px-2 text-capitalize text-black font-500 border-0">step title</td>
            </tr>
            <tr>
              <td class="font-12 font-xxl-14 pl-0 text-capitalize text-black font-500 border-0">supplier name</td>
              <td class="font-12 font-xxl-14 px-2 text-capitalize text-black font-500 border-0">3rd Party</td>
              <td class="font-12 font-xxl-14 px-2 text-capitalize text-black font-500 border-0">step title</td>
            </tr>
            <tr>
              <td class="font-12 font-xxl-14 pl-0 text-capitalize text-black font-500 border-0">supplier name</td>
              <td class="font-12 font-xxl-14 px-2 text-capitalize text-black font-500 border-0">3rd Party</td>
              <td class="font-12 font-xxl-14 px-2 text-capitalize text-black font-500 border-0">step title</td>
            </tr>
            <tr>
              <td class="font-12 font-xxl-14 pl-0 text-capitalize text-black font-500 border-0">supplier name</td>
              <td class="font-12 font-xxl-14 px-2 text-capitalize text-black font-500 border-0">3rd Party</td>
              <td class="font-12 font-xxl-14 px-2 text-capitalize text-black font-500 border-0">step title</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
