.btn {
  padding: 0.85rem 0.75rem;
}

.primary-btn {
  background: $secondary-green;
  color: #fff;
  &:hover {
    color: #fff;
  }
}
.dark-btn {
  background: #000;
  color: #fff;
  &:hover {
    color: #fff;
  }
}
.btn-light-grey {
  background: #e5e5e5;
}

.body-color-dropdown {
  background: $body-bg-color;
  width: 150px;
  > a {
    position: relative;
    &:after {
      position: absolute;
      right: 10px;
    }
  }
}

.pink-btn {
  background: #FBF0ED;
  color: #E6987B;
}

.light-green-btn {
  background: #ECF7F4;
  color: #5BBDA1;
}
.dropdown-radius-btn {
  position: relative;
  width: 180px;
  &:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: #353535;
    right: 37px;
    top: 0;
    bottom: 0;
  }
  a, button {
    border-radius: 7px;
  }
  .dropdown-menu {
    right: 0;
    border-radius: 7px;
  }
}
