.primary-btn {
  background: #367C5C;
  color: #fff;
  font-size: 14px;
  border-radius: 0;
  &:hover {
  	color: #fff;
  }
}
.dark-btn {
  background: #000;
  color: #fff;
  font-size: 14px;
  border-radius: 0;
  &:hover {
  	color: #fff;
  }
}