.primary-btn {
  background: #367C5C;
  color: #fff;
  &:hover {
    color: #fff;
  }
}
.dark-btn {
  background: #000;
  color: #fff;
  &:hover {
    color: #fff;
  }
}
.btn-light-grey {
  background: #e5e5e5;
}

.pink-btn {
  background: #FBF0ED;
  color: #E6987B;
}

.light-green-btn {
  background: #ECF7F4;
  color: #5BBDA1;
}
