<div class="card mt-4 no-gutters">
  <div class="card-body">
    <div id="bsl-step-supplier-chp" class="row custom-high-chart px-md-3 lazy-graph" data-key="bsl_step_supplier_chp" data-args="<%= { bsl: @bsl.id, version: 'v1' }.to_json %>" data-append-to="bsl-step-supplier-chp" data-partial-name="bsl_step_supplier_chp">
      <%= render 'organisation/graphs/partials/bsl_step_supplier_chp', data: {} %>
    </div>
  </div>
</div>
