<div class="row mt-4">
  <div class="col-md-12">
    <div class="card border-0 shadow-sm rounded-50">
      <div class="text px-4 py-4 d-flex justify-content-between align-items-center">
        <h2 class="card-heading font-18 font-600 text-left">Resilience Issues</h2>
        <!-- <i class="fa fa-ellipsis-v mx-1 text-right card-heading-icon" aria-hidden="true"></i> -->
      </div>
      <ul class="nav nav-tabs border-0 active-green my-4 px-4">
        <li class="nav-item mr-3">
          <a href="#opne_issues" class="nav-link active text-capitalize font-12 font-xxl-14 border-0 p-0 pb-2 text-light-grey font-500" data-toggle="tab" href="#opne_issues" role="tab" aria-controls="opne_issues" aria-selected="true">Open Issues</a>
        </li>
        <li class="nav-item mr-3">
          <a href="#closed_issues" class="nav-link text-capitalize font-12 font-xxl-14 border-0 p-0 pb-2 text-light-grey font-500" data-toggle="tab" href="#closed_issues" role="tab" aria-controls="closed_issues" aria-selected="true">Closed Issues</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade active show" id='open_issues'>
          <div class="top-5-table">
            <div class="table-responsive">
              <table class="table mb-0 table-striped">
                <thead>
                  <tr>
                    <th class="font-12 text-light-grey border-bottom-0 border-top-0 pl-4">ID</th>
                    <th class="font-12 text-light-grey border-bottom-0 border-top-0">Impact</th>
                    <th class="font-12 text-light-grey border-bottom-0 border-top-0">Supplier</th>
                    <th class="font-12 text-light-grey border-bottom-0 border-top-0">Description</th>
                    <th class="font-12 text-light-grey border-bottom-0 border-top-0">Created</th>
                    <th class="font-12 text-light-grey border-bottom-0 border-top-0">Updated</th>
                    <th class="font-12 text-light-grey border-bottom-0 border-top-0">Days Open</th>
                    <th class="font-12 text-light-grey border-bottom-0 border-top-0">Owner</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="font-12 font-500 pl-4">RES-01-COBJ</td>
                    <td class="font-12 font-500">High</td>
                    <td class="font-12 font-500">Supplier ABC</td>
                    <td class="font-12 font-500">Some notes go in this space</td>
                    <td class="font-12 font-500">4.03.21</td>
                    <td class="font-12 font-500">12.03.21</td>
                    <td class="font-12 font-500">12</td>
                    <td class="font-12 font-500">John Doe</td>
                  </tr>
                  <tr>
                    <td class="font-12 font-500 pl-4">RES-01-COBJ</td>
                    <td class="font-12 font-500">High</td>
                    <td class="font-12 font-500">Supplier ABC</td>
                    <td class="font-12 font-500">Some notes go in this space</td>
                    <td class="font-12 font-500">4.03.21</td>
                    <td class="font-12 font-500">12.03.21</td>
                    <td class="font-12 font-500">12</td>
                    <td class="font-12 font-500">John Doe</td>
                  </tr>
                  <tr>
                    <td class="font-12 font-500 pl-4">RES-01-COBJ</td>
                    <td class="font-12 font-500">High</td>
                    <td class="font-12 font-500">Supplier ABC</td>
                    <td class="font-12 font-500">Some notes go in this space</td>
                    <td class="font-12 font-500">4.03.21</td>
                    <td class="font-12 font-500">12.03.21</td>
                    <td class="font-12 font-500">12</td>
                    <td class="font-12 font-500">John Doe</td>
                  </tr>
                  <tr>
                    <td class="font-12 font-500 pl-4">RES-01-COBJ</td>
                    <td class="font-12 font-500">High</td>
                    <td class="font-12 font-500">Supplier ABC</td>
                    <td class="font-12 font-500">Some notes go in this space</td>
                    <td class="font-12 font-500">4.03.21</td>
                    <td class="font-12 font-500">12.03.21</td>
                    <td class="font-12 font-500">12</td>
                    <td class="font-12 font-500">John Doe</td>
                  </tr>
                  <tr>
                    <td class="font-12 font-500 pl-4">RES-01-COBJ</td>
                    <td class="font-12 font-500">High</td>
                    <td class="font-12 font-500">Supplier ABC</td>
                    <td class="font-12 font-500">Some notes go in this space</td>
                    <td class="font-12 font-500">4.03.21</td>
                    <td class="font-12 font-500">12.03.21</td>
                    <td class="font-12 font-500">12</td>
                    <td class="font-12 font-500">John Doe</td>
                  </tr>
                  <tr>
                    <td class="font-12 font-500 pl-4">RES-01-COBJ</td>
                    <td class="font-12 font-500">High</td>
                    <td class="font-12 font-500">Supplier ABC</td>
                    <td class="font-12 font-500">Some notes go in this space</td>
                    <td class="font-12 font-500">4.03.21</td>
                    <td class="font-12 font-500">12.03.21</td>
                    <td class="font-12 font-500">12</td>
                    <td class="font-12 font-500">John Doe</td>
                  </tr>
                  <tr>
                    <td class="font-12 font-500 pl-4">RES-01-COBJ</td>
                    <td class="font-12 font-500">High</td>
                    <td class="font-12 font-500">Supplier ABC</td>
                    <td class="font-12 font-500">Some notes go in this space</td>
                    <td class="font-12 font-500">4.03.21</td>
                    <td class="font-12 font-500">12.03.21</td>
                    <td class="font-12 font-500">12</td>
                    <td class="font-12 font-500">John Doe</td>
                  </tr>
                  <tr>
                    <td class="font-12 font-500 pl-4">RES-01-COBJ</td>
                    <td class="font-12 font-500">High</td>
                    <td class="font-12 font-500">Supplier ABC</td>
                    <td class="font-12 font-500">Some notes go in this space</td>
                    <td class="font-12 font-500">4.03.21</td>
                    <td class="font-12 font-500">12.03.21</td>
                    <td class="font-12 font-500">12</td>
                    <td class="font-12 font-500">John Doe</td>
                  </tr>
                  <tr>
                    <td class="font-12 font-500 pl-4">RES-01-COBJ</td>
                    <td class="font-12 font-500">High</td>
                    <td class="font-12 font-500">Supplier ABC</td>
                    <td class="font-12 font-500">Some notes go in this space</td>
                    <td class="font-12 font-500">4.03.21</td>
                    <td class="font-12 font-500">12.03.21</td>
                    <td class="font-12 font-500">12</td>
                    <td class="font-12 font-500">John Doe</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id='closed_issues'>
          <div class="top-5-table">
            <div class="table-responsive">
              <table class="table mb-0 table-striped">
                <thead>
                  <tr>
                    <th class="font-12 text-light-grey border-bottom-0 border-top-0 pl-4">ID</th>
                    <th class="font-12 text-light-grey border-bottom-0 border-top-0">Impact</th>
                    <th class="font-12 text-light-grey border-bottom-0 border-top-0">Supplier</th>
                    <th class="font-12 text-light-grey border-bottom-0 border-top-0">Description</th>
                    <th class="font-12 text-light-grey border-bottom-0 border-top-0">Created</th>
                    <th class="font-12 text-light-grey border-bottom-0 border-top-0">Updated</th>
                    <th class="font-12 text-light-grey border-bottom-0 border-top-0">Days Open</th>
                    <th class="font-12 text-light-grey border-bottom-0 border-top-0">Owner</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="font-12 font-500 pl-4">RES-01-COBJ</td>
                    <td class="font-12 font-500">High</td>
                    <td class="font-12 font-500">Supplier ABC</td>
                    <td class="font-12 font-500">Some notes go in this space</td>
                    <td class="font-12 font-500">4.03.21</td>
                    <td class="font-12 font-500">12.03.21</td>
                    <td class="font-12 font-500">12</td>
                    <td class="font-12 font-500">John Doe</td>
                  </tr>
                  <tr>
                    <td class="font-12 font-500 pl-4">RES-01-COBJ</td>
                    <td class="font-12 font-500">High</td>
                    <td class="font-12 font-500">Supplier ABC</td>
                    <td class="font-12 font-500">Some notes go in this space</td>
                    <td class="font-12 font-500">4.03.21</td>
                    <td class="font-12 font-500">12.03.21</td>
                    <td class="font-12 font-500">12</td>
                    <td class="font-12 font-500">John Doe</td>
                  </tr>
                  <tr>
                    <td class="font-12 font-500 pl-4">RES-01-COBJ</td>
                    <td class="font-12 font-500">High</td>
                    <td class="font-12 font-500">Supplier ABC</td>
                    <td class="font-12 font-500">Some notes go in this space</td>
                    <td class="font-12 font-500">4.03.21</td>
                    <td class="font-12 font-500">12.03.21</td>
                    <td class="font-12 font-500">12</td>
                    <td class="font-12 font-500">John Doe</td>
                  </tr>
                  <tr>
                    <td class="font-12 font-500 pl-4">RES-01-COBJ</td>
                    <td class="font-12 font-500">High</td>
                    <td class="font-12 font-500">Supplier ABC</td>
                    <td class="font-12 font-500">Some notes go in this space</td>
                    <td class="font-12 font-500">4.03.21</td>
                    <td class="font-12 font-500">12.03.21</td>
                    <td class="font-12 font-500">12</td>
                    <td class="font-12 font-500">John Doe</td>
                  </tr>
                  <tr>
                    <td class="font-12 font-500 pl-4">RES-01-COBJ</td>
                    <td class="font-12 font-500">High</td>
                    <td class="font-12 font-500">Supplier ABC</td>
                    <td class="font-12 font-500">Some notes go in this space</td>
                    <td class="font-12 font-500">4.03.21</td>
                    <td class="font-12 font-500">12.03.21</td>
                    <td class="font-12 font-500">12</td>
                    <td class="font-12 font-500">John Doe</td>
                  </tr>
                  <tr>
                    <td class="font-12 font-500 pl-4">RES-01-COBJ</td>
                    <td class="font-12 font-500">High</td>
                    <td class="font-12 font-500">Supplier ABC</td>
                    <td class="font-12 font-500">Some notes go in this space</td>
                    <td class="font-12 font-500">4.03.21</td>
                    <td class="font-12 font-500">12.03.21</td>
                    <td class="font-12 font-500">12</td>
                    <td class="font-12 font-500">John Doe</td>
                  </tr>
                  <tr>
                    <td class="font-12 font-500 pl-4">RES-01-COBJ</td>
                    <td class="font-12 font-500">High</td>
                    <td class="font-12 font-500">Supplier ABC</td>
                    <td class="font-12 font-500">Some notes go in this space</td>
                    <td class="font-12 font-500">4.03.21</td>
                    <td class="font-12 font-500">12.03.21</td>
                    <td class="font-12 font-500">12</td>
                    <td class="font-12 font-500">John Doe</td>
                  </tr>
                  <tr>
                    <td class="font-12 font-500 pl-4">RES-01-COBJ</td>
                    <td class="font-12 font-500">High</td>
                    <td class="font-12 font-500">Supplier ABC</td>
                    <td class="font-12 font-500">Some notes go in this space</td>
                    <td class="font-12 font-500">4.03.21</td>
                    <td class="font-12 font-500">12.03.21</td>
                    <td class="font-12 font-500">12</td>
                    <td class="font-12 font-500">John Doe</td>
                  </tr>
                  <tr>
                    <td class="font-12 font-500 pl-4">RES-01-COBJ</td>
                    <td class="font-12 font-500">High</td>
                    <td class="font-12 font-500">Supplier ABC</td>
                    <td class="font-12 font-500">Some notes go in this space</td>
                    <td class="font-12 font-500">4.03.21</td>
                    <td class="font-12 font-500">12.03.21</td>
                    <td class="font-12 font-500">12</td>
                    <td class="font-12 font-500">John Doe</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
