<div class="row mt-4">
  <div class="col-md-12">
    <div class="card border-0 shadow-sm rounded-50">
      <div class="text px-4 py-4 d-flex justify-content-between align-items-center">
        <h2 class="card-heading font-18 font-600 text-left">System & Supplier Breakdown</h2>
        <!-- <i class="fa fa-ellipsis-v mx-1 text-right card-heading-icon" aria-hidden="true"></i> -->
      </div>
      <ul class="nav nav-tabs border-0 active-green my-4 px-4">
        <li class="nav-item mr-3">
          <a href="#all_risk" class="nav-link active text-capitalize font-12 font-xxl-14 border-0 p-0 pb-2 text-light-grey font-500" data-toggle="tab" href="#all_risk" role="tab" aria-controls="all_risk" aria-selected="true">Show All</a>
        </li>
        <li class="nav-item mr-3">
          <a href="#very_high_risk" class="nav-link text-capitalize font-12 font-xxl-14 border-0 p-0 pb-2 text-light-grey font-500" data-toggle="tab" href="#very_high_risk" role="tab" aria-controls="very_high_risk" aria-selected="true">Very High Risk</a>
        </li>
        <li class="nav-item mr-3">
          <a href="#high_risk" class="nav-link text-capitalize font-12 font-xxl-14 border-0 p-0 pb-2 text-light-grey font-500" data-toggle="tab" href="#high_risk" role="tab" aria-controls="high_risk" aria-selected="true">High Risk</a>
        </li>
        <li class="nav-item mr-3">
          <a href="#medium_risk" class="nav-link text-capitalize font-12 font-xxl-14 border-0 p-0 pb-2 text-light-grey font-500" data-toggle="tab" href="#medium_risk" role="tab" aria-controls="medium_risk" aria-selected="true">Medium Risk</a>
        </li>
        <li class="nav-item mr-3">
          <a href="#low_risk" class="nav-link text-capitalize font-12 font-xxl-14 border-0 p-0 pb-2 text-light-grey font-500" data-toggle="tab" href="#low_risk" role="tab" aria-controls="low_risk" aria-selected="true">Low Risk</a>
        </li>
      </ul>
      <div class="tab-content px-4 mb-4">
        
        <!-- Zero Tabs Start -->
        <div class="tab-pane fade active show" id='all_risk'>
          <div id="supplier-system-breakdown" class="lazy-graph" data-key="supplier_system_breakdown" data-args="<%= { bsl: @bsl.id }.to_json %>" data-append-to="supplier-system-breakdown" data-partial-name="system_suppliers_subsection">
            <%= render 'organisation/graphs/partials/system_suppliers_subsection', data: {} %>
          </div>
        </div>
        <!-- Zero Tabs End -->

        <!-- First Tab Start-->
        <div class="tab-pane fade" id='very_high_risk'>
          <div class="accordion" id="accordionExample">
            <div class="card font-12">
              <div class="card-header bg-white p-0" id="headingOne">
                <h2 class="mb-0">
                  <button class="w-100 btn btn-link text-black" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <div class="row justify-content-between no-gutters align-items-center">
                      <div class="flex-1 my-2 px-1">
                        <h6 class="text-left font-xs-12">KYC Supplier</h6>
                      </div>
                      <div class="flex-half my-2 px-1">
                        <div class="image w-25px">
                          <%= image_pack_tag 'media/images/aws.png', class: 'img-fluid w-100' %>
                        </div>
                      </div>
                      <div class="flex-1 my-2 px-1">
                        <h6 class="font-xs-12">Saas</h6>
                      </div>
                      <div class="flex-1 my-2 px-1">
                        <h6 class="font-xs-12">Critical</h6>
                      </div>
                      <div class="flex-1 my-2 px-1 text-center flex-1">
                        <div class="color-tier d-flex align-items-center text-center justify-content-center">
                          <div class="circle red-circle p-2"></div>
                          <span class="font-12 font-400 ml-2">Very High Risk</span>
                        </div>
                      </div>
                      <div class="flex-half action">
                        <i class="fa fa-plus font-16 font-xxl-25"></i>
                        <i class="fa fa-minus font-16 font-xxl-25"></i>
                      </div>
                    </div>
                  </button>
                </h2>
              </div>
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="d-flex align-items-start justify-content-between flex-sm-row flex-column">
                    <div class="d-flex flex-1">
                      <div class="text-box flex-1">
                        <p>Contracted SLA</p>
                      </div>
                      <div class="text-box flex-1">
                        <p class="text-left">99.9%</p>
                      </div>
                    </div>
                    <div class="text-box w-20">
                      <div class="color-tier d-flex align-items-center justify-content-start">
                        <div class="circle red-circle p-2"></div>
                        <span class="font-11 font-400 ml-2">Very High Risk</span>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="text-box w-40">
                      <p>Contracted RTO</p>
                    </div>
                    <div class="text-box w-40">
                      <p class="text-left">24 mins</p>
                    </div>
                    <div class="text-box w-20">
                      <div class="color-tier d-flex align-items-center justify-content-start">
                        <div class="circle red-circle p-2"></div>
                        <span class="font-11 font-400 ml-2">Very High Risk</span>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="text-box w-40">
                      <p>Contracted RPO</p>
                    </div>
                    <div class="text-box w-40">
                      <p class="text-left">1 min</p>
                    </div>
                    <div class="text-box w-20">
                      <div class="color-tier d-flex align-items-center justify-content-start">
                        <div class="circle orange-circle p-2"></div>
                        <span class="font-11 font-400 ml-2">High Risk</span>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="text-box w-40">
                      <p>Contracted TPS</p>
                    </div>
                    <div class="text-box w-40">
                      <p class="text-left">100 TPS</p>
                    </div>
                    <div class="text-box w-20">
                      <div class="color-tier d-flex align-items-center justify-content-start">
                        <div class="circle orange-circle p-2"></div>
                        <span class="font-11 font-400 ml-2">High Risk</span>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="text-box w-40">
                      <p>Contracted Response Time</p>
                    </div>
                    <div class="text-box w-40">
                      <p class="text-left">1 m/s</p>
                    </div>
                    <div class="text-box w-20">
                      <div class="color-tier d-flex align-items-center justify-content-start">
                        <div class="circle orange-circle p-2"></div>
                        <span class="font-11 font-400 ml-2">High Risk</span>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="text-box w-40">
                      <p>Support Hours</p>
                    </div>
                    <div class="text-box w-40">
                      <p class="text-left">24/7</p>
                    </div>
                    <div class="text-box w-20">
                      <div class="color-tier d-flex align-items-center justify-content-start">
                        <div class="circle green-1 p-2"></div>
                        <span class="font-11 font-400 ml-2">Low Risk</span>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="text-box w-40">
                      <p>Party Type</p>
                    </div>
                    <div class="text-box w-40">
                      <p class="text-left">3rd Party</p>
                    </div>
                    <div class="text-box w-20">
                      <div class="color-tier d-flex align-items-center justify-content-start">
                        <div class="circle green-1 p-2"></div>
                        <span class="font-11 font-400 ml-2">Low Risk</span>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="card-body">
                  <div class="incident-response">
                    <h6 class="mb-4">Incident Response & Restoration</h6>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th class="border-0 text-light-grey font-12 pl-0">Incident</th>
                            <th class="border-0 text-light-grey font-12 pl-0">Severity 1</th>
                            <th class="border-0 text-light-grey font-12 pl-0">Severity 2</th>
                            <th class="border-0 text-light-grey font-12 pl-0">Severity 3</th>
                            <th class="border-0 text-light-grey font-12 pl-0">Severity 4</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="border-0 pl-0 font-12">Incident Response SLA</td>
                            <td class="border-0 pl-0 font-12">
                              <div class="color-tier d-flex align-items-center justify-content-start">
                                <div class="circle red-circle p-2"></div>
                                <span class="font-11 font-400 ml-2">20 Mins</span>
                              </div>
                            </td>
                            <td class="border-0 pl-0 font-12">
                              <div class="color-tier d-flex align-items-center justify-content-start">
                                <div class="circle green-1 p-2"></div>
                                <span class="font-11 font-400 ml-2">20 Mins</span>
                              </div>
                            </td>
                            <td class="border-0 pl-0 font-12">
                              <div class="color-tier d-flex align-items-center justify-content-start">
                                <div class="circle yellow-circle p-2"></div>
                                <span class="font-11 font-400 ml-2">20 Mins</span>
                              </div>
                            </td>
                            <td class="border-0 pl-0 font-12">
                              <div class="color-tier d-flex align-items-center justify-content-start">
                                <div class="circle green-1 p-2"></div>
                                <span class="font-11 font-400 ml-2">20 Mins</span>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td class="border-0 pl-0 font-12">Incident Response SLA</td>
                            <td class="border-0 pl-0 font-12">
                              <div class="color-tier d-flex align-items-center justify-content-start">
                                <div class="circle red-circle p-2"></div>
                                <span class="font-11 font-400 ml-2">20 Mins</span>
                              </div>
                            </td>
                            <td class="border-0 pl-0 font-12">
                              <div class="color-tier d-flex align-items-center justify-content-start">
                                <div class="circle green-1 p-2"></div>
                                <span class="font-11 font-400 ml-2">20 Mins</span>
                              </div>
                            </td>
                            <td class="border-0 pl-0 font-12">
                              <div class="color-tier d-flex align-items-center justify-content-start">
                                <div class="circle yellow-circle p-2"></div>
                                <span class="font-11 font-400 ml-2">20 Mins</span>
                              </div>
                            </td>
                            <td class="border-0 pl-0 font-12">
                              <div class="color-tier d-flex align-items-center justify-content-start">
                                <div class="circle green-1 p-2"></div>
                                <span class="font-11 font-400 ml-2">20 Mins</span>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="card-body">
                  <div class="incident-response">
                    <h6 class="mb-4">4th Party Suppliers</h6>
                    <div class="4th-party-supplier-box d-flex align-items-center justify-content-between mb-2">
                      <div class="w-50 d-flex align-items-center justify-content-between mr-md-5 mr-2">
                        <span class="text-black font-12">Supplier Name Goes Here</span>
                        <a href="#" class="text-decoration-none text-black font-12">View Details</a>
                      </div>
                      <div class="w-50 d-flex align-items-center justify-content-between ml-md-5 ml-2">
                        <span class="text-black font-12">Supplier Name Goes Here</span>
                        <a href="#" class="text-decoration-none text-black font-12">View Details</a>
                      </div>
                    </div>
                    <div class="4th-party-supplier-box d-flex align-items-center justify-content-between mb-2">
                      <div class="w-50 d-flex align-items-center justify-content-between mr-md-5 mr-2">
                        <span class="text-black font-12">Supplier Name Goes Here</span>
                        <a href="#" class="text-decoration-none text-black font-12">View Details</a>
                      </div>
                      <div class="w-50 d-flex align-items-center justify-content-between ml-md-5 ml-2">
                        <span class="text-black font-12">Supplier Name Goes Here</span>
                        <a href="#" class="text-decoration-none text-black font-12">View Details</a>
                      </div>
                    </div>
                    <div class="4th-party-supplier-box d-flex align-items-center justify-content-between mb-2">
                      <div class="w-50 d-flex align-items-center justify-content-between mr-md-5 mr-2">
                        <span class="text-black font-12">Supplier Name Goes Here</span>
                        <a href="#" class="text-decoration-none text-black font-12">View Details</a>
                      </div>
                      <div class="w-50 d-flex align-items-center justify-content-between ml-md-5 ml-2">
                        <span class="text-black font-12">Supplier Name Goes Here</span>
                        <a href="#" class="text-decoration-none text-black font-12">View Details</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- First Tab End -->

        <!-- Second Tab Start-->
        <div class="tab-pane fade" id='high_risk'>
          <div class="accordion" id="accordionExample">
            <div class="card font-12">
              <div class="card-header bg-white p-0" id="headingOne">
                <h2 class="mb-0">
                  <button class="w-100 btn btn-link text-black" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <div class="row flex-nowrap justify-content-between no-gutters align-items-center">
                      <div class="flex-half my-2 px-1">
                        <h6 class="text-left">KYC Supplier</h6>
                      </div>
                      <div class="flex-half my-2 px-1">
                        <div class="image">
                          <%= image_pack_tag 'media/images/aws.png', class: 'img-fluid w-100' %>
                        </div>
                      </div>
                      <div class="flex-1 my-2 px-1">
                        <h6>Saas</h6>
                      </div>
                      <div class="flex-1 my-2 px-1">
                        <h6>Critical</h6>
                      </div>
                      <div class="flex-1 my-2">
                        <div class="color-tier d-flex align-items-center text-center justify-content-center">
                          <div class="circle red-circle p-2"></div>
                          <span class="font-12 font-400 ml-2">Very High Risk</span>
                        </div>
                      </div>
                      <div class="flex-half action">
                        <i class="fa fa-plus font-16 font-xxl-25"></i>
                        <i class="fa fa-minus font-16 font-xxl-25"></i>
                      </div>
                    </div>
                  </button>
                </h2>
              </div>
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="text-box w-40">
                      <p>Contracted SLA</p>
                    </div>
                    <div class="text-box w-40">
                      <p class="text-left">99.9%</p>
                    </div>
                    <div class="text-box w-20">
                      <div class="color-tier d-flex align-items-center justify-content-start">
                        <div class="circle red-circle p-2"></div>
                        <span class="font-11 font-400 ml-2">Very High Risk</span>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="text-box w-40">
                      <p>Contracted RTO</p>
                    </div>
                    <div class="text-box w-40">
                      <p class="text-left">24 mins</p>
                    </div>
                    <div class="text-box w-20">
                      <div class="color-tier d-flex align-items-center justify-content-start">
                        <div class="circle red-circle p-2"></div>
                        <span class="font-11 font-400 ml-2">Very High Risk</span>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="text-box w-40">
                      <p>Contracted RPO</p>
                    </div>
                    <div class="text-box w-40">
                      <p class="text-left">1 min</p>
                    </div>
                    <div class="text-box w-20">
                      <div class="color-tier d-flex align-items-center justify-content-start">
                        <div class="circle orange-circle p-2"></div>
                        <span class="font-11 font-400 ml-2">High Risk</span>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="text-box w-40">
                      <p>Contracted TPS</p>
                    </div>
                    <div class="text-box w-40">
                      <p class="text-left">100 TPS</p>
                    </div>
                    <div class="text-box w-20">
                      <div class="color-tier d-flex align-items-center justify-content-start">
                        <div class="circle orange-circle p-2"></div>
                        <span class="font-11 font-400 ml-2">High Risk</span>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="text-box w-40">
                      <p>Contracted Response Time</p>
                    </div>
                    <div class="text-box w-40">
                      <p class="text-left">1 m/s</p>
                    </div>
                    <div class="text-box w-20">
                      <div class="color-tier d-flex align-items-center justify-content-start">
                        <div class="circle orange-circle p-2"></div>
                        <span class="font-11 font-400 ml-2">High Risk</span>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="text-box w-40">
                      <p>Support Hours</p>
                    </div>
                    <div class="text-box w-40">
                      <p class="text-left">24/7</p>
                    </div>
                    <div class="text-box w-20">
                      <div class="color-tier d-flex align-items-center justify-content-start">
                        <div class="circle green-1 p-2"></div>
                        <span class="font-11 font-400 ml-2">Low Risk</span>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="text-box w-40">
                      <p>Party Type</p>
                    </div>
                    <div class="text-box w-40">
                      <p class="text-left">3rd Party</p>
                    </div>
                    <div class="text-box w-20">
                      <div class="color-tier d-flex align-items-center justify-content-start">
                        <div class="circle green-1 p-2"></div>
                        <span class="font-11 font-400 ml-2">Low Risk</span>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="card-body">
                  <div class="incident-response">
                    <h6 class="mb-4">Incident Response & Restoration</h6>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th class="border-0 text-light-grey font-12 pl-0">Incident</th>
                            <th class="border-0 text-light-grey font-12 pl-0">Severity 1</th>
                            <th class="border-0 text-light-grey font-12 pl-0">Severity 2</th>
                            <th class="border-0 text-light-grey font-12 pl-0">Severity 3</th>
                            <th class="border-0 text-light-grey font-12 pl-0">Severity 4</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="border-0 pl-0 font-12">Incident Response SLA</td>
                            <td class="border-0 pl-0 font-12">
                              <div class="color-tier d-flex align-items-center justify-content-start">
                                <div class="circle red-circle p-2"></div>
                                <span class="font-11 font-400 ml-2">20 Mins</span>
                              </div>
                            </td>
                            <td class="border-0 pl-0 font-12">
                              <div class="color-tier d-flex align-items-center justify-content-start">
                                <div class="circle green-1 p-2"></div>
                                <span class="font-11 font-400 ml-2">20 Mins</span>
                              </div>
                            </td>
                            <td class="border-0 pl-0 font-12">
                              <div class="color-tier d-flex align-items-center justify-content-start">
                                <div class="circle yellow-circle p-2"></div>
                                <span class="font-11 font-400 ml-2">20 Mins</span>
                              </div>
                            </td>
                            <td class="border-0 pl-0 font-12">
                              <div class="color-tier d-flex align-items-center justify-content-start">
                                <div class="circle green-1 p-2"></div>
                                <span class="font-11 font-400 ml-2">20 Mins</span>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td class="border-0 pl-0 font-12">Incident Response SLA</td>
                            <td class="border-0 pl-0 font-12">
                              <div class="color-tier d-flex align-items-center justify-content-start">
                                <div class="circle red-circle p-2"></div>
                                <span class="font-11 font-400 ml-2">20 Mins</span>
                              </div>
                            </td>
                            <td class="border-0 pl-0 font-12">
                              <div class="color-tier d-flex align-items-center justify-content-start">
                                <div class="circle green-1 p-2"></div>
                                <span class="font-11 font-400 ml-2">20 Mins</span>
                              </div>
                            </td>
                            <td class="border-0 pl-0 font-12">
                              <div class="color-tier d-flex align-items-center justify-content-start">
                                <div class="circle yellow-circle p-2"></div>
                                <span class="font-11 font-400 ml-2">20 Mins</span>
                              </div>
                            </td>
                            <td class="border-0 pl-0 font-12">
                              <div class="color-tier d-flex align-items-center justify-content-start">
                                <div class="circle green-1 p-2"></div>
                                <span class="font-11 font-400 ml-2">20 Mins</span>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="card-body">
                  <div class="incident-response">
                    <h6 class="mb-4">4th Party Suppliers</h6>
                    <div class="4th-party-supplier-box d-flex align-items-center justify-content-between mb-2">
                      <div class="w-50 d-flex align-items-center justify-content-between mr-md-5 mr-2">
                        <span class="text-black font-12">Supplier Name Goes Here</span>
                        <a href="#" class="text-decoration-none text-black font-12">View Details</a>
                      </div>
                      <div class="w-50 d-flex align-items-center justify-content-between ml-md-5 ml-2">
                        <span class="text-black font-12">Supplier Name Goes Here</span>
                        <a href="#" class="text-decoration-none text-black font-12">View Details</a>
                      </div>
                    </div>
                    <div class="4th-party-supplier-box d-flex align-items-center justify-content-between mb-2">
                      <div class="w-50 d-flex align-items-center justify-content-between mr-md-5 mr-2">
                        <span class="text-black font-12">Supplier Name Goes Here</span>
                        <a href="#" class="text-decoration-none text-black font-12">View Details</a>
                      </div>
                      <div class="w-50 d-flex align-items-center justify-content-between ml-md-5 ml-2">
                        <span class="text-black font-12">Supplier Name Goes Here</span>
                        <a href="#" class="text-decoration-none text-black font-12">View Details</a>
                      </div>
                    </div>
                    <div class="4th-party-supplier-box d-flex align-items-center justify-content-between mb-2">
                      <div class="w-50 d-flex align-items-center justify-content-between mr-md-5 mr-2">
                        <span class="text-black font-12">Supplier Name Goes Here</span>
                        <a href="#" class="text-decoration-none text-black font-12">View Details</a>
                      </div>
                      <div class="w-50 d-flex align-items-center justify-content-between ml-md-5 ml-2">
                        <span class="text-black font-12">Supplier Name Goes Here</span>
                        <a href="#" class="text-decoration-none text-black font-12">View Details</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Second Tab End-->

        <!-- Third Tab Start-->
        <div class="tab-pane fade" id='medium_risk'>
        </div>
        <!-- Third Tab End -->

        <!-- Fourth Tab Start -->
        <div class="tab-pane fade" id='low_risk'>
        </div>
        <!-- Fourth Tab End -->
      </div>
      <div class="card-footer text-center bg-white">
        <a class="font-12 text-capitalize font-600 border-bottom-black text-dark text-decoration-none" href="/organisation/graphs/business_service_tiers">view all</a>
      </div>
    </div>
  </div>
</div>
