<div class="row mt-4">
  <div class="col-md-12">
    <div class="card border-0 shadow-sm rounded-50">
      <div class="text px-4 py-4 d-flex justify-content-between align-items-center">
        <h2 class="card-heading font-18 font-600 text-left">System & Supplier Breakdown</h2>
        <!-- <i class="fa fa-ellipsis-v mx-1 text-right card-heading-icon" aria-hidden="true"></i> -->
      </div>
      <div class="tab-content px-4 mb-4">
        
        <!-- Zero Tabs Start -->
        <div class="tab-pane fade active show" id='all_risk'>
          <div id="supplier-system-breakdown" class="lazy-graph" data-key="supplier_system_breakdown" data-args="<%= { bsl: @bsl.id }.to_json %>" data-append-to="supplier-system-breakdown" data-partial-name="system_suppliers_subsection">
            <%= render 'organisation/graphs/partials/system_suppliers_subsection', data: {} %>
          </div>
        </div>
        <!-- Zero Tabs End -->
      </div>
      <div class="card-footer text-center bg-white">
        <a class="font-12 text-capitalize font-600 border-bottom-black text-dark text-decoration-none" href="/organisation/graphs/business_service_tiers">view all</a>
      </div>
    </div>
  </div>
</div>
