<div id='cloud-service-provider' class="new-dashboard new-cloud-dashboard">
  <div class="row no-gutters">
    <div class="col-sm-12 px-1">
      <div class="d-flex justify-content-between align-items-center flex-wrap">
        <div class="left d-flex align-items-center flex-wrap">
          <div class="mr-4 back-btn mb-xs-2">
            <%= render 'layouts/partials/shared/redirect_back', path: organisation_dashboard_index_path %>
          </div>
          <h2 class="font-600 font-sm-18 font-25 text-capitalize">Cloud Service Provider Dashboard</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="secondary-sidebar-icon d-none">
    <%= image_pack_tag 'media/images/dots.png' %>
    <!-- <i class='fa fa-ellipsis-v fa-1x font-18'></i> -->
  </div>
  <%= render 'organisation/dashboard/partials/segmentation_options', path: cloud_service_provider_breakdown_organisation_dashboard_break_downs_path %>
  <div class="row mt-5 no-gutters">
    <div class="col-sm-3 col-xxl-2 px-1">
      <aside class="fixed-secondary-sidebar position-static" id='sticky-sidebar-demo'>
        <i class="fa fa-times-circle fa-1x d-none font-20"></i>
        <ul class="p-0 list-unstyled inner-wrapper-sticky mb-0 mr-4">
          <li class="links active-white mb-2 mb-sm-3">
            <a href="#section1" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">overview</a>
          </li>
          <li class="links mb-2 mb-sm-3">
            <a href="#section2" class=" text-decoration-none text-capitalize font-13 font-xxl-14 d-block py-2">Provider Breakdown</a>
          </li>
        </ul>
      </aside>
    </div>
    <div class="col-sm-9 col-xxl-10 px-1" id="cloud-service-provider-wrapper">
      <%= render 'organisation/dashboard_break_downs/partials/cloud_service_provider_wrapper', filters: params.dig(:filters) || {} %>
    </div>
  </div>
</div>
