<div id="system-supplier-resilience-indicator">
  <div class="row no-gutters">
    <div class="col-sm-12 px-1">
      <div class="d-flex justify-content-between align-items-center flex-wrap">
        <div class="left d-flex align-items-center flex-wrap">
          <div class="mr-4 back-btn mb-xs-2">
            <%= render 'layouts/partials/shared/redirect_back', path: organisation_dashboard_index_path %>
          </div>
          <h2 class="font-600 font-sm-18 font-25 text-capitalize">Supplier Conformance with Impact Tolerances</h2>
        </div>
        <div class="right d-flex mt-3 mt-lg-0">
         <!--  <div class="white-btn d-flex align-items-center pl-2 mr-2 rounded-50 px-3 pr-2 py-2 cursor-pointer">
            <span><i class='fa fa-save font-16 mr-2'></i></span>
            <span class="text-capitalize font-12 font-xxl-14 font-600">save view</span>
          </div>
          <div class="white-btn p-1 d-flex align-items-center rounded-50 cursor-pointer">
            <i class="fa fa-ellipsis-v px-2 mx-1"></i>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="secondary-sidebar-icon d-none">
    <%#= image_pack_tag 'media/images/dots.png' %>
  </div>
  <div class="row mt-5 no-gutters">
    <div class="col-sm-3 col-xxl-2 px-1">
      <%= render 'organisation/dashboard_break_downs/partials/system_supplier_resilience_sidebar' %>
    </div>
    <div class="col-sm-9 col-xxl-10 px-1">
      <%= render 'organisation/dashboard_break_downs/partials/supplier_resilience_segmentation_options' %>
      <div id='breakdown-wrapper'>
        <%= render 'organisation/dashboard_break_downs/partials/supplier_conformace_wrapper', impact_tolerance_breakdowns: @impact_tolerance_breakdowns, conformant_suppliers: @conformant_suppliers, non_conformant_suppliers: @non_conformant_suppliers, filters: params.dig(:filters) || {} %>
      </div>
    </div>
  </div>
</div>
<div id="breakdown-modal-section"></div>
