$primary-green: #6BEAB3;
$secondary-green: #367C5C;
$ternary-green: #CDFAF1;
$body-bg-color: #F3F5FA;
$black: #000000;
$light-black: #737373;
$white: #ffffff;
$light-white: #fafbff;
$light-grey: #bbbbbb;
$lightest-grey: #e4e4e4;
$medium-grey: #999999;
$dark-grey: #717070;
$pink: #FCEAEB;
$red :#E4412E;
$dark-yellow: #E39A2B;
$yellow: #FFD730;
$error: #C03131;
$similar-black: #040605;